[2022-08-05 02:57] d10sfan commented on #711
Since this is related to a game/engine, this has been moved to the packages repo.

Looks like this is the latest commit that was used for Windows, I'll work on updating to that: https://github.com/dxx-rebirth/dxx-rebirth/commit/d1ed53ebd9cb9bad753c5e25331a184461338d9e

[2022-08-05 03:41] agibson2 commented on #711
Thanks!  I didn't realize there was a packages repo... I should have checked.  I just want to say a big thank you for this work.  I have been playing a lot Steam Deck because of your work.  Playing a good updated version of d1 and d2 on Steam Deck is really amazing and was super easy with luxtorpeda.  Windows needs a windorspeda to get rebirth to the rest of the masses :).

[2022-08-05 14:03] d10sfan commented on #711
No worries :)

And thanks, I appreciate that!

The updated build is now live, let me know how that goes.

[2022-08-05 14:03] #711 closed

[2022-08-05 21:35] agibson2 commented on #711
It works.  I was able to join others on the Descent Discord channel without a protocol error.  Thanks!

[2022-08-06 10:53] rea987 commented on #353
@d10sfan  Here are mirrors for `etqw_1.5-multilingual_x86.mojo.run`:

- https://files.holarse-linuxgaming.de/native/Spiele/Enemy%20Territory%3A%20Quake%20Wars/LIFLG-Installer/etqw_1.5-multilingual_x86.mojo.run
- http://etqw.taw.net/qw/etqw_1.5-multilingual_x86.mojo.run

Renamig the file as `etqw_1.5-multilingual_x86.mojo.zip` makes its content accesable for copying.

[2022-08-07 19:07] rea987 commented on #353
It is also worth noting to use system's own or Steam Linux Runtime's libraries instead of included following libraries;

- libgcc_s.so.1
- libjpeg.so.62
- libstdc++.so.6
- libSDL-1.2.id.so.0 (better be sdl12-compat)

[2022-08-10 19:32] d10sfan opened #714 "Doom II Changes"
https://steamdb.info/app/2300/history/

Recently, the steam setup for Doom II was changed so that more exp packs were put under the umbrella of one game, so the luxtorpeda options should be updated to be able to match the launch options picked in steam (use the command match inside the options, so they pick the launch option in steam and then get the various doom engines)).

Verify what happens wi

[2022-08-11 02:11] d10sfan commented on #714
Done with the following commits:

https://github.com/luxtorpeda-dev/packages/commit/bc5ccb404fa88755df9a67b28b7bcf27ee4667ba
https://github.com/luxtorpeda-dev/packages/commit/9682987a377b365641242453a558ccb3ff35dcaa
https://github.com/luxtorpeda-dev/packages/commit/1aa554f47be9cc1e1b710c451b4b0858f182b3ce
https://github.com/luxtorpeda-dev/packages/commit/15eb1fc5b23f4b23a14328da708b618b7bd382c8
ht

[2022-08-11 20:05] d10sfan opened #715 "Quake II Changes"
Quake II was updated to have all expansion packs as part of one steam game - https://steamdb.info/app/2320/config/

[2022-08-11 20:23] d10sfan commented on #715
Done with https://github.com/luxtorpeda-dev/packages/commit/5ce5631b940b946cf9cae7094b7519ad8c3bb20b

[2022-08-11 20:23] #715 closed

[2022-08-14 11:12] Jademalo opened #716 "RuneLite plugins run into issues when run through Steam"
### Game

Old School Runescape

### Engine

Runelite

### Linux Distribution

Steam Deck 3,3

### Luxtorpeda Version

v56

### Bug description

When running the game through luxtorpeda on Steam, the KeePassXC plugin doesn't work.
https://github.com/abextm/keepassxc-runelite

This works fine if running the appimage directly as well as the scripts luxtorpeda uses, but fails if automatically running

[2022-08-15 04:37] d10sfan commented on #716
@Jademalo

It sounds like this plugin is in two parts, a browser extension (that I'm assuming would be run on the steam deck's firefox, and the game plugin. Is that correct?

luxtorpeda by design runs inside the steam linux runtime (soldier), which has an isolation from the rest of the system. Because of that, it can't find applications installed at the normal system.

Do the changes that they men

[2022-08-15 12:01] Jademalo commented on #716
The game plugin *is* the browser extension, and there's also the KeePassXC software.
The plugin implements itself as a Chromium browser extension to be able to communicate with KeePassXC.

I didn't realise luxtorpeda ran in soldier, that probably explains it. My setup to run it was `~/.local/bin/keepassxc & %command%`, which I'm assuming is running keepass outside of soldier so the plugin can't co

[2022-08-15 14:38] d10sfan commented on #716
OK, that makes sense. I'll go ahead and close this, but if you end up finding any way to make it work inside luxtorpeda, feel free to comment here!

[2022-08-15 14:38] #716 closed

[2022-08-18 15:43] neuromancer opened #717 "Doom64"
### Project Link

https://github.com/atsb/Doom64EX-Plus

### Project License

GPL2

### Steam App Ids

https://store.steampowered.com/app/1148590/DOOM_64/

### Additional Context

It could require a few steps to convert the provided data into the format needed by this reimplementation.

[2022-08-18 15:48] d10sfan commented on #717
@neuromancer I dont see how this could be used with the Steam version, do you know of a way that could convert the data from the steam version into something that this could use?

I saw that someone created a Windows exe a while back to convert for doom64ex, but it's out of date from last I saw, and that wouldn't be easily run, since it isn't native.

[2022-08-18 16:20] neuromancer commented on #717
Let me do a little research on this one

[2022-08-18 17:21] neuromancer commented on #717
I already asked for a [feature request](https://github.com/atsb/Doom64EX-Plus/issues/5). In the meantime, I did some experiment with binary patching using xdelta. The file provided by Steam has around 15MB and the one required by Doom64ex is around 8MB (it features less content, in fact). A binary patch between these is 2.3 MB so they clearly share a lot, but I don't know if this is an acceptable

[2022-08-19 18:02] d10sfan commented on #717
@neuromancer If we have to somehow have the one required by the engine, then probably not, since that would make it unusable for most people. If this is doable with some script that can do it to the steam wad, without needing the one that is normally used from the rom, that's preferred.

[2022-08-19 22:09] neuromancer commented on #717
The binary patch allows to obtain the required WAD for Doom64ex0 from the one provided in Steam. The question is if distributing a 2.3 MB file which will contain some part required WAD file (which is part of the original Doom64 ROM) is legal or not in this context.

[2022-08-20 01:45] d10sfan commented on #717
I don't think so personally, hopefully there's another way.

[2022-08-21 02:23] KawaiiDinosaur opened #719 "Sonic Mania"
### Project Link

https://github.com/Rubberduckycooly/Sonic-Mania-Decompilation

### Project License

None

### Steam App Ids

https://steamdb.info/app/584400/

### Additional Context

Native > Proton

[2022-08-21 12:53] d10sfan commented on #719
These sort of projects are in a strange place legally so I prefer not to use them, especially since there is no license. You can if you want use their releases or build their code and then use the user packages feature to add custom games to the client.

[2022-08-21 12:53] #719 closed

[2022-08-22 16:10] vaibhavrmahadevan commented on #714
@d10sfan oh so the older standalone titles (Master Levels and Final Doom) will cease to have luxtorpeda support? :pensive:

[2022-08-23 19:28] d10sfan commented on #714
@vaibhavrmahadevan I had assumed that they would be giving access to doom 2 for those who already own final doom, which does not appear to be the case. Doom 2 is on sale, but I will look into bringing support back for those titles.

[2022-08-24 01:27] d10sfan opened #720 "New Quake Game Engines"
Quake - https://github.com/ezQuake/ezquake-source
Quake II - https://github.com/skullernet/q2pro
Quake III - https://playmorepromode.com/downloads

[2022-08-24 01:52] d10sfan commented on #714
@vaibhavrmahadevan Those should work again now, for those who do not own Doom II.

https://github.com/luxtorpeda-dev/packages/commit/bc0c986552ab7c85fbc587186f4d1be0d00f9f8b
https://github.com/luxtorpeda-dev/packages/commit/261ee41d16d0273371383360bbe500ab5456898e
https://github.com/luxtorpeda-dev/packages/commit/c7c8b1d64210a2e4b0c29c0f2053d92deba6b31d
https://github.com/luxtorpeda-dev/packages/c

[2022-08-24 01:52] #714 closed

[2022-08-24 05:32] vaibhavrmahadevan commented on #714
@d10sfan Thank you so much!

I really appreciated the move to simplify the store listings but I felt Final Doom and the Master Levels having their own play time separate from Doom II was better being the needless pedant that I am 😔

[2022-08-24 12:06] vaibhavrmahadevan commented on #714
@d10sfan I am so sorry to trouble you again but the options for the Master Levels (9160) are not launching, one of the reasons I feel may be due to doom-complete.pk3 not being generated.

[2022-08-25 02:26] d10sfan commented on #714
@vaibhavrmahadevan Could you provide a log of this? Easiest way to do that is to run steam in a terminal window and then attempt to launch the game.

[2022-08-25 02:27] d10sfan commented on #717
Closing this for now, but feel free to comment if you find a way that'll be workable.

[2022-08-25 03:53] d10sfan commented on #720
https://github.com/luxtorpeda-dev/packages/commit/47397889fb1c273da46c75215a6b1f06af151825

[2022-08-25 08:21] vaibhavrmahadevan commented on #714
@d10sfan [Master Levels for DOOM II.txt](https://github.com/luxtorpeda-dev/packages/files/9422874/Master.Levels.for.DOOM.II.txt)

[2022-08-25 13:56] d10sfan commented on #714
@vaibhavrmahadevan Can you try it now? It looks like qzdl wasn't downloaded the most up to date version for master levels, which should be fixed now.

[2022-08-25 16:45] vaibhavrmahadevan commented on #714
@d10sfan tried to launch all options two hours ago and just before but still not launching :(

[2022-08-25 16:56] d10sfan commented on #714
@vaibhavrmahadevan Can you send me logs from trying with gzdoom?

[2022-08-25 17:33] vaibhavrmahadevan commented on #714
@d10sfan [GZDoom.txt](https://github.com/luxtorpeda-dev/packages/files/9427043/GZDoom.txt)

[2022-08-26 01:05] d10sfan commented on #714
@vaibhavrmahadevan That should be fixed about an hour after this comment. Let me know how it goes!

The problem was that the script wasn't setup as executable, when I copied the new one. It should be fixed now, thanks for the issue report.

[2022-08-26 11:21] vaibhavrmahadevan commented on #714
@d10sfan yay! it worked!

I suspected the same while comparing the scripts with the ones in DOOM II and tried enabling it in the properties several times but alas :(

[2022-08-26 16:37] DuendeInexistente opened #722 "Daggerfall unity not launching"
### Game

The Elder Scrolls: Daggerfall

### Engine

Daggerfall Unity

### Linux Distribution

Ubuntu 22, 64 bits

### Luxtorpeda Version

57

### Bug description

Daggerfall isn't launching.

### Steps To Reproduce

Trying to launch it.

### Expected Behavior

It launching.

### Additional Context

_No response_

### Relevant log output

[code]

[2022-08-26 17:09] DuendeInexistente opened #723 "Half Life: Entropy Zero asks to locate a folder with a file that doesn't exist"
### Game

Half Life: Entropy Zero

### Engine

Half Life SDK 2013

### Linux Distribution

64 bits ubuntu 22

### Luxtorpeda Version

57

### Bug description

Trying to launch Entropy Zero through luxtorpeda, there's a prompt where I have to find the steam runtime folder and that it should have a file named ``scout-on-soldier-entry-point-v2``. This file doesn't exist anywhere in my .steam folder (

[2022-08-26 17:57] d10sfan commented on #723
Closing as duplicate of https://github.com/luxtorpeda-dev/packages/issues/722, as it relates to the same issue.

[2022-08-26 17:57] #723 closed

[2022-08-26 18:01] d10sfan commented on #722
@DuendeInexistente It looks like for both Daggerfall and Entropy Zero, the issue is that the scout-on-soldier-entry-point-v2 file is missing. You should have this installed  - https://steamdb.info/app/1070560/history/

which provides a SteamLinuxRuntime folder. This should be detected by an automatic steam app installation detection, to find the right folder, where when it asks you is a fallback.

[2022-08-28 15:53] DuendeInexistente commented on #722
Oh, I had SLR- Soldier installed but not the base package. Installing it let daggerfall launch just fine.

For anyone else who wanders here, clicking the steamdb link above's Install didn't make anything happen, I had to go to steam and manually enable tools in the library to get the runtime appear for installation.

[2022-08-28 19:12] garrett85 opened #729 "Luxtorpeda/ScummVM, running Thief I"
Some games I'm able to run just fine with Luxtorpeda, I just got through playing Blood on my Linux system using Luxtorpeda and it worked fine. After setting the compatability mode to Lux in the Manage settings in Steam all I had to do was click Play and the game launched, I'm not having the same kind of luck with Thief I. When I try the same thing with Thief I, after clicking Play a menu comes up

[2022-08-28 21:04] JoshuaFern opened #725 "openxray: lib/xrCore.so: cannot allocate memory in static TLS block"
### Game

S.T.A.L.K.E.R.: Call of Pripyat (41700)

### Engine

openxray

### Linux Distribution

NixOS/Flatpak/Nvidia/Wayland

### Luxtorpeda Version

55

### Bug description

Game crashes with error: `./xr_3da: error while loading shared libraries: lib/xrCore.so: cannot allocate memory in static TLS block`

### Additional Context

When entering a the Steam Flatpak environment with `flatpak run --

[2022-08-28 21:15] JoshuaFern opened #726 "ftequakeworld: vulkan graphics driver does not support VK_PRESENT_MODE_IMMEDIATE_KHR"
### Game

Quake (2310)

### Engine

ftequakeworld

### Linux Distribution

NixOS/Flatpak/Nvidia/Wayland

### Luxtorpeda Version

55

### Bug description

Game crashes with: `vulkan graphics driver does not support VK_PRESENT_MODE_IMMEDIATE_KHR`

### Additional Context

Using an Nvidia card, might be a Vulkan limitation of the drivers but I'm currently using the latest `515.65.01`.

A workaround mi

[2022-08-28 21:25] JoshuaFern opened #727 "doomsday: SEGV on Wayland"
### Game

DOOM 1993 (2280)

### Engine

doomsday

### Linux Distribution

NixOS/Flatpak/Nvidia/Wayland

### Luxtorpeda Version

55

### Bug description

Crashes on startup.

### Additional Context

Looks wayland related, not sure otherwise.

### Relevant log output

The number of install lines surpassed my terminal's scrollback buffer so I truncated the logs a bit:

[code]

Coredump reads as follo

[2022-08-28 21:29] JoshuaFern opened #728 "ezquake: gdb: command not found"
### Game

Quake (2310)

### Engine

ezquake

### Linux Distribution

NixOS/Flatpak/Nvidia/Wayland

### Luxtorpeda Version

55

### Bug description

Game crashes on startup with the error: `./ezquake/ezquake.sh: line 27: gdb: command not found`

### Additional Context

Curious why the game should need gdb to run.

### Relevant log output

[code]
[code]

[2022-08-28 21:40] d10sfan commented on #728
@JoshuaFern Thanks for the issue! I had accidentally left that gdb in when testing something, I've removed it so in a few minutes it should be working.

[2022-08-28 21:40] #728 closed

[2022-08-28 21:42] d10sfan commented on #729
@garrett85 Are you talking about Thief Gold, or a different game? I had to transfer this to the packages repo, as this is related to a engine package, not the client.

Can you send some information showing that ScummVM supports that game?

[2022-08-28 21:48] JoshuaFern opened #730 "Entropy Zero: Crashing on Startup"
### Game

Entropy : Zero (714070)

### Engine

source-sdk-2013

### Linux Distribution

NixOS/Flatpak/Nvidia/Wayland

### Luxtorpeda Version

55

### Bug description

Game crashes on startup.

### Additional Context

Game window appears for a moment before crashing. Seems to be game specific as other Source Engine games like Fast Detect work fine. Maybe it had an update that made it no longer comp

[2022-08-28 21:52] JoshuaFern commented on #546
Still having this issue.

[2022-08-28 22:00] JoshuaFern commented on #728
Thanks, seems to be working now.

[2022-08-28 22:01] d10sfan commented on #546
@JoshuaFern there is a new version in the works but I believe it hasn't been officially released yet though. I don't believe I can do anything about this but let me know if you think of any ideas.

[2022-08-28 22:17] agibson2 opened #731 "Update dxx-rebirth (Descent 1 and Descent 2) to git commit 366b048 (fix protocol mismatch on multiplayer games)"
### Game

dxx-rebirth (Descent 1 and Descent 2 on Steam)

### Engine

Native?

### Linux Distribution

SteamOS 3.3 (Steam Deck)

### Luxtorpeda Version

Not sure how to check Luxtorpeda version on Steam Deck

### Bug description

Dxx-rebirth has published a new Windows build on their website.  They reference git commit on (https://github.com/dxx-rebirth/dxx-rebirth/commit/366b048879d62a3096357509f

[2022-08-29 00:12] agibson2 commented on #731
There is a discussion about how dxx-rebirth handles updates and how they post them.  They are asking if there are any minor changes that might help Luxtorpeda be able to keep things updated to the current build.  I don't have enough experience in either projects to comment on that but wanted to make it know in case someone at Luxtorpeda would have an opinion.

https://github.com/dxx-rebirth/dxx-re

[2022-08-29 02:36] d10sfan commented on #731
@agibson2 I've updated dxx-rebirth to the commit you gave. It should be live about 20-30 minutes after this comment. I rely on github releases to email me and/or people notifying me when there's new releases. I'll comment on that ticket to see if they could do github releases in the future.

In the meantime, if they have a release, feel free to comment in this ticket about it.

[2022-08-29 02:42] d10sfan commented on #731
@agibson2 There's a compile issue with the most recent release, so it may take more time than I thought. I'll update here once I've completed it.

[2022-08-29 02:44] d10sfan commented on #731
@agibson2 You can use this PR to track the progress of it, once it's merged it'll be live: https://github.com/luxtorpeda-dev/packages/pull/732

[2022-08-29 02:44] #731 closed

[2022-08-29 03:01] d10sfan commented on #730
@JoshuaFern It looks like the game hasn't been updated in many years, I just tried it in my setup (nvidia x11 without flatpak) and it worked fine.

It may be something related to being inside the flatpak env, do you have an easy way to test out of it, but still running the game through steam?

It's interesting that this one is the only one that has issues, compared to the other source sdk games, a

[2022-08-29 03:03] d10sfan commented on #727
@JoshuaFern Is this running through wayland or xwayland? The engine itself might not support wayland itself. If you're using wayland directly, do you have a way of trying xwayland?

[2022-08-29 03:07] d10sfan commented on #726
@JoshuaFern It looks like from the trace, it tried to load opengl, failed, then tried loading vulkan, and is using lavapipe for some reason. This could be the reason for the missing extension, as it's not using your graphics card. That may also be the cause of the crash as well.

I'm not sure what could cause the libraries not to load properly, it's possible something is going wrong with running i

[2022-08-29 03:11] d10sfan commented on #725
@JoshuaFern Interesting, it's strange that what should be the same environment (running steam flatpak from the command line) does not work when run from steam.

Could you try running ldd for both cases? It should look something like this:

[code]

For running inside steam, one way to do that would be to edit the archived file in the cache directory, looking for the run-openxray.sh file and then la

[2022-08-29 03:53] d10sfan commented on #722
@DuendeInexistente Thanks for the update, I've added an error that'll show up for the future for this case, so it'll be easier to see what the issue is. Glad it's working for you now!

[2022-08-29 03:53] #722 closed

[2022-08-29 19:20] JoshuaFern commented on #725
Steam:
[code]

Non-Steam:
[code]

[2022-08-29 20:09] d10sfan commented on #725
@JoshuaFern At a glance from this, the only things that jump out are the steam overlay, along with libGL.so.1, libGLX.so.0, and libGLdispatch.so.0.

Not sure why those (other than the steam overlay) are not being loaded in the non-steam case. Are you able to confirm that the same configuration is used in both cases?

[2022-08-29 20:17] JoshuaFern commented on #725
@d10sfan I actually have Steam overlay disabled, but it seems to be inserted anyways. What configuration am I looking for?

I wanted to see if maybe it was a difference in environment variables, so I grabbed the Steam variables and the Non-Steam variables via `set` and created a list sorted in vim and removed blocks of duplicates. Then I put all those unique environment variables into the `run-ope

[2022-08-29 20:42] d10sfan commented on #725
@JoshuaFern Mostly curious about the game's configuration, I believe it's stored in the game directory, so it probably wouldn't change anyways.

I'm not sure what's going on here, it's possible that something with launching from team is causing the issue, but not sure what that might be.

If you launch the game using luxtorpeda without steam, through the same interface you showed, does that give y

[2022-08-29 20:50] JoshuaFern commented on #725
First I did `export SteamAppId=41700` then ran `/home/jdf/.var/app/com.valvesoftware.Steam/.local/share/Steam/ubuntu12_32/reaper SteamLaunch AppId=41700 -- /home/jdf/.var/app/com.valvesoftware.Steam/.local/share/Steam/ubuntu12_32/steam-launch-wrapper -- '/home/jdf/.var/app/com.valvesoftware.Steam/.local/share/Steam/steamapps/common/SteamLinuxRuntime_soldier'/_v2-entry-point --verb=waitforexitandru

[2022-08-29 20:57] d10sfan commented on #725
@JoshuaFern Is that running inside or outside of flatpak?

[2022-08-29 20:57] JoshuaFern commented on #725
Inside, using `flatpak run --command=/bin/bash com.valvesoftware.Steam`

[2022-08-29 21:01] d10sfan commented on #725
@JoshuaFern Ah ok, not sure what is going on here, since it works outside of steam but not in steam in what should be the same environment.

[2022-08-29 21:13] d10sfan commented on #725
@JoshuaFern This is kind of interesting (https://github.com/microsoft/mimalloc/issues/147).

You can see that the current verison being used has a version of mimalloc - https://github.com/OpenXRay/xray-16/tree/1dc1c10508f6f7c9364149589cad8997d3aed6c2/Externals

Wondering if you're getting hit by a similar issue. If you are able to build, it may be useful for you to try different variations of ways

[2022-08-29 21:15] JoshuaFern commented on #725
I found a huge clue, turns out when you run Steam in a Flatpak it uses a wrapper. If I go into the Flatpak environment manually with `flatpak run --command=/bin/bash com.valvesoftware.Steam` I can bypass the wrapper by just running `steam` and the game works fine. There's something in the wrapper that's causing the change that generates this issue. https://github.com/flathub/com.valvesoftware.Stea

[2022-08-29 21:47] JoshuaFern commented on #725
I started editing the wrapper, removing lines and testing to see what was causing the issue.
It seems to be configure_shared_library_guard() https://github.com/flathub/com.valvesoftware.Steam/blob/f75f45d1a177ce79c0f7269e6dbefc7ee3f92e41/steam_wrapper/steam_wrapper.py#L512

[2022-08-30 00:25] d10sfan commented on #725
@JoshuaFern interesting that seems to add a LD_AUDIT library to the environment variables. It may be worthwhile to try removing it from the env in the script to see if it can be removed after the fact for one particular game. I guess if not, then we could make a notice about needing to run flatpak steam with the SHARED_LIBRARY_GUARD set to 0, if that works.

[2022-08-30 00:39] JoshuaFern commented on #725
Seems to work, just editing the run script with `LD_LIBRARY_PATH="lib:$LD_LIBRARY_PATH" LD_AUDIT="" ./xr_3da -fsltx fsgame.ltx "$@"`

[2022-08-30 01:29] JoshuaFern commented on #726
I have xwayland. I don't know any way to "force" it, although software can often be coaxed into running in x11 mode with environment variables.

For the moment I found an acceptable workaround: `./fteqw64 +set vid_renderer gl "$@"` in the launch script does the trick.

[2022-08-30 01:37] d10sfan commented on #725
@JoshuaFern Ok, I don't think that should hurt anything to change it, so I've committed that change: https://github.com/luxtorpeda-dev/packages/commit/b64bf7d2c04db489b1ad4895ef5716ccc102350a

It should be live about an hour after this comment. You can also see progress here: https://github.com/luxtorpeda-dev/packages/actions/runs/2952950616

Let me know how that goes for you.

[2022-08-30 01:37] #725 closed

[2022-08-30 01:39] d10sfan commented on #726
@JoshuaFern Are you able to do that with the launch options inside steam (having %command + set vid_renderer gl)?

That would be a way to do it without having to change the launch options.

You may want to to report the vulkan issue to the developers of ftequakeworld, if you're able to replicate it outside the steam environment.

[2022-08-30 01:39] #726 closed

[2022-08-30 01:40] d10sfan commented on #730
@JoshuaFern I wonder if the same fix that worked for openxray could work here? Could you try and see if that solves the issue?

[2022-08-30 02:58] JoshuaFern commented on #725
Thanks, works fine.

[2022-08-30 18:55] JoshuaFern commented on #730
If memory serves, I've also run it on i3/Nvidia/Flatpak in the past and it worked then.

I can test the game in NixOS's native Steam which must use a special environment that respects the Linux Filesystem Hierarchy Standard because Nix stores files in a non-standard location.

Just gave it a try, it had the same result.

I think this is likely.

Just gave it a try, no dice.

[2022-08-30 19:13] JoshuaFern commented on #727
I have xwayland, it usually just works automatically for games that need it and I can tell if a game is running in xwayland or wayland using terminal commands but this game crashes before I can even check.

[2022-08-30 19:19] JoshuaFern commented on #726
The launch options work too.

Seems to be an issue only in the Steam runtime, if I run the binary directly it works fine.

[2022-08-30 20:07] JoshuaFern commented on #727
I was able to get it working with `QT_QPA_PLATFORM=xcb`

[2022-08-30 21:08] d10sfan commented on #727
@JoshuaFern it looks like that forces the game to run as x11 which makes sense. I should be able to add that to the launch scripts.

[2022-08-30 23:49] d10sfan commented on #727
@JoshuaFern I've added that change in https://github.com/luxtorpeda-dev/packages/commit/0ac963ddb1097e776938b03ed16fa208e89f38f3

Once this action is complete (https://github.com/luxtorpeda-dev/packages/actions/runs/2960344407), it'll be live. Let me know how it goes

[2022-08-30 23:49] #727 closed

[2022-08-30 23:49] #729 closed

[2022-08-31 02:09] Xottab-DUTY opened #734 "OpenXRay is feature complete for S.T.A.L.K.E.R.: Call of Pripyat"
Hi there!

Is it possible to mark the OpenXRay engine as feature complete for Call of Pripyat? (it always was, we don't need to update the package to a new engine version)

Clear Sky support implementation is not finished, though, so for this game it's not feature complete.

![image](https://user-images.githubusercontent.com/2989212/187576868-36b12f1c-047e-4eca-8a1e-362d08b9123e.png)

[2022-08-31 02:17] d10sfan commented on #734
@Xottab-DUTY Thanks for the issue and sure, I can do that! I'll update the issue once that's completed.

[2022-08-31 02:54] d10sfan commented on #720
https://github.com/luxtorpeda-dev/packages/commit/b71a85f3947e96ad39eb4494e25b710fa7e788aa

[2022-08-31 03:44] d10sfan commented on #720
https://github.com/luxtorpeda-dev/packages/commit/ac759461b7bfcfcf1b9f222d85be21b8be565cb0

[2022-08-31 03:44] #720 closed

[2022-08-31 03:59] d10sfan commented on #734
@Xottab-DUTY The change should be live now. You may need to clear cache to see it.

[2022-08-31 03:59] #734 closed

[2022-08-31 04:13] Xottab-DUTY commented on #734
@d10sfan thanks :)

[2022-08-31 20:05] d10sfan commented on #731
@agibson2 I've fixed the compile issue, so it should be ready in a few hours ([dxx-rebirth - Update to 366b048879d62a3096357509fc856dde1abfb7ff](https://github.com/luxtorpeda-dev/packages/commit/2ba088de0e703cbcaab8758d2ef7a2f57b7e5da9)).

Once this action is complete (https://github.com/luxtorpeda-dev/packages/actions/runs/2966717501), it will be live.

[2022-08-31 20:26] JoshuaFern commented on #727
Works, thank you.

[2022-09-01 00:30] agibson2 commented on #731
I got the update and tested it.  Works great multiplayer with the official .exe build on the dxx-rebirth website.  Multiplayer protocol 16 matches.  Thanks!

[2022-09-03 06:08] JoshuaFern commented on #730
I've given up on this for now, out of ideas and motivation.

[2022-09-03 06:08] #730 closed

[2022-09-04 06:45] dmrickey opened #736 "OpenMW Launcher woes"
### Linux Distribution

Steam Deck 3.3.1

### Luxtorpeda Version

59

### Bug description

I set Morrowind to launch "OpenMW Launcher (latest) with zoraster's shader". Every time I launch it asks if I want to run the importer wizard which should only happen the first time. If I skip the wizard, it takes me to an instance of the launcher that's different than if I go into the wizard and hit cancel.

[2022-09-04 15:41] d10sfan commented on #736
@dmrickey Since this is related to an engine, I've moved it to the packages repo.

The "latest" has a specific version in mind, so it won't be updating to a new one if that's what you mean.

When you say you skip the wizard, did you let the wizard complete at least once? Because that would be required for it to work, but it shouldn't ask you after that if it's successful.

Could you send a screens

[2022-09-04 18:18] dmrickey commented on #736
The wizard completed, it wouldn't have known where the Morrowind installation location was otherwise. But it kept prompting me to run the wizard even though it had run the first time.

I tried the "latest with zetesters shaders launcher" and "latest with zetesters _just openmw_" (non-launcher) to see if just running the executable would use the mods configured (it didn't). I didn't try any of the

[2022-09-05 19:48] d10sfan commented on #736
@dmrickey Yes, if you can try the non-latest launcher as a comparsion, that would be helpful.

[2022-09-11 06:57] coreybruce opened #737 "Add R.E.L.I.V.E for Abe's Oddysee and Oddworld: Abe's Exoddus."
### Feature Request

Add  R.E.L.I.V.E to Luxorpeda as it's a open source re-implementation engine for Abe's Oddysee and Oddworld: Abe's Exoddus which does a lot of fixes for the game and also  gives a native Linux version.

### Solution

Add  R.E.L.I.V.E to Luxorpeda
https://github.com/AliveTeam/alive_reversing

### Additional Context

_No response_

[2022-09-11 12:38] d10sfan commented on #737
I moved this to the packages repo. I try to avoid projects with unclear licensing, in this case because it's a reverse engineering project instead of building a custom implementation like most open source projects.

Because of this I won't be implementing this one but think you for the request. If you think of any other projects feel free to make a request in the packages repo.

[2022-09-11 12:38] #737 closed

[2022-09-11 15:40] coreybruce commented on #737
Ahh I see so is it because of the unclear licensing or the fact it's a re-implementation? because there is a lot of great re-implementation projects that would be great to add to this project.

[2022-09-11 19:38] d10sfan commented on #737
@coreybruce Mainly about it being a reverse engineering project, but also the fact there is not a license. Some of the reverse engineering projects provide licenses for their code, but I've seen issues with projects like that in the past. re3 is a good example.

[2022-09-11 19:47] coreybruce commented on #737
Yeah maybe if I asked them about the licencing than maybe that answer could change?

[2022-09-11 20:22] hfc2x opened #738 "Heretic: Shadow of The Serpent Riders modern port: Crispy Heretic"
### Project Link

https://github.com/fabiangreffrath/crispy-doom

### Project License

GPLv2

### Steam App Ids

https://steamdb.info/app/2390/

### Additional Context

This engine is vanilla-compatible, and therefore is compatible with Steam Cloud for saves. It's also multiplayer-compatible with Chocolate Heretic. It features enhancements like higher resolution, permanent mouselook, and totals in

[2022-09-11 20:24] d10sfan commented on #737
@coreybruce for this particular project I believe it's been asked already, a bit ago

[2022-09-11 20:24] hfc2x opened #739 "HeXen modern port: Crispy HeXen"
### Project Link

https://github.com/fabiangreffrath/crispy-doom

### Project License

GPLv2

### Steam App Ids

- https://steamdb.info/app/2360/
- https://steamdb.info/app/2370/

### Additional Context

This engine is vanilla-compatible, and therefore is compatible with Steam Cloud for saves. It's also multiplayer-compatible with Chocolate HeXen. It features enhancements like higher resolution, p

[2022-09-11 20:28] hfc2x opened #740 "Heretic: Shadow of The Serpent Riders modern port: International Heretic"
### Project Link

https://github.com/JNechaevsky/inter-doom

### Project License

GPLv2

### Steam App Ids

https://steamdb.info/app/2390/

### Additional Context

Modern port for Heretic: Shadow of The Serpent Riders that features enhancements such as freelook, completely customizable key bindings, brightmaps, totals in automap, full widescreen support, and many other optional visual and gameplay

[2022-09-11 20:29] hfc2x opened #741 "HeXen modern port: International HeXen"
### Project Link

https://github.com/JNechaevsky/inter-doom

### Project License

GPLv2

### Steam App Ids

- https://steamdb.info/app/2360/
- https://steamdb.info/app/2370/

### Additional Context

Modern port for HeXen that features enhancements such as freelook, completely customizable key bindings, brightmaps, totals in automap, full widescreen support, and many other optional visual and gamep

[2022-09-11 21:14] coreybruce commented on #737
Looks like they don't have a real licence yet but I'd they did it would be MIT

[2022-09-12 02:08] d10sfan commented on #738
@hfc2x Thanks for the request. I've finished this in https://github.com/luxtorpeda-dev/packages/commit/27aca86dcabbb2facc7f1d0cc63da3aa18b2a701

The next time you launch the game(s), it should show as an option. Let me know if you run into any issues.

[2022-09-12 02:08] #738 closed

[2022-09-12 02:08] d10sfan commented on #739
@hfc2x Thanks for the request. I've finished this in https://github.com/luxtorpeda-dev/packages/commit/27aca86dcabbb2facc7f1d0cc63da3aa18b2a701

The next time you launch the game(s), it should show as an option. Let me know if you run into any issues.

[2022-09-12 02:08] #739 closed

[2022-09-12 02:49] d10sfan commented on #741
@hfc2x Thanks for the request. I've finished this in https://github.com/luxtorpeda-dev/packages/pull/743

The next time you launch the game(s), it should show as an option. Let me know if you run into any issues.

[2022-09-12 02:49] #741 closed

[2022-09-12 02:49] d10sfan commented on #740
@hfc2x Thanks for the request. I've finished this in https://github.com/luxtorpeda-dev/packages/pull/743

The next time you launch the game(s), it should show as an option. Let me know if you run into any issues.

[2022-09-12 02:49] #740 closed

[2022-09-12 03:05] d10sfan commented on #736
@dmrickey I had a chance to look at it again and found the same issue, from a fresh start. Thanks for your patience on the fix.

I've got a commit (https://github.com/luxtorpeda-dev/packages/commit/5b0eb5c312ca12b7b20819a59a09719d5fc8047b) that should fix the issue.

Once this action (https://github.com/luxtorpeda-dev/packages/actions/runs/3034402977) is complete, which should be about two hours f

[2022-09-12 03:05] #736 closed

[2022-09-12 03:16] d10sfan commented on #353
@jm2

I've added possible support for this here: https://github.com/luxtorpeda-dev/packages/commit/04472619ed34046070b8096594e6d1aa977cac26

Let me know how it goes and if you run into any issues. This requires manual steps which are described in the packages list website, mainly getting the linux binaries and manually putting them in the correct location. This is because I have been unable to cau

[2022-09-12 03:16] #353 closed

[2022-09-12 03:20] d10sfan commented on #737
@coreybruce

Right that's one of the main issues there, this was discussed with them a while back (https://github.com/AliveTeam/alive_reversing/issues/1083).

The other issue is since it's a reverse engineering project, it's in a grey area. The other projects that I support are mainly related to re-creating the engine from scratch, or using source ports, with freely available source code. Because

[2022-09-12 05:17] hfc2x commented on #738
I launched the game, but there's no music, even though it's configured (using FluidSynth). It seems the game is not detecting that FluidSynth is installed, and it's ignoring it, but only when launching through Steam.

[2022-09-12 05:23] coreybruce commented on #737
Yeah that's understandable, it was sad to see them wrongfully take down and ruin re3 project

[2022-09-12 13:52] d10sfan commented on #738
@hfc2x Strange, I can hear the music just fine, both in the menu and in-game.

Did you change any settings in the setup? If so, can you try a fresh start and see if you can hear the music?

[2022-09-12 15:07] dmrickey commented on #736
Thanks. I wasn't able to try the different options before I didn't have internet before I left.  I'm back in "phone land" but don't have access to stable internet yet. I'm glad you were able to repro it without me. I'll try it out this next weekend when I'm back home and report back

[2022-09-12 19:53] hfc2x commented on #738
Yes, I've been playing this game for years, so I know how to configure it. I'll explain how I have it set up:

I've set up the Steam launch options with the following arguments:
`-config ./crispy-doom/heretic.cfg -extraconfig ./crispy-doom/crispy-heretic.cfg -savedir ./base/savegames`

Screenshot:
![Heretic launch options](https://user-images.githubusercontent.com/8249996/189742666-12ec78fb-7730-4

[2022-09-12 20:23] d10sfan commented on #738
@hfc2x That is what I was referring to when I mentioned configuration differences, because I was using the base game configuration with no changes, so I needed to know if you had anything different.

It looks like the issue was that fluidsynth is not the default in use and I hadn't tested that originally. The problem was that the built sdl2 mixer that is provided as part of the steam runtime did n

[2022-09-13 00:17] hfc2x commented on #738
This did fix the music, however, it introduced a freeze and crash as soon as any level is loaded, be it from the new game menu, loading a saved game, or letting the internal demo play. Terminal output for this:

[code]

[2022-09-13 01:40] d10sfan commented on #738
@hfc2x Ah sorry about that. It looks like the sdl2 mixer version that I was using had a bug in it. Updating to the latest version looks to have fixed it. Let me know how that does and  if you run into anything else.

[2022-09-13 03:19] hfc2x commented on #738
Okay, it's working perfectly now. The only issue that I'm seeing is that Inter Heretic and Crispy Heretic are trying to use each other's configuration files when launched with the default options. This makes sense, considering Inter [Doom] is a fork of Crispy [Doom].

Could it be possible to keep in the launch script for Crispy Heretic/Hexen the `-config` and `-extraconfig` parameters to point to

[2022-09-13 09:26] jm2 commented on #353
Would using the client installer from the AUR package help automate this better? https://aur.archlinux.org/packages/etqw, specifically https://slashbunny.com/aur/etqw/ETQW-client-1.5-full.x86.run, which is the proper last full client release.

[2022-09-13 10:22] jm2 commented on #353
FWIW after copying all the client files from that runfile and deleting known-breaking libraries (libgcc_s.so.1, libstdc++.so.6), it does work as expected, so thanks! I'll see if I can update this to install automatically as that'll greatly help for the Steam Deck.

[2022-09-13 20:36] rea987 commented on #353
@d10sfan luxtorpeda-dev.github.io entry of the full game mentions ETQW-demo2-client-full.r1.x86 as its version. Is that a typo or does it utilize demo version?

[2022-09-13 20:51] d10sfan commented on #353
@rea987 It does not use any particular version, because it requires the user to manually copy the files. That's because I've been unable to cause the run command to work and extract without needing user input (other run files I have been able to do that with).

I've updated the data to note that it expects the full version.

[2022-09-14 20:01] rea987 commented on #353
@d10sfan In luxtorpeda-dev.github.io entry of the full game and the demo version, following info seems to be a leftover from SDLCL; sdl12-compat no longer as such issue;

[2022-09-14 20:33] d10sfan commented on #353
@rea987 Can you confirm that this no longer occurs?

[2022-09-14 22:03] rea987 commented on #353
@d10sfan In demo version (10050) it no longer occurs since the switch to sdl12-compat.

[2022-09-14 22:49] d10sfan commented on #353
@rea987 Ok thanks, I've removed those lines: https://github.com/luxtorpeda-dev/packages/commit/da9f73a3abf649aa4976e3e68305b590af5ecf9a

[2022-09-15 09:41] silentsudin opened #746 "Doom modern port: International Doom"
### Project Link

https://github.com/JNechaevsky/inter-doom

### Project License

GPLv2

### Steam App Ids

- https://steamdb.info/app/2300/
- https://steamdb.info/app/2290/
- https://steamdb.info/app/2280/
- https://steamdb.info/app/9160/

### Additional Context

Modern port for Doom that features enhancements such as freelook, completely customizable key bindings, brightmaps, totals in automap,

[2022-09-15 20:38] d10sfan commented on #738
@hfc2x Great! I've added the changes to set a local config path for both crispy and inter doom. Let me know if you run into any issues.

[2022-09-15 20:38] d10sfan commented on #746
@silentsudin Thanks for the request! I've added inter-doom support for the doom games here: https://github.com/luxtorpeda-dev/packages/pull/747

Let me know if you run into any issues.

[2022-09-15 20:38] #746 closed

[2022-09-17 10:57] rea987 commented on #576
@d10sfan Flatpak release of OpenJKDF2 has been shipped with [0BSD License](https://opensource.org/licenses/0BSD). It seems to be working fine. Can this be added to Luxtorpeda in its current form?

https://flathub.org/apps/details/org.openjkdf2.OpenJKDF2

[2022-09-20 19:02] neuromancer opened #751 "Dethrace - Carmageddon Max Pack"
### Project Link

https://github.com/dethrace-labs/dethrace

### Project License

Public domain

### Steam App Ids

- https://steamdb.info/app/282010/

### Additional Context

It should be playable, but it will require some updates until it reaches version 1.0.

[2022-09-20 19:12] d10sfan commented on #751
@neuromancer It looks like this one has some license confusion/issues (https://github.com/dethrace-labs/dethrace/issues/62), along with being a decompatilion project, which I've been hesitant to support in the past (because of issues like re3 for example). Is this accurate?

[2022-09-20 19:19] neuromancer commented on #751
This is correct. IMHO, the risk is very low, but this is entirely up to you. In any case, if you decided to support it, I will be happy to test it.

[2022-09-21 02:07] d10sfan commented on #751
@neuromancer Thanks for the suggestion and the info, I think for now I'll hold off, but I'll be open in the future if things change.

[2022-09-21 02:07] #751 closed

[2022-09-21 15:58] mattmaddux opened #752 "OpenJKDF2 (Jedi Knight: Dark Forces II)"
### Project Link

https://github.com/shinyquagsire23/OpenJKDF2

### Project License

Other: “Permission to use, copy, modify, and/or distribute this software for any purpose without fee is hereby granted.”

### Steam App Ids

- https://steamdb.info/app/32380/

### Additional Context

_No response_

[2022-09-21 16:43] d10sfan commented on #752
@mattmaddux It looks like this one is a reverse engineering project, instead of a re-implementation. I usually avoid projects like this. You can see https://github.com/luxtorpeda-dev/packages/issues/576 for more information.

For now, I won't be supporting this one.

[2022-09-21 16:43] #752 closed

[2022-09-21 16:50] mattmaddux commented on #752
Ah, interesting. Thanks for looking into it.

[2022-09-22 18:43] hfc2x commented on #738
Sorry for not responding.

It's working perfectly now, no conflicts. I was thinking of to trying and submitting a pull request for all these Doom engine games to set the default save directories to their Steam save directory, at least for the "Chocolate" and "Crispy" ports because of compatibility.

[2022-09-22 19:36] d10sfan commented on #738
@hfc2x Sure, a pull request would be welcome :)

[2022-10-01 14:41] vaibhavrmahadevan opened #756 "Ironwail not launching"
### Game

Quake

### Engine

Ironwail

### Linux Distribution

Linux Mint 21

### Luxtorpeda Version

59

### Bug description

Ironwail does not launch from Steam.

### Steps To Reproduce

1. Launching Quake
3. Picking Ironwail from the luxtorpeda menu

### Expected Behavior

Ironwail launches in a new window

### Additional Context

_No response_

### Relevant log output

[code]

[2022-10-01 16:30] d10sfan commented on #756
@vaibhavrmahadevan Thanks for the report! It looks like this is related to steamrt updating to sdl2 2.24, which would defeat that library version check.

Looks like this happens here: https://github.com/andrei-drexler/ironwail/blob/eeec028d767542905bcfacb09fcffd836d072d6a/Quake/main_sdl.c#L33

I should be able to make a patch to allow it to work with 2.24, and will test to see if anything goes wro

[2022-10-01 17:01] vaibhavrmahadevan commented on #756
@d10sfan Thank you so much! I had a feeling quakespasm-spiked might also have been affected by the same issue :)

[2022-10-01 17:15] d10sfan commented on #756
@vaibhavrmahadevan Thanks again for reporting!

Fixed with the following commits:

https://github.com/luxtorpeda-dev/packages/commit/0d5d290f6c718a2fcd5917c54d53e4b43271c6ea (anything after this will be built with the new steamrt)

https://github.com/luxtorpeda-dev/packages/commit/708b65dd978850644bc31c978fb37574abe801ea
https://github.com/luxtorpeda-dev/packages/commit/ad9670d28b4f3e4bcacb42f9194

[2022-10-01 17:15] #756 closed

[2022-10-02 14:21] d10sfan opened #757 "test issue"
this is a test

[2022-10-03 10:26] z33ky opened #759 "Package unofficial Entropy : Zero 2 port"
### Project Link

https://github.com/z33ky/source-sdk-2013/tree/ez2/mapbase
https://github.com/z33ky/source-sdk-2013/releases/tag/ez2-1.0.1.linux0

### Project License

SOURCE 1 SDK LICENSE

### Steam App Ids

1573720

### Additional Context

I am the author of the port.
I do not use Luxtorpeda but [have been asked](https://old.reddit.com/r/linux_gaming/comments/xszlva/unofficial_port_of_halflife_

[2022-10-03 13:45] d10sfan commented on #759
@z33ky Thanks for the port and the request! I've created a PR for that - https://github.com/luxtorpeda-dev/packages/pull/760 and I also needed to change the gameinfo.txt a little bit, since with luxtorpeda, we are launching the game directly, instead of through the source mod interface (https://github.com/luxtorpeda-dev/packages/blob/5da1bdc25afdea4a2b5842e0b9c17919672c3147/engines/source-sdk-2013

[2022-10-03 18:31] rea987 commented on #759
@d10sfan Not sure if related but I needed to use [ValvePython's vpk](https://github.com/ValvePython/vpk) to get all sounds for another Source engine mod, **Black Mesa: Blue Shift**.

https://www.reddit.com/r/linux_gaming/comments/rasla9/black_mesa_blue_shifts_halflife_blue_shift_remake/

[2022-10-03 19:04] d10sfan commented on #759
@rea987

I was mainly curious first if this happened in the mod version, to make sure it wasn't an issue with the configuration.

But assuming it's a case sensitivity issue, extracting the vpk and using that instead could be an option. I've tried the source sdk 2013 and tf2 vpk_32 binary that is included, although it isn't giving behavior I want. For source  sdk 2013 version, it seg-faults.  For t

[2022-10-03 19:45] rea987 commented on #759
Yeah, vpk binary included in Valve's other Source games didn't work for me. [ValvePython's vpk](https://github.com/ValvePython/vpk) did the trick for Black Mesa: Blue Shift.

[2022-10-03 20:45] d10sfan commented on #759
@rea987 Thanks, it looks like the valvepython one did the trick, I had to get python setuptools and this package to install locally, and then use it to extract the vpks. Whenever a new version of the game comes in, I'll have to figure out deciding when to extract again, but it looks to be working.

I've added support with it with this commit: https://github.com/luxtorpeda-dev/packages/commit/6e906

[2022-10-03 20:45] #759 closed

[2022-10-04 01:03] KawaiiDinosaur opened #761 "Fallout 2 Community Edition"
### Project Link

https://github.com/alexbatalov/fallout2-ce

### Project License

https://github.com/alexbatalov/fallout2-ce/blob/main/LICENSE.md

### Steam App Ids

https://steamdb.info/app/38410/

### Additional Context

_No response_

[2022-10-04 02:36] d10sfan commented on #761
@KawaiiDinosaur Thanks for the package request!

Do you know what the current state of this project is, in terms of how playable it is?

Also, is this a reverse engineering project, or a re-implementation?

It looks like with the license, I'd probably consider this a non-free license if implemented, similar to a few other engines that I've done.

[2022-10-04 05:23] vaibhavrmahadevan opened #762 "Odamex (A multiplayer focused source port)"
### Project Link

https://sourceforge.net/projects/odamex/files/Odamex/10.2.0/

### Project License

GNU General Public License v2

### Steam App Ids

https://steamdb.info/app/2280/
https://steamdb.info/app/2290/
https://steamdb.info/app/2300/
https://steamdb.info/app/9160/

### Additional Context

_No response_

[2022-10-04 16:24] KawaiiDinosaur commented on #761
@d10sfan the game is playable from start to finish, yes.

The reverse engineered project by the same individual is in a separate repository (https://github.com/alexbatalov/fallout2-re). I understand that the "Community Edition" is a reimplementation of the former.

[2022-10-04 18:59] d10sfan commented on #759
@z33ky It looks like there's a bug with the game. There's a scene where the an apc is air-dropped, when the combine drops it, it gets stuck in the air (i'm assuming it's supposed to fall down to the ground). Let me know of any other information you may need from me.

![20221004135439_1](https://user-images.githubusercontent.com/4337981/193903401-7e4c1091-1b4d-463a-9881-90aa24341888.jpg)

[2022-10-04 20:45] z33ky commented on #759
Yeah, that happened to me too. I was hoping this may just be an issue with my run. I will check it out on the weekend.
In the meantime you can continue on foot or with `ch_createdrivableapc`, though that may break some scripting.

About achievements, I have never cared about them, so I haven't noticed. I'll see if I notice anything, but I will probably not invest much time there.

[2022-10-04 20:48] z33ky commented on #759
About the content, I have noticed that Source seems to behave differently for paths specified with `|all_source_engine_paths|`-prefix than other paths. Maybe it's something with using VPKs, I don't know; it was just trial and error on my side to get the sourcemods-version working. Good thing you found a workaround for your installation method.

[2022-10-04 21:16] d10sfan commented on #759
Thanks for the reply :) Please feel free to comment here  if you end up finding a fix for the apc issue. I ended up going to proton and back, although that's a good point for future use for others.

[2022-10-10 02:57] d10sfan commented on #762
Progress tracking here: https://github.com/luxtorpeda-dev/packages/pull/764

[2022-10-10 02:57] #762 closed

[2022-10-12 17:04] athendrix opened #765 "EternalJK hasn't been updated in years, let's use Vanilla OpenJK for JAMP"
So, OpenJK which is used for the SP of Jedi Outcast and Jedi Academy is continuously updated, while EternalJK used for the Jedi Academy Multiplayer hasn't been updated in years.
It also seems to change the types of games that can be joined.
I have a server on my local network that can be joined with standard Steam Jedi Academy, as well as OpenJK, but not with Luxtorpeda's EternalJK.
So while Etern

[2022-10-13 03:11] d10sfan commented on #765
@athendrix

Thanks for the request, I've replaced eternaljk with openjk. Outcast will use jk2mv since it's still being updated.

[2022-10-13 03:11] #765 closed

[2022-10-13 03:36] d10sfan commented on #762
@vaibhavrmahadevan

I've added odamex, although having some crashing issues with the launcher (from their discord, it looks like others have had similar issues). So  you can use it with the console to connect manually, although it may be better with a browser launcher.

Do you have any recommendations? I did see https://doomseeker.drdteam.org/ as one option.

[2022-10-13 15:45] vaibhavrmahadevan commented on #762
Thank you so much!

Doomseeker is awesome and I feel might be more stable :)

[2022-10-14 04:44] d10sfan commented on #762
@vaibhavrmahadevan :)
I'm working on that on https://github.com/luxtorpeda-dev/packages/pull/767

[2022-10-14 16:09] d10sfan commented on #762
@vaibhavrmahadevan I've added doomseeker as well - https://github.com/luxtorpeda-dev/packages/commit/057228c755e7d53abf747480e853dee3aab5121e

It should be live about an hour or two after this comment.

[2022-10-14 16:44] vaibhavrmahadevan commented on #762
@d10sfan you are the best! 💗

[2022-10-16 23:58] xurich-xulaco opened #768 "Cave Story+"
### Project Link

https://github.com/doukutsu-rs/doukutsu-rs

### Project License

MIT/doukutsu-rs License

### Steam App Ids

https://steamdb.info/app/200900/

### Additional Context

As far as I'm aware, this is a re-use of NXEngine (a rewrite of Cave Story's engine) in order to be used based on the files that are provided by Steam's "Cave Story+". Thus, from the start, it's an enhancement and a

[2022-10-17 01:49] d10sfan commented on #768
@xurich-xulaco Thanks for the request, but this one is already implemented.

[2022-10-17 01:49] #768 closed

[2022-10-26 16:39] vaibhavrmahadevan opened #769 "Quake Injector"
### Project Link

https://github.com/hrehfeld/QuakeInjector

### Project License

GNU General Public License version 2.0 (GPLv2)

### Steam App Ids

https://steamdb.info/app/2310/

### Additional Context

_No response_

[2022-10-27 02:51] dlpierce opened #770 "Update needed for openxcom-oxce"
Please update openxcom-oxce to version 7.7.6 (commit [3eb2a81](https://github.com/MeridianOXC/OpenXcom/commit/3eb2a81191ddda77947b4de31427eae1ec66f884)). Some mods like [The X-Com Files](https://github.com/SolariusScorch/XComFiles) require at least version 7.7. Thank you!

[2022-10-27 03:15] d10sfan commented on #770
@dlpierce Thanks for the issue! I've updated with this PR: https://github.com/luxtorpeda-dev/packages/commit/6b7c3ed258a90a43933fbbc9c61b7ec8aba2b36f

It should be live about 20 minutes after this comment. Let me know if you need anything.

[2022-10-27 03:15] #770 closed

[2022-10-27 03:27] d10sfan commented on #769
@vaibhavrmahadevan Thanks for the request! I've added it with https://github.com/luxtorpeda-dev/packages/commit/ee894ad75e6afca682965acf887f3cca375d99b3

It'll default to vkquake, but you can most likely change it to other engines with their configuration GUI.

[2022-10-27 03:27] #769 closed

[2022-10-27 08:51] vaibhavrmahadevan commented on #769
@d10sfan Thank you so much!

[2022-10-27 14:38] dlpierce commented on #770
Thank you, works great!

[2022-10-31 14:45] PhasecoreX opened #772 "Unreal Tournament '99 v469c"
### Project Link

https://github.com/OldUnreal/UnrealTournamentPatches/releases

### Project License

https://github.com/OldUnreal/UnrealTournamentPatches/blob/master/LICENSE.md

### Steam App Ids

https://steamdb.info/app/13240/

### Additional Context

Current version in this repo is 469b, from over a year ago (https://github.com/luxtorpeda-dev/packages/tree/master/engines/ut99/assets). Recently

[2022-10-31 15:04] d10sfan commented on #772
@PhasecoreX Thanks for the issue! I was in the middle of testing so it's now live - https://github.com/luxtorpeda-dev/packages/commit/c705c607c10d56d26b497f7f6e35fe89208aba2e

Let me know if you run into any issues.

[2022-10-31 15:04] #772 closed

[2022-11-01 01:19] PhasecoreX commented on #772
Seems to be working! However there was a roadblock since I am using Flatpak. I kept getting this error:

[code]

I found [this previous issue](https://github.com/luxtorpeda-dev/packages/issues/725), and came to the solution of changing the Steam launch options to this:

[code]

With that, it works fine! Not sure what `LD_AUDIT=""` does exactly, or if it should (could) be added to `run-ut99-469c.sh

[2022-11-01 03:48] d10sfan commented on #772
@PhasecoreX I've added that with https://github.com/luxtorpeda-dev/packages/commit/211882bc3de96ab7cb21540606f68176ec2526b7

Should be live as of this comment. I tried it on my system (non-flatpak) and it didn't seem to hurt anything.

[2022-11-01 13:56] vaibhavrmahadevan opened #773 "NotBlood (a fork of NBlood)"
### Project Link

https://github.com/clipmove/NotBlood

### Project License

GNU General Public License version 2.0 (GPLv2)

### Steam App Ids

https://steamdb.info/app/1010750/
https://steamdb.info/app/299030/

### Additional Context

_No response_

[2022-11-01 16:55] d10sfan commented on #773
@vaibhavrmahadevan Thanks for the request, currently getting errors compiling, which I've submitted a ticket for: https://github.com/clipmove/NotBlood/issues/10

[2022-11-02 00:04] PhasecoreX commented on #772
Works without specifying Steam launch options now. Thank you!

[2022-11-04 18:41] d10sfan commented on #773
@vaibhavrmahadevan This is now live and looks to be working! Let me know if you run into any issues.

[2022-11-04 18:41] #773 closed

[2022-11-18 23:09] eskoONE opened #787 "add a way to play the iwads for original doom that come with doom eternal"
### Feature Request

doom eternal comes with the original doom iwads, which can be played in the game itself. i was wondering if it would be possible to launch doomrunner through luxtorpeda to be able to play the original games, either attached to doom eternal or gzdoom engines flatpack that is installed on the steam deck.

Or perhaps give us the option to add any runner to any game manually added

[2022-11-19 16:20] eskoONE opened #788 "The Alternative Mod Launcher (AML) for XCOM 2 and XCOM Chimera Squad"
### Project Link

https://github.com/X2CommunityCore/xcom2-launcher

### Project License

GNU General Public License v3.0

### Steam App Ids

https://steamdb.info/app/268500/ XCOM 2
https://steamdb.info/app/882100/ XCOM Chimera Squad

### Additional Context

there is a [reddit post](https://old.reddit.com/r/xcom2mods/comments/rhjeby/you_can_run_aml_on_linux_proton_howto_included/) detailing how th

[2022-11-28 15:08] d10sfan commented on #787
@eskoONE Can you see if this works? https://pastebin.com/vUW9dzM4

The way to use this is go into the compatibility tools folder and then luxtorpeda and find the config.json file. Then set "should_do_update" to false. Then take the contents of the pastebin link above and replace ~/.cache/luxtorpeda/packagesruntime.json

That should cause it to launch doom runner and then you can use the wads there

[2022-11-28 15:11] d10sfan commented on #788
@eskoONE Luxtorpeda is mainly about running native games through the Steam compatibility tool interface. Because of that, there isn't an easy way to trigger proton to run as part of luxtorpeda currently.

It looks like this would entail running a game through Proton after extracting some tools, which is outside the scope of luxtorpeda at the moment.

If there ends up being other games or reasons t

[2022-11-28 15:11] #788 closed

[2022-11-28 20:36] eskoONE commented on #787
yes, it starts but whenever i close the game and open it again, it seems to install gzdoom anew? i dont know if this is a problem or not yet. doomrunner is out of date. i get prompted to update it.

it also seems like the flatpack version of gzdoom is currently broken anyway with controls not working out of the box. trying to fix that rn.

[2022-11-28 20:38] d10sfan commented on #787
@eskoONE If you mean that it does not download the engines anymore, but it shows the installing progress, that is normal. The client extracts the engine data each time you launch.

I'll look into updating doomrunner soon. Were you able to launch the wads with doom runner? gzdoom is included as an engine with this, so you shouldn't need to use a flatpak.

[2022-11-28 20:53] eskoONE commented on #787
i was able to start doom.wad and doom2.wad. i just learned its not a flatpack issue per se but a problem with how gzdoom handles controller input. you can learn more about it if you are interested [here ](https://github.com/ZDoom/gzdoom/issues/1271). i havent tired running a mod yet. ill try and report back in a second.

[2022-11-28 23:01] d10sfan commented on #787
@eskoONE It looks like they are working on releasing another doom runner  very soon, and I've setup a watch for the releases on github, so once it's released, I'll update here.

https://github.com/luxtorpeda-dev/packages/commit/431e861e885ca82b4b8c9b87bd293fdf2d58dc5e adds the support that you tested, so should be good to go there. Let me know if you run into any issues.

I have a custom gzdoom co

[2022-11-28 23:01] #787 closed

[2022-11-28 23:19] eskoONE commented on #787
Id be interested in your gzdoom.ini. Im kinda a bit overwhelmed with configuring it on the steam deck. Where and how would i even add it to my installation though?

Also, is there a reason gzdoom gets unpacked on every start? Can these files not be permanent? Im a bit concerned with the longevity of the ssd. Also, in the wads section in doomrunner there are other .pk3 files, which are mods i assum

[2022-11-29 01:04] d10sfan commented on #787
@eskoONE I think since doom runner is being used, the config won't be setup automatically, but you can see it in the game directory (it'll be called [gzdoom_template.ini](https://github.com/luxtorpeda-dev/packages/blob/master/engines/gzdoom/assets/gzdoom_template.ini))

What wads are you seeing, can you send an example? Doom runner I believe searches for wads in the directory, the only ones that l

[2022-11-29 23:24] d10sfan commented on #787
@eskoONE

I added an issue here (https://github.com/luxtorpeda-dev/luxtorpeda/issues/182) to discuss the disabling of the install step on each run as an opt-in option. Whenever I have a chance to look into that further, I'll update that issue.

Also, doom-runner is being built, once this action is finished (https://github.com/luxtorpeda-dev/packages/actions/runs/3578800279), it should be live. It'

[2022-11-30 10:32] eskoONE commented on #787
Im a bit confused here. Does this mean your gzdoom config is already shipping with the engine? If so, the linked template is your modified version?

Im seeing gzdoom.pk3, game_widescreen_gfx.pk3, brightmaps.pk3, lights.pk3 and game_support.pk3. These are under the "select iwad" section in doomrumner though. I never ran any of these mods in my games and never had any issues. Are you sure those are

[2022-11-30 13:10] d10sfan commented on #787
@eskoONE

For those wads, they aren't mandatory to run, they are just part of the gzdoom download, so they shouldn't hurt anything.

For the config file, the template I linked is the one that gzdoom can use, but when you run through doom-runner, it does not take affect. My gzdoom config is only for luxtorpeda, but if you ran a game directly with gzdoom (such as the original doom), it would take af