[2021-08-10 17:38] d10sfan commented on #361
@McMarius11 I think I may have fixed the launch of cryptic when using nblood with this: https://github.com/luxtorpeda-dev/packages/commit/8c34e167de19c2c39951217230c2e707ff864d0e

Let me know if that fixes that.

[2021-08-10 17:44] d10sfan commented on #385
exhumed/nblood support added in https://github.com/luxtorpeda-dev/packages/pull/394

[2021-08-10 17:44] #385 closed

[2021-08-10 17:57] d10sfan commented on #385
Tried out both they've been released and built. They should be good to go! Thanks for the game gift

[2021-08-10 19:08] McMarius11 commented on #361
sorry for the trouble, i was so confused with the menu wallpaper, if i click on new game it will show the cryptic passage episode.
i was so irritated, with raze it looked different.
i tried your fix both work great!

[2021-08-10 19:10] d10sfan commented on #361
Great!

[2021-08-10 19:36] McMarius11 commented on #385
Thanks d10sfan, both work great!
one minor detail in the launch options exhumed i think should be named pcexhumed

in the PWRSLAVE/pcexhumed.cfg the mouse sensitivity can be changed to double the normal speed
MouseAnalogScale0 = 131072
MouseAnalogScale1 = 131072

vsync i think does not work, the command should be r_vsync 1

[2021-08-11 04:02] JoshuaFern commented on #361
No, I tried fiddling with that and it doesn't make a difference. For me right now I have to make sure `~/.config/raze/raze.ini` does not exist and the game will start and work fine for me. The moment I launch raze outside of Steam and that .config file regenerates Luxtorpeda will not work again.

[2021-08-12 16:28] McMarius11 commented on #361
@JoshuaFern could you try to copy all files from Blood/lib/ into Blood folder and then open up a terminal and type in

./raze -iwad blood.rff
./raze -gamegrp blood.rff

and

./raze -iwad blood.rff -con cryptic.ini -file "addons/Cryptic Passage/"
./raze -gamegrp blood.rff -con cryptic.ini -file "addons/Cryptic Passage/"

and try if you get errors or if it runs without the choose iwad file error.

[2021-08-12 20:42] JoshuaFern commented on #361
It's working well enough for me right now, I'm going to give it a rest.

[2021-08-16 07:27] rea987 opened #399 "OldUnreal without WINE installer"
* Project link: *https://github.com/vide0hanz/unreal-gold*
* Project license: *Unknown*
* Does it work on 64-bit only Linux: *NO*
* Is source code available?: *Partially*
* Is source code stored in Git?: *Partially*
* List of Steam AppIds of supported games:
    - https://steamdb.info/app/13250/

## Additional information

This repo features extracted OldUnreal libs (unreal-linux.tar.bz2) for Unre

[2021-08-16 11:14] d10sfan commented on #399
I don't think this is a good idea license wise. The exe was created because of some license issues by Epic so it's probably best to keep that mode, unless the unreal gold people are able to create a linux archive.

[2021-08-16 11:14] #399 closed

[2021-08-18 20:09] ToughGuyKunio commented on #242
One reason to consider supporting this engine is for Witchaven I ([1655410](https://steamdb.info/app/1655410/)) and Witchaven II: Blood Vengeance ([1655430](https://steamdb.info/app/1655430/)). I don't belive there's any other engine for these games?

[2021-08-18 20:21] d10sfan commented on #242
@ToughGuyKunio Does BuildGDX provide already built versions of their engine, the jar files?

And have you been able to run buildgdx with those games?

For this to work, the user would have to have java installed on their system globally.

[2021-08-18 21:08] ToughGuyKunio commented on #242
Jar file is here: https://m210.duke4.net/index.php/downloads/send/8-java/54-buildgdx

I'll test it, I have only been able to launch the GUI so far, seems to expect files in a specific directory or something, I'll get back to it

[2021-08-19 10:52] rea987 commented on #242
@d10sfan @ToughGuyKunio

BuildGDX hasn't been updated since I created this ticket, hence information that I have is still valid.

1) BuildGDX does require OpenJDK 8 LTS to function on Linux properly. Most distros use OpenJDK 11 or later. There exists a standalone OpenJDK project that ships OpenJDK 8 LTS builds which run BuildGDX fine.

https://github.com/adoptium/temurin8-binaries/releases/downloa

[2021-08-19 14:00] rea987 commented on #242
Just tried BuildGDX v1.15 with Witchaven (GOG copy) via Adoptium's OpenJDK 8 build; it works just fine but despite running the jar at the game directory, it still require manually locating the game location in the launcher. Both Enhanced and Original version of Witchaven seem to be compatible with BuildGDX.

- Make `BuildGDX.jar` executable.
- `.../jdk8u302-b08/bin/java -jar BuildGDX.jar`
- Choose

[2021-08-19 14:12] rea987 commented on #242
**WitchavenGDX**'s source code is available but I haven't seen any ready to go build or building instructions.

https://gitlab.com/m210/WitchavenGDX

[2021-08-19 18:10] d10sfan opened #400 "Quake Changes"
Expansion packs part of original game now
Soundtracks included in remastered (should be able to copy/link to the right spot)
Paths changed
old mission packs don't work (remove them from list?)

[2021-08-19 18:53] d10sfan commented on #400
Done in:

https://github.com/luxtorpeda-dev/packages/commit/3698e8ffcc47a00973850aa82d52fce8c8f76e3c
https://github.com/luxtorpeda-dev/packages/commit/c891691f70dd177e6decb9dcb41190186c185d42
https://github.com/luxtorpeda-dev/packages/commit/55f394e4288c8a2b185b5bb64c531d00e84f034f

[2021-08-19 18:53] #400 closed

[2021-08-19 21:39] rea987 opened #402 "Dimension of the Past and Dimension of the Machine episodes for the new Quake"
* Project link: *http://quakespasm.sourceforge.net/*
* Project license: *e.g. GPLv2*
* Does it work on 64-bit only Linux: *YES*
* Is source code available?: *YES*
* Is source code stored in Git?: *YES*

https://github.com/sezero/quakespasm

* List of Steam AppIds of supported games:
    - https://steamdb.info/app/2310/

## Additional information

The new big update added Dimension of the Past and

[2021-08-20 02:53] d10sfan commented on #402
The new packs have been added. dopa needed to use the original pak, so I downloaded it as part of the install process. The one provided in the re-release has issues with the source ports (crashes trying to pick up armor for example).

The machine pak seems to work well other than some missing localization.

Done in:

https://github.com/luxtorpeda-dev/packages/commit/7dfcec775ca7f0929d65d0887a4343e

[2021-08-20 02:53] #402 closed

[2021-08-20 06:00] rea987 opened #404 "FTE for Quake"
* Project link: *https://fte.triptohell.info/*
* Project license: *Unknown*
* Does it work on 64-bit only Linux: *YES*
* Is source code available?: *YES*
* Is source code stored in Git?: *YES*

https://github.com/mdeguzis/ftequake

* List of Steam AppIds of supported games:
    - https://steamdb.info/app/2310/

## Additional information

FTE claims to support splitscreen multiplayer that the new Q

[2021-08-20 16:16] d10sfan commented on #404
Added in https://github.com/luxtorpeda-dev/packages/pull/406

[2021-08-20 16:16] #404 closed

[2021-08-20 16:29] rea987 commented on #404
@d10sfan Is that possible to enable FTE for Dimension of the Past and Dimension of the Machine episodes as well?

[2021-08-20 16:50] d10sfan commented on #404
Yes, I added that in https://github.com/luxtorpeda-dev/packages/commit/3d8ef96ebc97c7dcbd8fdcce57a6f04f118749ac

[2021-08-20 16:58] jorgicio opened #407 "Weird string issue when playing DOOM 3 BFG using Classic RBDOOM-3-BFG (DOOM BFA)"
**Describe the bug**
When I launch the Doom 3 BFG using the Classic RBDOOM (DOOM BFA) and want to play the DOOM 3 game, it shows weird string names starting with **#str_** and only a few readable strings are in German.

The issue didn't happen when using the RBDOOM-3-BFG original, but I wanted to try the DOOM BFA launcher because I was said that's better, as well as the latest version is being mor

[2021-08-20 17:21] d10sfan commented on #407
Thanks for the report. I'll try to replicate and get back to you.

[2021-08-21 04:05] d10sfan commented on #407
If you switch languages from English, it looks like you'll need to change the ~/.doombfa/base/DBFAConfig.cfg file and add/change this line:

```set sys_lang "spanish"```

Replacing spanish with the language you want.

I pushed up a fix that would cause the language to not work if changed after launching the classic engine at least once. https://github.com/luxtorpeda-dev/packages/commit/5af5855411a

[2021-08-21 04:05] #407 closed

[2021-08-21 05:11] jorgicio commented on #407
Hi. Yes, I did what you said and it works! Thank you.

[2021-08-21 05:58] rea987 commented on #404
FTE claims to support Quake 2 mods, Quake 3, Hexen 2 mods:

For this reason, replacement gamecode can be installed via the downloads menu, and will be used in preference to the baseq2 gamecode when installed. This gamecode is from yamagi quake2, so it fixes the saved game issue and is thus useful even on x86.
**FTE uses the vanilla API so mods mods should still work if they're compiled for your cp

[2021-08-21 07:22] jorgicio opened #409 "Quake II with VKQuake2 won't open (but keeps running)"
**Describe the bug**
I try to run Quake II using VKQuake2 as engine, and it shows it's running, but no window is open. I have to stop it manually from Steam.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run Quake II from Steam and select VKQuake2 as engine.
2. Nothing happens, but it shows it keeps running
3. Tried over and over and nothing changes.

**Expected behaviour**
Quake II shoul

[2021-08-21 12:26] d10sfan commented on #404
@rea987 Not sure how it is supposed to work with Quake 3. I will look into quake 2 mission packs and hexen 2.

[2021-08-21 15:08] d10sfan commented on #407
@jorgicio I added support for launch options in this commit: https://github.com/luxtorpeda-dev/packages/commit/e9b2154791b05dae4d6bda09acbd67d506140773

It should work about 30 minutes after this comment, when it's done building.

This should let you put %command% +set sys_lang "spanish" in the steam launch options.

[2021-08-21 15:22] d10sfan commented on #404
Done in https://github.com/luxtorpeda-dev/packages/commit/bab26ae69ef747a94336e988fb91d2df4ed72acf

Quake 2 Expansions and Hexen 2 has been added.

[2021-08-21 19:50] jorgicio commented on #407
I just tried and now it works, at least as a workaround. However, now it came another issue when I want to start a single player match: the intro starts and now it crashes and send me to the menu (see the screenshot below). I don't know it's related.

Anyways, thanks.

![image](https://user-images.githubusercontent.com/554710/130333342-43619550-978d-44b6-8146-78fc5e471b31.png)

[2021-08-21 20:12] jorgicio commented on #409
The only log I can leave here is this output, which is repeated infinitely until I stop the game from the Steam library:

`------- Loading ref_vk.so -------
LoadLibrary("ref_vk.so") failed: libXxf86dga.so.1: cannot open shared object file: No such file or directory
Only Vulkan renderer is supported on Linux.
`

I guess is the `ref_vk.so` inside the vkQuake2 directory, because I don't have the same

[2021-08-22 02:01] d10sfan commented on #407
@jorgicio

Strange, I just tried it again myself and it worked ok (using spanish and starting a new campaign)

If you can provide a full log file that would help diagnose it as well.

[2021-08-22 02:19] d10sfan commented on #409
Ok, that's been fixed in this https://github.com/luxtorpeda-dev/packages/pull/410

It looks like libXxf86dga is not included on all systems, it's a x11 package. I added compilation steps so that it is included with the engine.

Next time you launch it should work. Let me know if you have any issues.

[2021-08-22 02:19] #409 closed

[2021-08-22 04:45] jorgicio commented on #409
Hi, now it launches, and I noticed that I haven't installed libxxf86dga, so I did it and now it works. Thank you!

[2021-08-22 16:49] NeoTheFox opened #411 "Quake (2310) uses wrong basedir by default"
When using luxtorpeda to play the original Quake it tries to use the `id1` folder in the game folder, but Steam installs this folder as `Id1`, with an uppercase I, and that means any filesystem that is case-dependent would cause it to instantly crash. Just renaming the folder manually is enough to make it work.

[2021-08-22 19:30] d10sfan commented on #411
Also issues related to engines should be created in this repository.

[2021-08-23 07:50] jorgicio opened #413 "Quake IV won't run due to missing file"
**Describe the bug**
Quake IV won't open even after downloaded the required files.

**To Reproduce**
Steps to reproduce the behaviour:
1. Open Quake IV.
2. Won't run.

**Expected behaviour**
Quake IV should open

**Additional context**

The missing file is described in this output. First, there's no bin directory inside the game directory.

[code]

[2021-08-23 13:13] d10sfan commented on #413
Not sure what you mean by downloaded required files. The lux client should download the client as part of its setup process.

There should be a linuxdata folder with all of that in it.  Try removing the ready file in the Quake 4 directory. Then run steam in a terminal window, attempt to run Quake 4 and copy the output to a file and upload it here.

[2021-08-23 15:45] jorgicio commented on #413
Actually, there is the `linuxdata` folder, and this is its content, but no bin directory found.

[code]

[2021-08-23 15:47] d10sfan commented on #413
@jorgicio

I will need a log file to help as described above. There may have been an issue in the extraction process, such as if the archive had failed to download properly, but unable to tell without that.

[2021-08-23 15:52] jorgicio commented on #413
[code]
 Then it's still not running, although the `linuxdata` folder with the respective content (including the `bin` directory) is present.

[2021-08-23 16:00] d10sfan commented on #413
@jorgicio Thanks that looks good in terms of the extraction process and  good to hear that you see the bin folder this time.

It looks like the important part is this:

[code]

What resolution is your monitor set to? It looks like it may be related to the game trying to set a resolution that won't work with your system.

You may try editing ~/.quake4/q4base/Quake4Config.cfg

And changing the follo

[2021-08-23 16:19] jorgicio commented on #413
Yes, I had to create the file you mentioned and put my values (I'm using 1080p) and also added the `set r_useSDLModes 1` line and now it works. But the game started with a slower resolution, so I had to force it to use the 1080p resolution in the game settings. Now restarted and it works without any issues at the moment.
Thanks.

[2021-08-23 16:46] d10sfan commented on #413
Interesting, there must be a default that the engine was trying to set that the system didn't understand. There isn't much I can do about it, since it's related to the closed source engine itself.

Glad it's working for you now though!

[2021-08-23 16:46] #413 closed

[2021-08-23 17:07] jorgicio commented on #413
Yes, that's the thing, the engine is propietary software, but not much to do there. Anyways, thanks for the help.

Also, I noted that the `seta r_multiSamples` option should be 0 as mandatory, because setting other value makes the game won'
t start. Anyways, thanks!

[2021-08-23 17:42] d10sfan commented on #411
I've made the changes in these commits. Next time you launch it should work if it's Id1 or id1.

https://github.com/luxtorpeda-dev/packages/commit/19396e49d7886f256fdf6276dab9043994fa938b
https://github.com/luxtorpeda-dev/packages/commit/8f01720b7c8b701bc547edb9610a4a230a2ddcf4
https://github.com/luxtorpeda-dev/packages/commit/f9333b6e5deae97a9769f372dbd11ffa38cf56e8
https://github.com/luxtorpeda-

[2021-08-23 17:42] #411 closed

[2021-08-23 22:06] jorgicio commented on #407
The log without the extra options, using DoomBFA with the language set from Steam:

[code]

After I added the `+set sys_lang "spanish"` parameter:

[code]

Also tried deleting the config files in the home and nothing changes.

[2021-08-24 23:09] d10sfan commented on #407
@jorgicio You might want to try the built linux version here: https://github.com/MadDeCoDeR/Classic-RBDOOM-3-BFG/releases/tag/1.2.7-BFA

To see if it happens there as well. This is what I'm building against. If you can replicate with that, it's probably an issue with the upstream project.

[2021-08-28 09:20] rea987 opened #414 "System Shock Remake Demo"
* Project link: *https://www.systemshock.com/*
* Project license: *Proprietary*
* Does it work on 64-bit only Linux: *YES*
* Is source code available?: *NO*
* Is source code stored in Git?: *NO*
* List of Steam AppIds of supported games:
    - https://steamdb.info/app/487390/

## Additional information

System Shock Remake had multiple demo releases. First of whom is Unity Engine based pre-alpha d

[2021-08-28 13:59] d10sfan commented on #414
@rea987 If you're unable to launch the game, there's probably nothing that can be done. I'm not too comfortable with using re-hosted closed source for this and downloading depots is outside the scope of luxtorpeda directly.

If you wanted to play this one with luxtorpeda, you could use the user packages feature.

Let me know if anything else can be done for this one.

[2021-08-28 13:59] #414 closed

[2021-09-03 03:01] d10sfan opened #418 "Test Bug Report"
### Game

test

### Engine

test2

### Linux Distribution

Arch Linux

### Luxtorpeda Version

31

### Bug description

asdasdasdasd

### Steps To Reproduce

1. asdasd
2. adasd
3. asdasasd

### Expected Behavior

asdadasd

### Additional Context

asdasdasd

### Relevant log output

[code]

[2021-09-03 03:02] #418 closed

[2021-09-04 10:36] rea987 opened #421 "Prey crash on Ubuntu 21.10"
### Game

Prey

### Engine

id Tech 4 (proprietary)

### Linux Distribution

Ubuntu 21.10

### Luxtorpeda Version

31

### Bug description

Prey (2006) crashes right after launch without showing game window

### Steps To Reproduce

1. Install Prey
2. Launch Prey
3. After a momentary black screen, the game crashes

### Expected Behavior

The game to run.

### Additional Context

Fresh Lux 31 instal

[2021-09-04 10:38] rea987 commented on #421
It launched properly after updating Steam.

[2021-09-04 10:38] #421 closed

[2021-09-10 06:45] JoshuaFern opened #422 "Object N"
### Project Link

https://github.com/KleskBY/ObjectN-DarkPlaces-engine

### Project License

GPL-3.0

### Steam App Ids

- https://steamdb.info/app/1508030/

### Additional Context

Free to play game, looks to run on a Quake engine.

[2021-09-10 21:33] d10sfan commented on #422
This one has a strange decision to pre-build SDL2 and curl, which is causing issues with the build. I've been able to build many quake-like engines, but haven't had success with this one yet.

@JoshuaFern Have you been able to build this one?

[2021-09-10 21:39] JoshuaFern commented on #422
I haven't attempted a build, however the best solution might just be to launch the game with another quake engine instead of building this one-off fork.

[2021-09-10 21:54] d10sfan commented on #422
@JoshuaFern I tried darkplaces and it somewhat worked, although there were issues (multiple warnings and the hud has alot of broken elements).

You can try it if you want by doing this:

* Copy darkplaces-2017 from Quake to this game directory
* ```./darkplaces-2017/darkplaces-sdl -basedir ./ -game data```

vkquake and fte quake world didn't want to launch it at all.

[2021-09-10 22:32] JoshuaFern commented on #422
Ah, I see what you mean. This fork is a significant divergence from the original darkplaces engine, with over 295,241 additions according to the github stats. It's not a simple matter of just playing it with the original engine as I had hoped.

[2021-09-11 03:30] d10sfan commented on #422
@JoshuaFern I was able to figure out that the issue seems related to the "nuklear" menu that was implemented. I created a patch that removes it and it compiles now and seems to basically function (the in-game menu is also functional as far as I can tell).

I've released that in https://github.com/luxtorpeda-dev/packages/pull/423, although if anyone is able to figure out how to make the menu compil

[2021-09-11 03:30] #422 closed

[2021-09-11 03:56] JoshuaFern commented on #422
I'm not sure what the "nuklear" menu is, and the main menu looks the same as before, but everything seems to be functional, including multiplayer. Thanks.

[2021-09-11 03:57] d10sfan commented on #422
It looks like it adds a few things to the main menu on top of the normal Quake one. There were links to discord and a field to set your player name.

But dosen't seem to be too big of a deal to not have.

[2021-09-11 08:21] JoshuaFern opened #424 "idTech Games"
### Project Link

Various

### Project License

GPL

### Steam App Ids

## id Tech Games:
- [Strife: Veteran Edition](https://steamdb.info/app/317040/)
- [Hexen II Demo](https://steamdb.info/app/9120/)
- [Quake II RTX](https://steamdb.info/app/1089130/)
- [Quake III Arena Demo](https://steamdb.info/app/9080/)
- [Quake III: Team Arena Demo](https://steamdb.info/app/9090/)
- [Quake Live](https://ste

[2021-09-11 08:48] rea987 commented on #424
- Strife: Veteran Edition: Has a native Linux version on Steam.
- Quake II RTX: Has a native Linux version on Steam.
- Quake Live & Testing: I doubt whether it works with ioquake3 due to being closed source.
- DOOMBRINGER & Demo: Have native Linux versions on Steam.
- Hedon Demo: Has a native Linux version on Steam.
- Steel Storm: Burning Retribution & Demo: Have native Linux versions on Steam.
-

[2021-09-11 14:33] d10sfan commented on #424
@JoshuaFern For the ones with native versions, not sure if there's a benefit to building

There's many in here that appear to be closed source, so for those, if you find any projects that build them, let me know. Otherwise, if you could order these by engine used and ones that have a project behind them.

[2021-09-12 02:28] d10sfan commented on #424
So far at a glance, looks like the following look promising:

* https://store.steampowered.com/app/1447830/battleMETAL/ - seems to need normal darkplaces, there's a repo (https://github.com/Subject9x/battleMETAL) but seems to only be quakec client code. If anyone owns this one, let me know and I could put out a test build, or if someone doesn't mind gifting it.
* https://store.steampowered.com/app

[2021-09-12 03:37] JoshuaFern commented on #424
- [Strife: Veteran Edition](https://steamdb.info/app/317040/) - This game runs on the proprietary Kex engine like Quake 2021, but it includes the original DOS release in the depot and should be easy to support with the existing GZDoom. There's also this open source release that seems to be based on Chocolate Doom. https://github.com/svkaiser/strife-ve
- [Retroninjacyberassassin](https://steamdb.in

[2021-09-12 03:42] d10sfan commented on #424
@JoshuaFern I've added Strife to the "promising" list, I don't own the game currently though. Also, updated the info for retro...

Thanks

[2021-09-12 04:10] d10sfan commented on #424
@JoshuaFern Strife VE has been added, currently just the veteran edition supported.

[2021-09-13 18:28] d10sfan commented on #424
@JoshuaFern @rea987

For the demos, I haven't had any success downloading demos after I own the base game. If you all are able to launch the demos, then a pull request would be welcome for implementation of these. Or if you can provide the necessary information for commands that should be run and are able to test.

[2021-09-13 18:55] d10sfan commented on #424
@JoshuaFern It looks like https://store.steampowered.com/app/1447830/battleMETAL/ is planning on adding native support in the future, so will hold off for now.

[2021-09-14 07:46] rea987 commented on #424
I link this as a reference;

https://github.com/luxtorpeda-dev/packages/issues/360

I have just downloaded Doom 3 Demo on Steam successfully. I also happened to purchased Doom 3 and Doom 3: Resurrection of Evil in August 2021; according to my Steam licenses history, I added Doom 3 Demo in my account in May 2021.

https://steamcommunity.com/id/realtunya/games/?tab=all

Running Doom 3 Demo via dhewm

[2021-09-14 23:08] JoshuaFern opened #427 "RetroArch"
### Project Link

https://github.com/libretro/RetroArch

### Project License

GPL-3.0

### Steam App Ids

https://steamdb.info/app/1118310/

### Additional Context

RetroArch has been released to steam and we have some options for adding to luxtorpeda-dev:

#### Non-Steam RetroArch

We can add the non-steam version of RetroArch as an option for RetroArch. This would be if they picked our "Luxtorpe

[2021-09-14 23:47] d10sfan commented on #424
@rea987 @JoshuaFern With this method, was able to get the following demos to work:

* Doom 3 Demo - https://github.com/luxtorpeda-dev/packages/commit/25998630e33cc28b44208d9f17d9363d13bd6a4c
* Quake III Arena Demo - https://github.com/luxtorpeda-dev/packages/commit/891b1e1160d745e1bf37ae6d1d0151d3ac699414

The following demos would not download no matter what I did, if you're able to get them to w

[2021-09-15 00:56] d10sfan commented on #424
@rea987 @JoshuaFern

I've also added zandronum (https://github.com/luxtorpeda-dev/packages/commit/8bdd8f3d37426f312d54858f45b20e308e9369d0), using the upstream provided download for https://store.steampowered.com/app/1566570/Retroninjacyberassassin so that should close out the ones possible here.

Thanks for the suggestions and help with getting the demos to work. Let me know if I missed any in he

[2021-09-15 00:56] #424 closed

[2021-09-15 02:08] JoshuaFern commented on #424
I've tested Retroninjacyberassassin and Strife, both seem to be working great. Although Retroninja is a terrible game.
I think it could be useful to add Zandronum as an option for other DOOM engine games as well.

I was able to download the Hexen II Demo by launching Steam with `steam -console` and running `app_install 9120` in the Steam console. It doesn't run for me with Proton.

[2021-09-15 03:14] d10sfan commented on #424
@JoshuaFern For Hexen II demo, I was unable to run it with that, so if you're able to run it and you can get it to work with the engine, feel free to create a pull request for it.

[2021-09-15 08:07] rea987 commented on #424
- As I checked my Steam licensed, I purchased Heretic/Hexen Pack in November 2017 whereas I added Hexen II Demo to my account in August 2017.
- As it is an outdated id Tech 2 game, it requires one of following launch commands to launch properly with Proton:

`MESA_EXTENSION_MAX_YEAR=2003 %command% -window -width 1280 -height 800 -bpp 32`
`PROTON_OLD_GL_STRING=1 %command% -window -width 1280 -heigh

[2021-09-17 17:47] d10sfan opened #445 "RealRTCW - Update to 3.3"
https://www.moddb.com/mods/realrtcw-realism-mod/downloads/realrtcw-31

[2021-09-19 10:54] ToughGuyKunio opened #474 "Terminal Velocity / terminal-recall"
### Project Link

https://github.com/jtrfp/terminal-recall

### Project License

Apache 2.0

### Steam App Ids

- https://steamdb.info/app/358370/

### Additional Context

Also supports Fury3 which is not available on Steam. I don't own Terminal Velocity myself yet, I'll get it on the next sale and test it out if needed. Nightly builds: https://sourceforge.net/projects/terminal-recall/files/

[2021-09-22 13:52] d10sfan commented on #474
Thanks for the request, currently don't own the game, so would need that to proceed.

[2021-09-22 18:37] ToughGuyKunio commented on #474
Can I send you a key?

[2021-09-22 18:57] ToughGuyKunio commented on #231
I also have a similar problem. I can launch Prey from *run-prey.sh* but not from Steam.
If I launch it from Steam it will just crash immediately, after that *run-prey.sh* will also crash. But if I first run *setup-prey.sh* and then *run-prey.sh*, the game will launch.

[2021-09-22 19:11] ToughGuyKunio commented on #231
No I can't launch from Steam, only from terminal.

[2021-09-22 19:15] d10sfan commented on #231
@ToughGuyKunio Ok, if you launch steam in terminal, it should output what is going on in the terminal window. If you put that into a file and upload it here, I can look over the log and see what may be going on.

[2021-09-22 19:49] ToughGuyKunio commented on #474
I think I need the numbers after, you can add me at: Jpx#0937

[2021-09-22 19:56] d10sfan commented on #231
@ToughGuyKunio

Looks like this is the issue:

[code]

Seems like something happened when it tried to launch the audio. It randomly is happening to me as well now, when I haven't seen this before, which makes me think this is a new issue possibly related to a steam update.

I have been working on a new version of the compatibility tool using the new container-based runtime, you can try it out if y

[2021-09-23 19:57] d10sfan commented on #445
Completed in runtime

[2021-09-23 19:57] #445 closed

[2021-09-25 04:34] #345 closed

[2021-09-25 12:37] spacecowgirl314 opened #503 "RCT2 does not work upon installation"
### Game

RCT2

### Engine

OpenRCT2

### Linux Distribution

Garuda

### Luxtorpeda Version

commit fdbdf737b92fa56f3ba36c6e6ba3e1ab72915756

### Bug description

Using the luxtorpeda-git AUR package and I installed RCT2. It tells me it can't find Data/g1.dat however it is there. I had to rename the "data" folder to uppercase "Data" for it to work otherwise it would continually ask me for the fol

[2021-09-25 12:42] spacecowgirl314 commented on #503
Addendum: I'm using btrfs as my filesystem. Not sure if this is a contributing factor.

[2021-09-25 17:53] d10sfan commented on #503
@spacecowgirl314

Interesting, is the file system you're using case sensitive? The game is supposed to download a "Data" directory, from what steamdb is saying and what I see when I play the game myself- https://steamdb.info/depot/285331/

The engine will download a lowercase "data" directory which is what openrct2 uses for its own data. It expects a "Data" directory that would contain the origina

[2021-09-25 18:38] d10sfan commented on #474
@ToughGuyKunio Thanks for the game. I've added this in https://github.com/luxtorpeda-dev/packages/pull/504

If you use the luxtorpeda (runtime) version and launch the game, it'll download openjdk and this engine and then run the game. You'll need to pick where the game asset files in the configuration menu, as I didn't see a way to give that information in the command line. But it seems to work pr

[2021-09-25 18:38] #474 closed

[2021-09-25 18:41] d10sfan commented on #242
Because of the terminal-recall engine, I messed with openjdk and got that to work. So that way system-wide java is no longer required. Whenever I am able to get these games, I'll work on implementing this.

[2021-09-25 18:49] d10sfan commented on #427
@JoshuaFern

For the appimage part, luxtorpeda switches to the windows depot, so that the windows version will be downloaded. So we wouldn't be getting the linux appimage in this case.

We could either take the retroarch nightly appimage and extract that, or attempt to build it, although not sure all that is involved there, and if the steam version is different (to support the steam dlcs).

As for

[2021-09-26 05:37] spacecowgirl314 commented on #503
g2.dat is not present in "Data" just "data". Here's tree results excluding file names. The "data" folder and it's entire contents show up after every launch.
`.
├── data
│   ├── language
│   ├── object
│   │   ├── official
│   │   │   ├── footpath_item
│   │   │   ├── ride
│   │   │   ├── scenery_group
│   │   │   ├── scenery_small
│   │   │   ├── station
│   │   │   ├── wall
│   │   │   └── water

[2021-09-26 07:38] Sojiro84 opened #505 "UnrealTournament (1999) Not Launching"
### Linux Distribution

EndeavourOS (Arch based)

### Luxtorpeda Version

36

### Bug description

UnrealTournament launches and I hear sound, but the screen stay's black.

I have added the log.

### Steps To Reproduce

Launch the game and the bug happens.

### Expected Behavior

I expected to see the game and not a black screen.

### Additional Context

_No response_

### Relevant log output

[co

[2021-09-26 12:16] ToughGuyKunio commented on #474
Works great, thank you!

[2021-09-26 12:41] ToughGuyKunio commented on #231
I tried the runtime with the new release and it seems to crash sometimes and work sometimes. I've made gist from both outputs down below if it helps. I don't think I got all output from the working one since it printed so many "empty read" lines the terminal history was cut short

Crash with runtime outuput: https://gist.github.com/ToughGuyKunio/f3436d324ffc45f3214d99818a48374a
Working with runtim

[2021-09-26 12:46] d10sfan commented on #231
@ToughGuyKunio Interesting, it seems to be that same audio crash. I am unable to replicate, it may be some issues with your host system's audio stack, although not sure what that could be.

Sadly there's not much that can be done that I know of since it's failing inside the closed source binary.

Out of curiosity do you have any issues with quake 4 or doom 3, if you own those? Those use the same e

[2021-09-26 12:53] d10sfan commented on #503
@spacecowgirl314 I pushed a new change (https://github.com/luxtorpeda-dev/packages/commit/ca2ca449151d049d3215d33234e3cb9b9c4aa114) to the runtime version that checks if the "Data" directory does not exist, and if so creates a link from "data" to "Data". I tested it by manually renaming my "Data" directory to "data" and it seemed to work well.

The next time you run the game once the build finishe

[2021-09-26 12:57] d10sfan commented on #503
There's a dependency issue where one of the servers is down, so I'll update this ticket once the build actually finishes.

[2021-09-26 13:05] Sojiro84 commented on #505
I have to use the runtime, because if I use the non-runtime version, nothing happens at all. This is the log of the non-runtime version:

[code]

[2021-09-26 14:07] ToughGuyKunio commented on #231
Doom 3 works fine but Quake 4 also crashes immediately. But it's not the same error message as Prey as far as I can tell?

Quake 4 crash output: https://gist.github.com/ToughGuyKunio/ddec1f9512b02116e2c106e6333b5e28

I'll see if I can test pipewire next, thanks for the tip.

[2021-09-26 17:24] ToughGuyKunio commented on #231
I uninstalled Pulseaudio and installed Pipewire. Quake 4 seems to work every time now.

Prey is still hit and miss. giving the same error message when it fails. Still calling it pulseaudio for some reason (pactl info shows pipewire).

[code]

I think I'll stick to using Proton for these two games, the native versions, even when they work, give me sub 60 fps performance and they run much better wit

[2021-09-26 17:35] d10sfan commented on #231
@ToughGuyKunio In the quake 4 log for some reason it seemed the first time the install failed.

And yeah sdl would still see it as pipewire, if you've got the whole pipewire pulse thing installed, which lets pipewire take over and mimic pulse.

I wish they had open sourced those two games' engine versions as well, since the original versions have issues. There is someone working on a mod of sorts

[2021-09-26 17:52] d10sfan commented on #503
@spacecowgirl314

The build is complete, let me know if that fixes your issue.

[2021-09-26 17:52] #503 closed

[2021-09-26 17:56] d10sfan commented on #505
@Sojiro84

The issue you were seeing with the non-runtime (original) one should be fixed now, next time you launch a game. There was an issue with the original's hash being incorrect, so it's been fixed on the server side.

Can you try the original version as a comparison to see if that works, as in try 469b on the original tool?

As well, what graphics driver type do you have, and do you have 32-

[2021-09-26 18:35] ToughGuyKunio opened #506 "dosbox-staging issues"
### Linux Distribution

Manjaro

### Luxtorpeda Version

36.0.0.r289.0253e5c-1

### Bug description

I've been testing some DOS games and I got some issues in luxtorpeda-dev that I don't get in Boxtron.

- God of Thunder - doesn't launch, gives z:\> promt.
- Jagged Alliance Gold - doesn't launch, gives z:\> promt.
- Realms of the Haunting - Launches. Alt+enter for windowed doesn't work. Escape doe

[2021-09-26 19:18] Sojiro84 commented on #505
Tried the non-runtime bit still get the same error. Do I need to do something to force a refresh or something? Or maybe remove a cache directory?

I have multilib enabled. I am running AMD 5700XT on mesa.

[2021-09-26 20:51] d10sfan commented on #505
@Sojiro84 No the engine itself should be the same on both in this particular case.

This sounds like it may be an issue with the game itself, you could try creating an issue here: https://github.com/OldUnreal/UnrealTournamentPatches/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc

That's the project where the 469b patch comes from. If you do, let me know if they end up having any fix that I coul

[2021-09-26 20:51] #505 closed

[2021-09-26 20:59] d10sfan commented on #506
@ToughGuyKunio

The way that dosbox-staging works inside luxtorpeda-dev with the "default" option is that it's attempting to get a config path from the original dosbox launch and use that with dosbox-staging natively.

An example of this can be found with steamdb for Carmageddon: https://steamdb.info/app/282010/config/

You can see that there's a config path so that's why that one works. ROTH also

[2021-09-26 21:35] d10sfan commented on #506
For the ones without being able to alt enter or escape see if there is a mapperfile setting in the configuration and if so if commenting it out restores that functionality and if the game still works ok. Also check if you have that in any of your own personal dosbox configs.

"can check the provided config files for a mapperfile setting, and then comment that out temporarily to use a default mappi

[2021-09-27 09:52] spacecowgirl314 commented on #503
Just reinstalled RCT2. It doesn't work. It still asks me for the installation directory.

[2021-09-27 11:46] JoshuaFern commented on #427
It seems that RetroArch won't be distributing as an AppImage much longer: https://steamcommunity.com/games/1118310/announcements/detail/2873849978168865590

Interesting, I've never had a captcha on buildbot and I'm pretty sure RetroArch fetches cores from there itself (there's clearly no way to enter a captcha in the RetroArch UI)

Yeah, that seems like a good option if it'll work. Just having nor

[2021-09-27 12:19] d10sfan commented on #503
@spacecowgirl314 Ah I forgot to mention, inside the game directory there is a "ready" file. Try removing that and then re-running the game. If that does not work, please provide a log, where you run steam inside a Terminal window and then send the output here.

[2021-09-27 17:10] d10sfan opened #507 "GCC 9 Fixes"
Look into gcc 9 backport and alternative for the library copy and use-ld commands

https://github.com/ValveSoftware/steam-runtime/issues/468

- [x] openhexagon
- [x] openapoc
- [x] cortex-command
- [x] perimeter

[2021-09-27 20:19] #507 closed

[2021-09-27 20:31] d10sfan commented on #427
@JoshuaFern Yes, it was strange the first time I went to the site, it brought up what I think was a cloudflare screen, where it had me solve a captcha before I went to the actual site. Hasn't happened since so not sure if it'd be an issue.

Do you know if there's a way with the command line to tell retroarch to download one of it's cores? Similar to the non-steam version where you can use the GUI?

[2021-09-27 22:33] d10sfan opened #511 "Support Automatic Detection of Game Folders For Dependent Games"
Will require client changes as well. Detect game folders based on VDF files, for things like the source sdk games, so that manual picking is not required. Will fallback to original picking if not found.

package json will have a key like below:

[code]

This will cause detection to occur which will then provide a ```DEPPATH_app_id``` environment variable for scripts to use.

- [x] source-sdk-2013

[2021-09-27 22:51] #511 closed

[2021-09-28 09:16] JoshuaFern commented on #427
Ah Cloudflare, that would do it.

I don't see a way to automate downloading via a cli parameter. Checking the default config of retroarch, it just fetches the cores from `http://buildbot.libretro.com/nightly/linux/x86_64/latest/`

The cores can be in `~/.config/retroarch/cores` or the `./cores` folder in the application directory I believe. The current AppImage based implementation on Steam places

[2021-09-28 14:05] d10sfan commented on #427
@JoshuaFern It looks like for the stable release, they have a zip of all cores, which ends up being about 1 gb of data unzipped. Do you know what the stable version uses, or is that the one?

It's possible to use the nightly instead, since it looks like they are using using whatever is in the nightly latest to download the cores. If there was an issue at some point, there may have to be some manua

[2021-09-28 14:16] d10sfan commented on #427
@JoshuaFern Also, if you could compile a list of cores that would use useful for steam games (what games they apply to and the name of the core), and any information that would be helpful as to launching them.

[2021-09-29 00:30] d10sfan commented on #242
This is complete in https://github.com/luxtorpeda-dev/packages/pull/513

It will create a config file in the place that the buildgdx launcher is looking in, so that you don't have to manually find it. There does not appear to be any command line switches, so if you want to switch between original and the enhanced version, you'll either have to manually change the path, or delete the file and pick

[2021-09-29 00:30] #242 closed

[2021-09-29 13:43] rea987 commented on #242
Can BuildGDX support for Blood: One Unit Whole Blood be added?

https://store.steampowered.com/app/299030/Blood_One_Unit_Whole_Blood/

[2021-09-29 13:56] d10sfan commented on #242
@rea987 I don't own that one, so don't have a way to test it. If you can provide the proper paths to the game data, or provide a pull request with that game supported, then it could be added.

[2021-09-29 17:22] cyberconan opened #514 "AvP crash when language is not english"
### Game

Aliens versus Predator

### Engine

AvP

### Linux Distribution

Archlinux

### Luxtorpeda Version

luxtorpeda-git-37.0.0.r292.5cf7383-1

### Bug description

Hi!!
In first place, thank you so much, your work is incredible and was a great discover for me.
There is a minor issue with AvP, but neuromancer git is archived and I don't know if he will return:
https://github.com/neuromancer/av

[2021-09-29 17:29] d10sfan commented on #514
@cyberconan

Thanks for the report. What does commenting out that line do visually, if anything? Mainly curious for the english version.

[2021-09-29 17:41] cyberconan commented on #514
Only hides the bottom message in main main, better this than a crash :)
![Screenshot_20210929_193553](https://user-images.githubusercontent.com/1497109/135320929-32dcf9f2-dec0-423b-95ed-374ae9dfd5a2.png)

[2021-09-29 17:44] d10sfan commented on #514
@cyberconan Ah ok, thank you. I'm working on creating a build for testing now. I'll update with my findings soon.

[2021-09-29 17:45] cyberconan commented on #514
Wonderful @d10sfan ! Thanks!!

[2021-09-29 17:54] d10sfan commented on #107
@frostworx

Solved in https://github.com/luxtorpeda-dev/packages/commit/bf973030aa41a957ca25dbdf621cfa355558293c

The next time you run the game under Luxtorpeda (Runtime), this should be fixed.

[2021-09-29 17:55] #514 closed

[2021-09-29 18:31] d10sfan commented on #407
@jorgicio I updated to the latest version of the engine here: https://github.com/luxtorpeda-dev/packages/commit/0211620d46a1e072f0f4e89d90af8d780eac5803

So you may want to see if the newer version had any fixes for the issues you're experiencing. You should be able to see the new one the next time you run the game with Luxtorpeda (Runtime) selected.

[2021-09-29 18:55] JoshuaFern commented on #427
Retroarch doesn't install all the cores in one-go like that, the built in downloader fetches cores from `http://buildbot.libretro.com/nightly/linux/x86_64/latest/`. I realize these cores are in the nightly branch, but this is what the stable version of Retroarch downloads. Rather than downloading that entire archive, I think lux should only download the single core being used if it's missing. Then

[2021-09-29 19:08] frostworx commented on #107
thx for the fix @d10fan.

Just wanted to test it with luxtorpeda-37, but I only get
[code]

_(a 0 byte packages-temp.json)_ appears and vanishes in `~/.cache/luxtorpeda/` while the command is running.

[2021-09-29 19:26] d10sfan commented on #107
@frostworx Could you try by launching the game through steam and picking luxtorpeda (runtime)? I'll look into that, looks like the package.json isn't working quite right for the original.

[2021-09-29 19:33] d10sfan commented on #107
@frostworx I fixed the issue with the hash error. Note that the one you are downloading currently will use the older one, called "original". I believe the download will use the newer runtime if you put runtime_ in front of it,  but let me know if not.

[2021-09-29 19:54] frostworx commented on #107
@d10sfan:
I can confirm that `"Luxtorpeda (Runtime)"` downloads `avp-3730-7.tar.xz` _(md5 f7c48107fd964996b8239288427db8ea)_
and the game starts correctly in german. "Luxtorpeda" (Original) pulls  `avp-3730-5.tar.xz` _(abaf974363a8926e76de17d71e2433f3)_, which does not work with german language.

[2021-09-29 20:02] d10sfan commented on #107
@frostworx Ok, the original one is in a freeze, meaning that the plan is to eventually deprecate it and replace with the runtime.

For your manual way of doing it with the tinker tool, does runtime_manual-download work to download the runtime version?

[2021-09-29 20:08] jorgicio commented on #407
Hi. I just tried with recent version of Luxtorpeda, cleaning files in order to redownload the client, and the issue still remains the same. Also I don't know how to select the Luxtorpeda mode, but I'm using the Steam Runtime version.

Thanks anyways.

[2021-09-29 20:09] d10sfan commented on #407
@jorgicio Ok, if you go into the compatibility tools section if you are using version 37, you should see Luxtorpeda and Luxtorpeda (Runtime).

if you could try selecting Luxtorpeda (Runtime) and then playing the game, unless you're saying that's what you did.

[2021-09-29 20:16] frostworx commented on #107
starting the luxtor tool with args `runtime_manual-download 3730`
leads to a `Download of avp Error: Progress not implemented`
with following stdout
[code]

[2021-09-29 20:18] d10sfan commented on #107
@frostworx What version of the client are you running?

[2021-09-29 20:20] frostworx commented on #107
`luxtorpeda-37` as written above, @d10sfan

[2021-09-29 20:23] d10sfan commented on #107
@frostworx Ah ok, I think the runtime version needs to have further support for the manual download. I'll look into that in the future. But good to hear that the runtime version of avp works for you.

I created https://github.com/luxtorpeda-dev/luxtorpeda/issues/94 to track that.

[2021-09-29 20:24] d10sfan commented on #107
@frostworx You will probably also need to have an option in the tinker tool for using the runtime version as well. Let me know in that other ticket if you have any questions related to that.

[2021-09-29 20:25] jorgicio commented on #407
Hi, now I selected "Luxtorpeda (Runtime)" and now it works with DoomBFA only when in the running command parameters I set the `+set sys_lang "spanish"` at the end and now it works. Also, I found another caveat when I did this: I can't set any level of antialiasing or the game won't start (I just tried it and now I had to set the antialiasing variable to 0 to make it work again), so I may play the

[2021-09-29 20:29] d10sfan commented on #407
@jorgicio Ah ok, great, glad it's working! For the anti-aliasing, that may be a upstream engine bug. If you're interested, you can try submitting a bug report to them.

Let me know if you need anything else.

[2021-09-29 20:34] d10sfan commented on #107
@frostworx Ok, this version automatically uses the runtime, it's just a different compatibility tool. Eventually runtime will replace the original one. Already original will get no updates.

So you won't have to do anything if you don't want to, as eventually runtime will become the default. And best of luck to you

[2021-09-29 20:35] d10sfan opened #517 "(SH-2006) Use of legacy backtick"
## Description
Consider using the `$(...)` notation instead. Backtick command substitution `\`...\`` is legacy syntax with several issues. * It has a series of undefined behaviors related to quoting in POSIX.

## Occurrences
There are 11 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/luxtorpeda-dev/packages/issue/SH-2006/occurrences/](https

[2021-09-29 20:36] frostworx commented on #107
Same to you, thx, @d10sfan

[2021-09-30 06:58] frostworx commented on #107
Just added and tested `Luxtorpeda (Runtime)` support to steamtinkerlaunch.
- [simple commit](https://github.com/frostworx/steamtinkerlaunch/commit/ad1ea91b96f7fa9ae746ab164f27032d340fecdf)
- [wiki](https://github.com/frostworx/steamtinkerlaunch/wiki/Luxtorpeda)

[2021-09-30 12:17] LawnieMcLawnface commented on #173
Hey @d10sfan, I can confirm that FSPort is a popular modification for Freespace Open that works flawlessly and is an optional part of the installation. It should be a simple case of ticking it during that process in order to get FSPort working.

[2021-09-30 13:26] d10sfan commented on #173
http://icculus.org/~taylor/freespace/
http://www.icculus.org/freespace2/

[2021-09-30 17:08] d10sfan commented on #173
@LawnieMcLawnface Thanks for the information, once I own the game, I'll take a look at this one.

[2021-09-30 17:52] OBITORASU commented on #517
Seems like a quick fix going through the logs can I work on this?

[2021-09-30 18:40] JoshuaFern commented on #427
### Cave Story (NXEngine)
Cave Story https://steamdb.info/app/200900/
[code]

### Doom (PrBoom)
The Ultimate DOOM https://steamdb.info/app/2280/
[code]
Final DOOM https://steamdb.info/app/2290/
[code]
DOOM II: Hell on Earth https://steamdb.info/app/2300/
[code]

### Doom 3 (Boom3)
DOOM 3 https://steamdb.info/app/9050/
[code]

### Doom 3 Resurrection of Evil (Boom3-ex)
DOOM 3: Resurrection of Evil

[2021-09-30 18:45] d10sfan commented on #427
Thanks for the list, looks like a good starting point.

Note for future reference that the script itself should not use unzip, and rely on the client's decode_as_zip function to extract the library.

[2021-09-30 18:46] d10sfan commented on #517
@OBITORASU Sure, that's fine, thanks! As part of that, test what engines you can when those changes has been done. Then feel free to create a pull request and I'll look it over.

[2021-09-30 18:52] OBITORASU commented on #517
So that would mean I need around 5 PRs each for 5 of the affected engines right?

[2021-09-30 19:04] d10sfan commented on #517
Yes, that's right.

[2021-09-30 19:47] OBITORASU commented on #517
Did the testing as per the guidelines on `ja2-stracciatella` engine locally since it was the easiest to handle and was probably the least affected. Both the commands from the testing guide seem to have exited with exit code 0 inside the docker container so thought might as well drop the PR if the local tests pass.

[2021-10-05 13:14] #517 closed

[2021-10-05 13:15] d10sfan commented on #517
@OBITORASU Thanks for working on these items.

[2021-10-12 22:34] rea987 opened #525 "REKKR: Sunken Land"
### Project Link

https://github.com/coelckers/gzdoom/

### Project License

GPL v3

### Steam App Ids

- https://steamdb.info/app/1715690/

### Additional Context

The dev of the game confirmed that the game runs on GZDoom and can be played with 3rd party source ports:

https://steamcommunity.com/app/1715690/discussions/0/3081016749018404028/

[2021-10-23 05:45] d10sfan opened #528 "Freespace knossos"
### Project Link

https://fsnebula.org/knossos/
https://github.com/ngld/old-knossos

### Project License

?

### Steam App Ids

Freespace 2

### Additional Context

_No response_

[2021-10-24 19:59] d10sfan opened #529 "Engine Controller Support"
**Controller Default Config Improvements To-Do**

- [x] vkQuake
- [x] quakespasm-spiked
- [x] ironwail
- [x] gzdoom, raze, WIGZDoom - https://forum.zdoom.org/viewtopic.php?p=1109954#p1109954
- [x] Yamagi Quake II
- [x] Test on Xbox and PS Controllers

[2021-10-25 17:19] #525 closed, assigned to d10sfan

[2021-10-25 20:06] Zlopez opened #531 "OpenMW has no sound in flatpak Steam"
### Linux Distribution

Fedora 35

### Luxtorpeda Version

40

### Bug description

When using OpenMW with The Elder Scrolls III: Morrowind in flatpak Steam there is no sound.

### Steps To Reproduce

1. Open Steam
2. Set compatibility tool for The Elder Scrolls III: Morrowind to luxtorpeda
3. Run the game
4. Use either `openmw` or `openmw-launcher`

### Expected Behavior

Sound is running

### Ad

[2021-10-27 13:13] #531 closed, assigned to nobody

[2021-10-27 13:22] d10sfan opened #532 "Restore runescape"
* Need ar command

https://runescape.wiki/w/Linux#Other_distributions

https://github.com/bminor/binutils-gdb/blob/master/binutils/ar.c

[2021-10-29 13:36] AsciiWolf opened #535 "UT2004 gameplay is broken"
### Game

Unreal Tournament 2004: Editor's Choice Edition

### Engine

Proprietary Engine

### Linux Distribution

Fedora 35 (with Flatpak Steam)

### Luxtorpeda Version

Pre-release 43.0

### Bug description

I have found this while testing https://github.com/luxtorpeda-dev/luxtorpeda/issues/111. UT2004 gameplay seems to be completely broken - ingame menus all work fine, but when starting the act

[2021-10-29 18:22] AsciiWolf commented on #535
So, I spent last two hours trying to get it working. I have tried everything, but there was still the same issue. I have ended up trying to install UT2004 using (64-bit Native + Steam version) [Lutris installer](https://lutris.net/games/unreal-tournament-2004/) and, to my surprise, it works fine. So, it is just the Luxtorpeda version that has these issues on my system.

[2021-10-29 19:06] d10sfan commented on #535
@AsciiWolf

Interesting, I wonder if it's related to the sdlcl that I'm adding to the build. This is supposed to help with improving the sdl in use, instead of the provided sdl 1.

You might try manually editing the cached ut2004-13230-**.tar.xz archive (located in ~/cache/luxtorpeda/13230/) and remove the libSDL-1.2.so.0 there, then verify your game files, then launch. That might indicate an issu

[2021-10-29 19:28] AsciiWolf commented on #535
I think that Lutris used files from the `steamapps/common/Unreal Tournament 2004` directory that were already patched by Luxtorpeda and yet UT2004t works fine in Lutris using these files. Or am I mistaken and Luxtorpeda does not patch the game files directly?

[2021-10-29 19:38] d10sfan commented on #535
@AsciiWolf This does not change the existing files, you can see what it's doing here: https://github.com/luxtorpeda-dev/packages/blob/master/engines/ut2004/assets/setup-ut2004.sh

It creates a new folder called linuxdata that it copies everything into and sets up links to.

[2021-10-29 19:49] AsciiWolf commented on #535
Ah! :-) I got confused because there is also a "System" (not linuxdata/System) directory with some files left after uninstalling UT2004 on Steam:

![files](https://user-images.githubusercontent.com/2339930/139493722-5a3f2936-cd86-4b49-b256-db042f527639.png)

[2021-10-29 19:52] AsciiWolf commented on #535
And linuxdata/System contains symlinks to these files:

lrwxrwxrwx. 1 asciiwolf asciiwolf       28 29. říj 21.42 libSDL-1.2.so.0 -> ../../System/libSDL-1.2.so.0
lrwxrwxrwx. 1 asciiwolf asciiwolf       27 29. říj 21.42 libstdc++.so.5 -> ../../System/libstdc++.so.5
...
lrwxrwxrwx. 1 asciiwolf asciiwolf       22 29. říj 21.42 openal.so -> ../../System/openal.so

Is this correct?

[2021-10-29 20:00] AsciiWolf commented on #535
I have tried removing libSDL-1.2.so.0 from the cached archives and reinstalling UT2004 (uninstalling the game, completely removing the whole "Unreal Tournament 2004" game directory, then installing it again), but UT2004 does not run anymore because it does not find libSDL-1.2.so.0:

`com.valvesoftware.Steam.desktop[101531]: ./ut2004-bin-linux-amd64: error while loading shared libraries: ./libSDL-1

[2021-10-29 20:08] d10sfan commented on #535
@AsciiWolf There are a few files that get put into the System directory when it extracts the usual stuff, but it uses linuxdata for the actual run.

And yes, that should be correct, those three files are coming from built versions of those packages (sdlcl for sdl 1,2)

If possible, see if lutris one provides a sdl 1.2 library and try copying it into there.

[2021-10-29 20:14] AsciiWolf commented on #535
I have tried copying libSDL-1.2.so.0 from the System directory of my Lutris UT2004 installation to the System directory of my Steam UT2004, then created a correct symlink in linuxdata/System. Game now runs, but there is still the same issue as before (keyboard/mouse controls not working ingame + crash on ESC). I have also tried copying libstdc++.so.5 and openal.so from Lutris version, but still no

[2021-10-29 20:18] AsciiWolf commented on #535
I have also tried disabling the Steam Overlay, but still nothing. I think that this may be some strange bug in SDL 1.2 in combination with how Pressure Vessel handles sandboxing and there is most likely no easy workaround for it. :-/ I will be playing UT2004 in Lutris for now. Anyway, thanks for your help, I really appreciate it, and thanks a much for working on Luxtorpeda! :-)

[2021-10-29 21:25] d10sfan commented on #535
@AsciiWolf

I pushed this up as a possible fix: https://github.com/luxtorpeda-dev/packages/commit/1badf596523a1c2ebf77ccef16a3fa8dcd248375

This basically has it trying to use the old style runtime to load the game, using its environment instead of soldier. I don't have any issues myself, but it may fix it for you.

Also, you may want to try doing an uninstall of the game, clearing out any files a

[2021-10-29 21:25] #535 closed

[2021-10-29 21:34] AsciiWolf commented on #535
Thanks, I will try it tomorrow. I have tried uninstalling the game with all its files (including .ut2004 directory) multiple times. :-)

[2021-10-29 21:46] d10sfan opened #538 "source-sdk-2013 & Hl2 beta"
When using hl2 beta, source games that try to use the episodic so directly fail.

and look at new game: https://steamcommunity.com/app/587650/discussions/0/133263024018150066/

[2021-10-30 02:59] #538 closed

[2021-10-30 03:00] d10sfan commented on #538
https://github.com/luxtorpeda-dev/packages/commit/b72335e70a1c0ddd6b88ec3608d9bae639ab75c4

[2021-10-30 10:41] JoshuaFern opened #540 "Blake Stone: Content not found."
### Game

358310, 358190

### Engine

bstone

### Linux Distribution

Flatpak/NixOS

### Luxtorpeda Version

43

### Bug description

When running Blake Stone the following dialog box appears and the game closes: `CRITICAL: Content not found.`

### Steps To Reproduce

Run the game.

### Expected Behavior

The game should be able to locate the game content correctly.

### Additional Context

Only a

[2021-10-30 11:05] JoshuaFern opened #541 "Broken Sword 2: Cannot open resource.inf"
### Game

33600

### Engine

ScummVM

### Linux Distribution

Flatpak/NixOS

### Luxtorpeda Version

43

### Bug description

Playing Broken Sword II results in the following error messages:
Broken Sword II: Cannot open resource.inf
Error running game: Unknown Error

### Steps To Reproduce

Run Broken Sword II using ScummVM

### Expected Behavior

The game should play correctly.

### Additional Co

[2021-10-30 12:06] JoshuaFern opened #542 "Jagged Alliance 2 - Wildfire"
### Game

Jagged Alliance 2 - Wildfire 1343370

### Engine

Jagged Alliance 2 Stracciatella

### Linux Distribution

Flatpak/NixOS

### Luxtorpeda Version

43

### Bug description

After starting the game a launcher appears, after clicking Play Ja2 Stracciatella a dialog box appears that states "Data dir not found, are you sure you want to continue?" Clicking Continue results in the message `Comma

[2021-10-30 12:35] JoshuaFern opened #543 "Prey: Pulseaudio crash"
### Game

Prey 3970

### Engine

Proprietary

### Linux Distribution

Flatpak/NixOS

### Luxtorpeda Version

43

### Bug description

Launching the game results in a crash.

### Steps To Reproduce

Run the game.

### Expected Behavior

The game should not crash.

### Additional Context

The crash seems to be related to Pulseaudio, however I'm using Pipewire with Pulseaudio support. This may be a c

[2021-10-30 12:38] AsciiWolf commented on #535
I just tried UT2004 again (with latest Luxtorpeda 44 and all UT2004 game/config and Luxtorpeda cache files wiped), unfortunately there is still the same issue:

[code]

[2021-10-30 12:40] AsciiWolf commented on #535
Here is a full UT2004 log:

[code]

(The foxWSFix warnings are there because I removed foxWSFix.)

[2021-10-30 12:40] JoshuaFern opened #544 "Putt-Putt and Fatty Bear's Activity Pack: Not detected."
### Game

Putt-Putt® and Fatty Bear's Activity Pack 294720

### Engine

ScummVM

### Linux Distribution

Flatpak/NixOS

### Luxtorpeda Version

43

### Bug description

The game isn't being detected and doesn't show up in the ScummVM menu as a selectable title.

### Steps To Reproduce

Run the game.

### Expected Behavior

The game should have been detected and shown in the menu.

### Additional C

[2021-10-30 12:52] AsciiWolf commented on #535
I got it working (game is now fully controllable using keyboard/mouse and ESC no longer causes the game to crash)! By replacing all *.ini files in linuxdata/System with ini files from my Lutris installation.

[2021-10-30 13:02] rea987 opened #545 "OpenKrush for Krush Kill 'N Destroy 1 / 2"
### Project Link

https://github.com/IceReaper/OpenKrush

### Project License

GPLv3

### Steam App Ids

- https://steamdb.info/app/1292170/
- https://steamdb.info/app/1292180/

### Additional Context

The engine is derived from OpenRA and requires original game data.

[2021-10-30 13:20] AsciiWolf commented on #535
Oops, it's probably not the ini files. Ignore my previous comment...

[2021-10-30 13:26] JoshuaFern opened #546 "Unreal Tournament: Doesn't start."
### Game

https://store.steampowered.com/app/13240/Unreal_Tournament_Game_of_the_Year_Edition/

### Engine

Proprietary

### Linux Distribution

Flatpak/NixOS

### Luxtorpeda Version

43

### Bug description

Game doesn't start.

### Steps To Reproduce

Start the game.

### Expected Behavior

The game should start.

### Additional Context

_No response_

### Relevant log output

[code]

[2021-10-30 13:38] JoshuaFern commented on #506
Here's a list of games that I've experienced with similar issues:
https://store.steampowered.com/app/358280/Alien_Carnage__Halloween_Harry/
https://store.steampowered.com/app/358170/Arctic_Adventure/
https://store.steampowered.com/app/559640/Betrayal_Collection/
https://store.steampowered.com/app/329630/Command_HQ/
https://store.steampowered.com/app/358250/Cosmos_Cosmic_Adventure/
https://store.st

[2021-10-30 13:41] JoshuaFern commented on #542
Just wanted to add, I tried fiddling with the settings and pointed it both at the root game directory and the data subdirectory. Nothing seemed to work.

[2021-10-30 13:42] AsciiWolf commented on #535
Finally got it working!!! So, it was actually caused by the 'foxWSFix.foxPlayerInput' entry in linuxdata/System/User.ini:

[code]

 Game works without any issue afterwards.

[2021-10-30 13:52] AsciiWolf commented on #535
I have found the actual problem in User.ini! :-)

You have one thing missing. As mentioned in [foxWSFix readme](https://github.com/alexstrout/foxWSFix-UT2k4/blob/master/readme.md#install--uninstall), _"This line should appear at least twice - once under [Engine.PlayerController], and once under [XGame.xPlayer]. Be sure to change each one! (or add it if missing)"_.

So, I have added these two lines

[2021-10-30 15:15] d10sfan commented on #546
@JoshuaFern This may be because of the failed to create symbolic link errors, if you've run this before outside the runtime, the links might not work. Try removing that directory altogether and then run it again.

[2021-10-30 15:30] d10sfan commented on #535
@AsciiWolf

Thanks for the information, I've done this in this commit, you should see it in a few minutes: https://github.com/luxtorpeda-dev/packages/pull/547

To test it, you can delete the "ready" file and then run the game again, after deleting your .ut2004 to ensure that it runs the right configuration.

[2021-10-30 15:38] JoshuaFern commented on #546
I have uninstalled the game, deleted the game directory, and also removed ~/.loki - then reinstalled. Same error.

[2021-10-30 16:08] AsciiWolf commented on #535
Thanks! I can confirm that the fix helped and UT2004 now works fine. :-)

[2021-10-30 16:14] AsciiWolf commented on #546
I have the same issue on a clean UT install.

Here is a full log:
[code]

[2021-10-30 16:42] AsciiWolf opened #548 "DOOM 3: BFG Edition does not start"
### Game

DOOM 3: BFG Edition does not start

### Engine

rbdoom-3-bfg

### Linux Distribution

Fedora 35 (with Flatpak Steam on Wayland session)

### Luxtorpeda Version

Pre-release 44.0

### Bug description

DOOM 3: BFG Edition with rbdoom-3-bfg crashes on start.

### Steps To Reproduce

1. Install DOOM 3: BFG Edition.
2. Run it using Luxtorpeda with rbdoom-3-bfg engine.

### Expected Behavior

[2021-10-30 16:50] AsciiWolf opened #549 "Prey does not start"
### Game

Prey

### Engine

Proprietary Engine

### Linux Distribution

Fedora 35 (with Flatpak Steam on Wayland session)

### Luxtorpeda Version

Pre-release 44.0

### Bug description

Prey crashes on start.

### Steps To Reproduce

1. Install Prey.
2 Run it using Luxtorpeda.

### Expected Behavior

Game runs and is playable without issues.

### Additional Context

_No response_

### Relevant log

[2021-10-30 17:08] AsciiWolf opened #550 "Unreal Gold installation fails on a "not found" error"
### Game

Unreal Gold

### Engine

Proprietary Engine

### Linux Distribution

Fedora 35 (with Flatpak Steam on Wayland session)

### Luxtorpeda Version

Pre-release 44.0

### Bug description

This happens when trying to install Unreal using Luxtorpeda:

![not-found](https://user-images.githubusercontent.com/2339930/139542465-bb0c30c1-522d-49b1-af85-23b31dead66f.png)

Unfortunately, there is nothi

[2021-10-30 17:10] d10sfan commented on #549
This looks like a duplicate of the other open prey ticket. Can you add your logs to that?

[2021-10-30 17:10] #549 closed

[2021-10-30 17:12] d10sfan commented on #550
This one requires manual steps to run. Did you see the readme the error talks about?

[2021-10-30 17:12] #550 closed

[2021-10-30 17:12] d10sfan commented on #550
Let me know if it does not work after the steps are run. The reason for the manual steps is that the installer is required due to licensing.

[2021-10-30 17:16] AsciiWolf opened #551 "The Ultimate DOOM has no sound with gzdoom"
### Game

The Ultimate DOOM

### Engine

gzdoom

### Linux Distribution

Fedora 35 (with Flatpak Steam on Wayland session)

### Luxtorpeda Version

Pre-release 44.0

### Bug description

There is no sound when playing using gzdoom. DOOM II: Hell on Earth has the same problem.

It works fine when using other DOOM engines.

### Steps To Reproduce

1. Install Ultimate Doom.
2. Try running it using Lu

[2021-10-30 17:18] AsciiWolf commented on #551
There is also a coredump after exiting the game:

[code]

[2021-10-30 17:22] AsciiWolf commented on #543
Prey also crashes on my system, with a slightly different error:

[code]

[2021-10-30 17:30] AsciiWolf commented on #550
Oops, sorry. It does indeed work after the steps are run. :-)

[2021-10-30 18:03] d10sfan commented on #551
The log you sent looks to be about chocolate doom. Do you have one for gzdoom?

And your saying that chocolate and other ones work for audio but not gzdoom?

[2021-10-30 18:12] AsciiWolf commented on #551
Oops, I have copied the wrong log. :-) I have update the original post with a correct log.

[2021-10-30 18:12] AsciiWolf commented on #551
Oops, I have copied the wrong log. :-) I have updated the original post with a correct log.

[2021-10-30 18:17] d10sfan commented on #551
It looks like this is the culprit

AL lib: (EE) ALCpulsePlayback_connectStream: Stream did not get ready: No such entity
com.valvesoftware.Steam.desktop[91702]: AL lib: (EE) ALCpulsePlayback_connectStream: Stream did not get ready: No such entity
com.valvesoftware.Steam.desktop[91702]: fluidsynth: warning: SDL2 not initialized, SDL2 audio driver won't be usable

There was a similar issue someone h

[2021-10-30 18:19] d10sfan commented on #548
Setup OpenAL device and context... Sys_Error: i

This looks similar to your other report, it seems like there's something more general blocking sound access for some reason on your system

[2021-10-30 18:20] AsciiWolf commented on #548
`Sys_Error: idSoundHardware_OpenAL::Init: alcOpenDevice() failed`

Maybe a similar issue as #551?

[2021-10-30 18:22] AsciiWolf commented on #548
It may be a [PipeWire](https://pipewire.org) bug. However, sound works fine in all games except these two (and one non-Steam Flatpak game where it also does not work for unknown reason).

[2021-10-30 18:22] JoshuaFern commented on #551
Sound is working in my Flatpak 1.12.2 environment for both gzdoom and openmw.

[2021-10-30 18:24] AsciiWolf commented on #551
Interesting. What is your Linux distribution? Do you use PipeWire or PulseAudio?

[2021-10-30 18:24] JoshuaFern commented on #551
NixOS and Pipewire

[2021-10-30 18:40] AsciiWolf commented on #551
Hmm. Do you use [WirePlumber](https://gitlab.freedesktop.org/pipewire/wireplumber) or the older PipeWire session manager?

[2021-10-30 18:42] JoshuaFern commented on #551
I think it's just the normal session manager.

[2021-10-30 18:44] AsciiWolf commented on #551
Hm, so maybe there is a bug in WirePlumber. I have sound not working in one non-Steam Flatpak game and it stopped working since I upgraded to Fedora 35 which has WirePlumber instead of the older session manager.

[2021-10-30 18:46] AsciiWolf commented on #551
#548 has probably the same issue.

[2021-10-31 00:20] d10sfan commented on #551
@AsciiWolf

This sounds like it may be an issue with your environment. Let me know if there's anything additional that can be done on my end though.

[2021-10-31 00:20] #551 closed

[2021-10-31 00:21] d10sfan commented on #548
@AsciiWolf

This sounds like it may be an issue with your environment. Let me know if there's anything additional that can be done on my end though.

There is a new version of rbdoom that is being built now, so once that's finished, you may want to try that to see if there's any changes. Also, try the other option, the classic one.

[2021-10-31 00:21] #548 closed

[2021-10-31 02:04] d10sfan commented on #542
@JoshuaFern

Do you own the https://store.steampowered.com/app/545210/Jagged_Alliance_2_Classic/ DLC as well?

You have to have both the wildfire and classic games to proceed with the game.

I've added an error that shows up during the launch process if it does not exist, in addition to the information in the packages file: https://github.com/luxtorpeda-dev/packages/commit/d084fd4c12da6cc3ceeaade8

[2021-10-31 02:04] #542 closed

[2021-10-31 02:06] d10sfan commented on #540
@JoshuaFern

I don't own these games, so I don't have a way to debug this. If you are able to find the right commands to get them to run, feel free to create a PR. Otherwise will have to wait until I'm able to purchase these.

[2021-10-31 02:26] d10sfan commented on #541
@JoshuaFern

I've put a fix for that here: https://github.com/luxtorpeda-dev/packages/commit/6bcd5fc2ac2028598a4cf4f22476820a17792f6f

Pretty much, if the script detects a "Original" folder, then it'll search in that path instead of the root path, where it was attempting and failing.

Note that you'll need to remove that section of the scummvm.ini file (located in the user's config directory) befo

[2021-10-31 02:26] #541 closed

[2021-10-31 02:36] d10sfan commented on #506
@JoshuaFern

The dosbox-staging launch is very simple in lux, just doing this script: https://github.com/luxtorpeda-dev/packages/blob/master/engines/dosbox-staging/assets/run-dosbox-staging.sh

As I mentioned when it originally came out, it was very simple and not designed as a replacement for what boxtron was doing but that I'd like to get to the point where it could be.

It sounds like a big par

[2021-10-31 03:03] d10sfan commented on #544
@JoshuaFern

Issue was that scummvm was installed inside a "ScummVM_Windows" directory and so was unable to find the actual game path, needed to go up two levels instead of one.

I've pushed up a fix that detects if the level above is that and updates the path accordingly: https://github.com/luxtorpeda-dev/packages/commit/e9c7dcd650a1303046e72ed48db4019d234c4e70

[2021-10-31 03:03] #544 closed

[2021-10-31 03:15] d10sfan commented on #543
This is a possible fix: https://github.com/luxtorpeda-dev/packages/commit/b13047abca2ba3cdea59f0ba83c0575cc01ccc75

This seems to happen to be as well every so often, although it seems the first time it happens, I'm always able to launch again and it work.

Let me know if that fix improves things.

[2021-10-31 03:15] #543 closed

[2021-10-31 03:30] d10sfan commented on #546
@AsciiWolf @JoshuaFern

I'm unable to replicate this crash on my system, this may point to an issue running the game inside a flatpak. If you could, try and see if you all find any workarounds or fixes for this. You may also want to try unreal gold if you have it as a comparison, as its a similar engine.

[2021-10-31 03:34] #546 closed

[2021-10-31 03:57] d10sfan commented on #532
Done in https://github.com/luxtorpeda-dev/packages/pull/553/files

[2021-10-31 03:57] #532 closed

[2021-10-31 04:06] d10sfan commented on #528
Will most likely wait until https://github.com/ngld/knossos is officially released, as it seems to be much easier to build and will be maintained.

[2021-10-31 04:06] #528 closed

[2021-10-31 10:26] AsciiWolf commented on #543
The game sadly still crashes on my system. Same error as before.

[2021-10-31 10:30] AsciiWolf commented on #546
There seem to be some problem with this line: https://github.com/luxtorpeda-dev/packages/blob/master/engines/ut99/assets/setup-ut99-469b.sh#L12

[2021-10-31 10:50] AsciiWolf commented on #546
However, it does work fine for ut2004, so I am not sure what is going on.

[2021-10-31 12:32] d10sfan commented on #546
Don't think that is related I get that same web error but it should not hurt anything. It looks like this is the main issue

Core.so: cannot allocate memory in static TLS block

Never seen an error like that before so not sure what could be causing it

[2021-10-31 13:10] AsciiWolf commented on #546
Ah! I have found [this](https://forums.developer.nvidia.com/t/cv2-cannot-allocate-memory-in-static-tls-block/118709) and other posts mentioning that it is a problem with libgomp that can be fixed by preloading the correct library. Hmm.

[2021-10-31 22:11] rea987 opened #554 "Half-Life 2: DownFall"
### Project Link

https://github.com/ValveSoftware/source-sdk-2013

### Project License

Source SDK Copyright(c) Valve Corp.

### Steam App Ids

https://steamdb.info/app/587650/

### Additional Context

Half-Life 2: DownFall is a free of charge HL2 mod whose store pages states that;

https://store.steampowered.com/app/587650/HalfLife_2_DownFall/

I am able to run it as both free Source SDK mod and

[2021-10-31 23:52] JoshuaFern commented on #543
Still having the same error on my end.

[2021-10-31 23:56] JoshuaFern commented on #544
Thanks, seems to be working now.

[2021-10-31 23:58] JoshuaFern commented on #541
Thanks, seems to be working now.

[2021-10-31 23:59] JoshuaFern commented on #542
Ah, yep. That's the problem, I don't own the required DLC.

[2021-11-01 00:00] JoshuaFern commented on #532
Thanks, seems to be functional.

[2021-11-01 01:16] JoshuaFern commented on #540
The problem seems to be that for these AppIDs the files are being installed to the steam root directory,
[code]
I've never seen this behavior in a luxtorpeda package before, but I'm sure this is the root cause of why it can't find the game's data files.

[2021-11-01 02:04] d10sfan commented on #540
@JoshuaFern

This sometimes happens when the path to the game doesn't quite make sense versus the current directory. ut2004 has this problem as well. There's a flag that can be enabled that changes the way the client finds the path, which may be needed for this as well.

[2021-11-01 02:22] d10sfan commented on #543
@AsciiWolf @JoshuaFern

This is another possibility: https://github.com/luxtorpeda-dev/packages/commit/fdcecb0a97525af8694d9ca68690e4e8f35e32c1

I reverted the previous change and added a change that enables OpenAL, using the one in the steam runtime soldier. This causes openal to load correctly. For me it didn't crash with that error, possibly because it was using some other method of audio, but

[2021-11-01 02:23] d10sfan commented on #540
@JoshuaFern

This is the flag I mentioned, you can see how it can be enabled in ut2004: "use_original_command_directory": true,

If you are able to get it to work, feel free to open a pull request. Otherwise, when I have a chance to buy it or if someone gifts it, I can take a look.

[2021-11-01 02:25] d10sfan commented on #546
@AsciiWolf

Interesting, if you're able to figure out a fix/workaround for this, let me know.

[2021-11-01 11:26] AsciiWolf commented on #543
Still the same crash. At least in my case (my game did not crash on openal).

[2021-11-01 12:57] d10sfan commented on #543
@AsciiWolf

Interesting, this may be a similar problem to the other pulseaudio issue your system is having.

Since this is a closed source game, there isn't alot I can do, but let me know if you end up finding a fix/workaround.

[2021-11-01 16:53] JoshuaFern commented on #543
Sweet, this is working for me now. @AsciiWolf must be experiencing a different issue.

[2021-11-01 17:32] JoshuaFern commented on #540
@d10sfan Thanks for the tip, I was able to get both games working with the following user-packages.json:
[code]
The key changes are `"use_original_command_directory": true,`, `"extract_location": "../"` and `"command": "../run-bstone.sh",`

[2021-11-01 18:18] AsciiWolf commented on #543
Sorry, I have just noticed that my log was truncated. This is the actual error in my case:
[code]

So, yeah, it seems to be a different PulseAudio/PipeWire issue.

[2021-11-01 18:44] d10sfan commented on #540
@JoshuaFern This should be fixed now: https://github.com/luxtorpeda-dev/packages/commit/32b182919c2e5cb522b78cb737d563041228b0a8

[2021-11-01 18:44] #540 closed

[2021-11-01 19:06] AsciiWolf commented on #546
I have tried LD_PRELOADing libgomp.so.1, but no luck. However, when I launched the ut startup script manually without Steam (but still inside the Flatpak container), the game launched without the TLS block error (but then crashed on a PulseAudio error that is unrelated). So, disabling Pressure Vessel for this package would probably help.

[2021-11-01 19:50] rea987 opened #557 "Source Engine enhancements"
In this bug report/feature request I would like to touch upon 2 issues;

1) Resistance Element returns following error even if **Source SDK Base 2013 Singleplayer** and **Half-Life 2: Episode One** are installed already:

`Unable to load surface prop file 'scripts/surfaceproperties_ep2.txt' (referenced by manifest file 'scripts/surfaceproperties_manifest.txt')`

![Ekran Görüntüsü 2021-11-01 21-03-

[2021-11-01 19:56] d10sfan commented on #557
@rea987

I was unable to get the hl2 episode 2 version of downfall to work. If you can provide a pr for that, feel free.

I believe that not all of the games here would work with hl2, there have been issues with using the wrong client before, with scripting errors and the like. If you're able to show that using hl2 instead of the source sdk works, then please provide gameinfos and any other necess

[2021-11-01 19:58] d10sfan commented on #557
@rea987

https://github.com/luxtorpeda-dev/packages/commit/f24d94df4ee3133aea29109cdb167cab4f48550b should fix it where ep2 is required, instead of ep1.

[2021-11-01 20:53] JoshuaFern commented on #506
I've looked into this more, and I've identified three issues.

**Issue one**: A ton of DOS games on Steam end their launch options with `-c`, then the run script adds -fullscreen to the end which is interpreted by the emulator as a command rather than a launch option resulting in fullscreen not working and the text -fullscreen being in the command prompt in some instances. We can fix this by simpl

[2021-11-01 21:13] rea987 commented on #557
To avoid HL2, HL2:EP1, HL2:EP2 and Source SDK 2013 interfering with each other, I deleted all of them, cleared their directories then reinstalled fresh HL2:EP2. I was able to run **Half-Life 2: DownFall** and **Half-Life 2: Year Long Alarm** as a HL2:EP2 mod by editing gameinfo.txt.

- Half-Life 2: DownFall:
https://gist.github.com/rea987/c4dad7cebc12c1a9701a5cb3d1e68fb1

- Half-Life 2: Year Long

[2021-11-02 03:34] d10sfan commented on #506
@JoshuaFern

Thanks, I've committed what you have so far and done some basic tests with a few games that I have.  https://github.com/luxtorpeda-dev/packages/commit/3f4ab17528d57077e1e6875a5042f71e3e5a37c4

For the bat script, do you have an example of what one that is launching for Windows looks like? And the main thing we're looking for is the configuration file I'm assuming? Are they always endi

[2021-11-02 04:04] d10sfan commented on #546
@JoshuaFern @AsciiWolf

Here's a possible fix for this tls block error: https://github.com/luxtorpeda-dev/packages/commit/39f17befda889e60720bf697c421b8dca08d97e8

This forces the game to use the legacy steam runtime instead of going through soldier. It runs either way for me, but this may simulate what you did with running the startup script manually.

Let me know if this helps.

[2021-11-02 12:34] AsciiWolf commented on #546
Unfortunately still the same `cannot allocate memory in static TLS block` error. :-/

[2021-11-02 12:44] d10sfan commented on #546
@AsciiWolf

Strange, not sure what else that I can do from here. The game has to go through steam's runtime since we're running under that context. Maybe if there's a way to find the necessary libraries from your host system and put them in a place where ut99 can see them (such as in the folder) and then doing an ld_preload on those.

[2021-11-02 13:20] AsciiWolf commented on #546
I have tried that, but still no luck. Anyway, since [the fix](https://github.com/luxtorpeda-dev/packages/commit/39f17befda889e60720bf697c421b8dca08d97e8) did not help, feel free to revert it.

[2021-11-02 17:28] d10sfan commented on #506
@JoshuaFern

It looks like from that example that the bat script is saying to run goworms inside dosbox as it's launch script. Does that sound right?

Not sure how it knows where the files are though.

If that's the case maybe we can detect that the launch command was a bat file and read it to find what the dosbox commands are like the goworms.

[2021-11-02 17:29] d10sfan commented on #557
@rea987 thanks I'll take a look when I have a chance

[2021-11-02 18:12] JoshuaFern commented on #506
Yeah, the difference is that `runworms.bat` is run by Windows,  where `.\drivec\goworms.bat` is run by dosbox.

[2021-11-02 19:07] ToughGuyKunio commented on #529
I can test controller support if you want. What information do you need?

[2021-11-02 21:56] d10sfan commented on #506
@JoshuaFern

Ok, maybe the solution could be to look for an argument that ends in .bat (to look for the steam argument that uses the windows bat), then if that is detected read the file and look for the dosbox command and split on anything after that to look for the bat command and any conf commands. Does that sound workable?

[2021-11-03 01:55] JoshuaFern commented on #506
Yeah, that sounds like it would work and be fairly simple.

[2021-11-03 02:59] d10sfan commented on #529
@ToughGuyKunio

Thanks! Mainly trying to see for each game the following:

* If the engine has built in controller support and if so if there's any necessary manual configuration changes. If there are any configuration changes, if they can be preset, by providing a filled out configuration as part of the engine. Also that the steam input settings don't interfere or cause issues with it.
* If an en

[2021-11-03 03:00] d10sfan commented on #506
@JoshuaFern Ok, do you want to give that part of the script a try, or would you prefer me to take a look at it?

[2021-11-03 03:05] d10sfan commented on #506
@JoshuaFern

Also for adding individual games, the following would be roughly what it would look like in the packages.json file. Then the env file (https://github.com/luxtorpeda-dev/packages/blob/master/engines/dosbox-staging/env.sh) in the engines/dosbox-staging would need to get changed as well, to add the new app id. This is so the download will automatically get updated.

[code]

I think this

[2021-11-03 11:28] ToughGuyKunio commented on #529
Here's a  first quick test, using luxtorpeda runtime (using v37, got error trying to update from AUR) and a Dual Shock 3 controller. This is tested without using steam input, I will try that later.

## Works out-of-the-box
Both controller, menus and steam overlay work great
- Flashback
- ScummVM / Beneath a Steal Sky
- OpenLara / Tomb Raider I
- ecwolf / Wolfenstein 3D

## Kinda works
- OpenMW / E

[2021-11-03 12:18] JoshuaFern commented on #506
I'd prefer if you took this one, I'm somewhat busy at the moment.

[2021-11-03 18:09] VortexAcherontic opened #560 "Duke Nukem Megaton Edition Symlink addons to gameroot"
### Feature Request

Hey there,

 I was testing out Luxtorpeda + raze / eduke32 on Duke Nukem 3D: Megaton Edition and found that I couldn't play the Addons: Life's a Beach, Nuclear Winter and Duke it out in D.C.

After referring to raze and eduke32 installation guides I quickly figured out that both engines are expecting the addon files and maps to be in the same directory as the engine itself.

A

[2021-11-04 04:09] d10sfan commented on #560
@VortexAcherontic

Thanks for the issue report, and this would be a package issue, so I've moved it over here.

Sadly, I don't own this game and looks like it isn't for sale anymore. Could you describe the symlink you're doing? As in what the folder paths would be and where you're trying to put them?

These scripts are the ones that run eduke32 and raze:

https://github.com/luxtorpeda-dev/packages

[2021-11-04 04:11] d10sfan commented on #529
@ToughGuyKunio Thanks for the information. Let me know what you end up finding out about steam input and their emulation mode as well.

ETQW requires you to manually put the demo in the right place.

Not sure on the other two errors you mentioned. If you could provide what Ion Fury is giving for the error you're seeing and any logs you can provide for tomb raider II.

[2021-11-04 17:29] VortexAcherontic commented on #560
Hey there currently I am debuging this issue as I noticed that the packages should evaluate the star game by a number. I suspect the nubers are wrong or not set at all and raze and eduke32 scripts do default to `LD_LIBRARY_PATH="lib:$LD_LIBRARY_PATH" ./raze` or `LD_LIBRARY_PATH="lib:$LD_LIBRARY_PATH" ./eduke32`

How can I tell luxtorpeda to not fetch the package script from `https://github.com/lux

[2021-11-04 18:23] d10sfan commented on #560
@VortexAcherontic

There should be a ~/.cache/luxtorpeda directory with a eduk32 and raze folders. If you open the .xz file that it is using, then you can edit the files there. When you do this, the client will extract the files you changed.

[2021-11-04 18:49] VortexAcherontic commented on #560
@d10sfan Found the issue, fixed the issue and created a PR #561 :)

[2021-11-04 18:55] d10sfan commented on #560
Closing this to continue discussion in pull request

[2021-11-04 18:55] #560 closed

[2021-11-05 11:59] NerosTie commented on #184
Why Sonic CD has been removed and tagged with "wontfix"? (there is a new release btw)

[2021-11-05 12:48] d10sfan commented on #184
@NerosTie I removed the engines that were based on reverse engineering, after the trouble with re3.

If you're interested in those you can use the user packages feature and compile them yourself.

[2021-11-05 17:45] JoshuaFern commented on #506
I'd like to present the new iteration of the launch script, this version is a bit of a work in progress but right now it basically runs everything I throw at it.

[code]

[2021-11-05 19:05] d10sfan commented on #506
@JoshuaFern

Looking good, https://github.com/luxtorpeda-dev/luxtorpeda/pull/117 adds the client part for having the exe in the arguments.

Let me know how that goes and what your changes to the packages json file end up being.

Thanks!

[2021-11-05 22:48] HenrikHolst opened #563 "NW.js for RPG Maker MV games"
### Project Link

https://nwjs.io/

### Project License

MIT

### Steam App Ids

https://steamdb.info/app/457570/

This was just the game that I tested out this method with but there are probably hundreds of games om Steam built with RPG Maker MV, will do a more thorough search later if inclusion of this "engine" looks viable.

### Additional Context

Games created by RPG Maker MV are just wrapper

[2021-11-06 10:48] ToughGuyKunio commented on #529
I've made a spreadsheet where I can enter the results of the testing, that will make it easier for me. I believe the included columns are what needs to be tested to measure good controller support, check it out and let me know if I should add something else.

[Google Spreadsheet link](https://docs.google.com/spreadsheets/d/1qxMMl1AbEzp-KjbcAk7g22Ms_WzNTsEEZjxYMVEwXEo/edit?usp=sharing)

[2021-11-06 14:02] d10sfan commented on #563
@HenrikHolst

It looks like for this one the packaged version will not work, since we are running inside the steam runtime (not your host libraries) and it does not have cups  support, which nwjs has a dependency on.

I will look and see if there's a way to compile it without that dependency.

[2021-11-06 14:24] VortexAcherontic opened #564 "OpenMW: Failed to open /shaders/*"
### Game

The Elder Scrolls III: Morrowind

### Engine

OpenMW

### Linux Distribution

openSUSE Tumbleweed

### Luxtorpeda Version

45

### Bug description

Hey there,

as I was about to test out the new OpenMW 0.47 release I noticed that OpenMW seem to fail to open any shaders.
I was not yet able to find out if this might be an OpenMW bug or if it is caused by the pacakge.

Since as a human bein

[2021-11-06 15:01] d10sfan commented on #564
@VortexAcherontic

I'm not seeing that issue when I'm running. What settings do you have set? In terms of what are your shader settings?

Also, in your ~/.config/openmw/openmw.cfg file what is the resources key set to?

When you do a directory listing in Morrowind, what do you see?

[2021-11-06 15:02] d10sfan commented on #564
I see it now, if there's a fresh config file, then this can happen. I'll see what I can do as a workaround.

[2021-11-06 15:03] VortexAcherontic commented on #564
Ah, did there need to be a `data="/z004/sdd1/user/vortex/Spiele/SteamLibrary/steamapps/common/Morrowind/Data Files"` to point to the shaders in the game directory?

[2021-11-06 15:06] d10sfan commented on #564
@VortexAcherontic

It's related to this line:

resources="share/games/openmw/resources"

If you add that to the ~/.config/openmw/openmw.cfg file, then it'll start working. I'm working on a new update that'll automate that step.

[2021-11-06 15:12] VortexAcherontic commented on #564
Ah yes that config fixed it.

This line was entirely missing in my openmw.cfg file

[2021-11-06 15:34] d10sfan commented on #564
@VortexAcherontic

Thanks for the report, I've fixed this in https://github.com/luxtorpeda-dev/packages/commit/abffb160dc929b571fc54faaadfaaf4e66f97961 and made the first launch a little easier.

[2021-11-06 15:34] #564 closed

[2021-11-06 15:45] VortexAcherontic commented on #564
Marvelous, thank you very much :)

[2021-11-06 16:54] d10sfan commented on #529
Thanks that looks like a good starting point, I'll look through your list when I have a chance

[2021-11-06 22:16] #506 closed

[2021-11-06 22:18] d10sfan commented on #506
Merged the changes in thanks for the help!

[2021-11-07 00:43] HenrikHolst commented on #563
Yeah I can see how that might mess things up. In any case if you need me to gift you the game to test it out just let me know.

[2021-11-07 09:36] ToughGuyKunio commented on #529
Here's more info on the errors I got earlier

*Enemy Territory: Quake Wars:* I download the demo in steam, I launch it using regular proton and install it and punkbuster, then i enter the game folder, `mkdir demo/` and then `cp *.* demo/` and then run it with luxtorpeda. It still gives me "demo not in correct location error" so I guess I'm doing something wrong?

*Tomb Raider II* works, I just did

[2021-11-07 09:55] ToughGuyKunio commented on #529
I can't launch Duke Nukem 3D Megaton Edition with EDuke32 either, it just crashes immediately no launcher or nothing, here are the log files.

- Duke Nukem 3D Megaton Edition EDuke32: https://gist.github.com/ToughGuyKunio/e95d3b1a8e583e5c69257c611c5277bf
- Ion Fury EDuke32: https://gist.github.com/ToughGuyKunio/9813e803026019e6d8f7c50dfc3b37dd
- Enemy Territory Demo: https://gist.github.com/ToughG

[2021-11-07 13:34] ToughGuyKunio commented on #529
Do you want me to make separate issues for each engine/game perhaps? Let me know what you prefer :smile:

[2021-11-07 14:36] d10sfan commented on #529
This is fine for now, I'll investigate the errors you're seeing when i have a chance.

[2021-11-07 14:39] d10sfan commented on #529
@ToughGuyKunio

For ETQW, you have to download the linux demo and copy the files from it to the right location, that's what that error means. It's described further here: https://luxtorpeda-dev.github.io/

I'll look into the others ones soon.

[2021-11-07 20:22] ToughGuyKunio commented on #529
Okay I got it to work now, thanks! Maybe you could clarify on the webpage that the demo should be downloaded outside of Steam, that's the part that confused me. Also I get black screen after applying settings, like your webpage states, but how do I exit in a way that the settings are saved? the resolution just goes back to low when i restart..

[2021-11-07 23:33] d10sfan commented on #529
@ToughGuyKunio

I added some additional detail for the ETQW issue and fixed the megaton script here: https://github.com/luxtorpeda-dev/packages/commit/292da912d3458e2e8110612047b42ee371a52e3c

So next time you run you should see that fix. I'll let you know once I have some more information on the rest.

[2021-11-08 05:08] d10sfan commented on #529
@ToughGuyKunio

By the way, if you could try to keep the log files to one launch attempt at a time (clearing the Terminal before launching is usually the easiest).

- Runelite works ok for me, you may want to check the ~/.cache/.luxtorpeda folder for the app id and remove anything there, then try it again.
- Entropy Zero works fine for me.  You could try adding the -novid command to the launch opt

[2021-11-09 10:29] ToughGuyKunio commented on #529
Let me know if it's okay now

I removed the 1343370 folder in cache and tested it with "Test Build Luxtorpeda #88" - it downloaded runelite and then crashed. Here's the log: https://gist.github.com/ToughGuyKunio/ecd19ccf9c85f0be3925b8d1b8747a59
I also tested and ran *RuneLite.AppImage* manually from `/home/zorlim/.local/share/Steam/steamapps/common/Old School RuneScape/bin/win64/` and it's there a

[2021-11-09 10:48] ToughGuyKunio commented on #529
I found the issue with Resistance Element. It had created two folders, one called *ResistanceElement* and one called *resistanceelement* - all lowercase. By copying the files from one to the other it started working. So I guess it's an issue with Linux being case-sensitive and Windows being case-insensitive?
Is it possible to make the runtime case-insensitive?

[2021-11-09 11:02] ToughGuyKunio commented on #529
Got a bit further on Entropy Zero, there's a file called startupvids.txt - it contained the following rows:
[code]
but the actual files are not avi. instead they are .bik, by changing content in the textfile to .bik the videos started playing fine, but it still crashes after that.

New log: https://gist.github.com/ToughGuyKunio/5930509106df4537c3a06119ebac2429

[2021-11-09 13:20] d10sfan commented on #529
@ToughGuyKunio

What file system do you have?

For resistance element, there's a check already in the script for one folder or the other (https://github.com/luxtorpeda-dev/packages/blob/master/engines/source-sdk-2013/assets/resistance-element/run-resistance-element.sh#L138). I've never seen it where there's both. Can you uninstall it, remove every file in the directory and then install it again, p

[2021-11-09 13:45] ToughGuyKunio commented on #529
EXT4

![Screenshot_20211109_144125](https://user-images.githubusercontent.com/12818876/140935047-f4043253-1e9d-4cce-8138-5e3a39b49fde.jpg)

Yes 32-bit should be installed

![Screenshot_20211109_143844](https://user-images.githubusercontent.com/12818876/140934686-d440004b-23b7-4e28-9fb9-1b9721c532c2.jpg)

[2021-11-09 13:49] d10sfan commented on #529
@ToughGuyKunio ok for resistance element, that looks normal. Try launching now and see if it works. Then take another screenshot of the structure if not.

[2021-11-09 13:50] ToughGuyKunio commented on #529
Resistance Element works now! Hmm maybe it's depended on if you run it with Proton or Luxtorpeda the first time?

[2021-11-09 13:51] d10sfan commented on #529
@ToughGuyKunio most likely since wine is probably handling some case insensitive issue that windows normally brings. So it sounds like it works as long as you launch it from luxtorpeda first.

[2021-11-09 15:03] ToughGuyKunio opened #571 "Ruffle for Flash games"
### Project Link

https://github.com/ruffle-rs/ruffle

### Project License

Apache 2.0 or MIT

### Steam App Ids

- https://steamdb.info/app/214790/
- https://steamdb.info/app/92/
- https://steamdb.info/app/1580970/
- https://steamdb.info/app/40720/

### Additional Context

There's a huge amount of Flash games on Steam.

I've tested a few and got some of them to work in Ruffle.
- The basement coll

[2021-11-10 00:58] d10sfan commented on #529
@ToughGuyKunio I can't replicate that issue you're having with runelite. You may want to change the script as a test to do echo $PWD as part of it's processing (you can edit the one in the cached xz file in ~/.cache/luxtorpeda/appid). That would tell me more about what might be happening.

For Entropy Zero, you may want to try the same thing you did for resistance, where you remove everything, uni

[2021-11-10 09:35] ToughGuyKunio commented on #529
Okay I did like this:
[code]

That created a folder called dist/

I edited the run-runelite.sh from dist/ to include `echo $PWD`

I ran the script `./run-runelite.sh`

Here's the output:

[code]

I then copyied the run-runelite.sh to /home/zorlim/.cache/luxtorpeda/1343370/ (where the appimage is located) and there it ran fine.

-----

I found a solution!

I opened `/home/zorlim/.local/share/Steam/

[2021-11-10 10:24] ToughGuyKunio commented on #529
@d10sfan

as for Entropy Zero I tried the following:
1. Uninstall from Steam
2. Removed Entropy Zero folder from ~/.local/share/Steam/steamapps/common/
3. Removed 714070 folder from ~/.cache/luxtorpeda/
4. Checked that it was set to Luxtorpeda in steam
5. re-downloaded
6. run
7. still crashes at menu

[code]

[2021-11-10 13:33] d10sfan commented on #529
@ToughGuyKunio

For runelite, the idea would be that you would put that edited file back in the xz file and  then have it run through luxtorpeda. That will see where it thinks it is running, which may help to diagnose it.

For Entropy Zero, you may want to make sure you're on source sdk 2013 beta, other than that, not sure what could cause that. Let me know if you end up finding any fixes for t ha

[2021-11-10 14:15] ToughGuyKunio commented on #529
Here's the output:
[code]

Switching to the beta fixed the issue

[2021-11-11 04:20] d10sfan commented on #529
@ToughGuyKunio

See if replacing the script in the archive with the following fixes it:

[code]

[2021-11-11 06:15] ToughGuyKunio commented on #529
Still the same

[code]

[2021-11-11 07:33] ToughGuyKunio commented on #529
I've finished testing most of the lux games I have. In preparation for the Steam Deck I've also added the test from Steam Deck Verified found here: https://partner.steamgames.com/doc/steamdeck/compat and also "simultaneous mouse and gamepad support" that seem useful to people with steam controller (and propably steam deck).

Some stuff like "text is legible" have to wait until I get the Steam Deck

[2021-11-12 21:21] d10sfan commented on #529
@ToughGuyKunio

Thanks for that, that's looking really good. I'll investigate to see if it may be possible to automatically mess with steam input, and see what's possible in terms of any default configurations that have good controller support.

I'll eventually have some controller support notes on the compatibility list page, so this will help alot to get that started.

[2021-11-12 21:37] JoshuaFern commented on #571
<details>
  <summary>A long list of AppIDs that are probably Flash games:</summary>

https://steamdb.info/app/113200/
https://steamdb.info/app/668630/
https://steamdb.info/app/1089980/
https://steamdb.info/app/363970/
https://steamdb.info/app/248860/
https://steamdb.info/app/293260/
https://steamdb.info/app/359310/
https://steamdb.info/app/629910/
https://steamdb.info/app/245550/
https://steamdb.i

[2021-11-13 05:34] d10sfan commented on #571
@JoshuaFern @ToughGuyKunio

I added initial support for this, so far Codename Gordon basically works, although with some errors (probably due to ruffle being in progress. Also Samarost 2 seems to load.

It looks like a good chunk of the games are air games, with many of them using action script 3, which isn't supported yet in ruffle.

I won't be able to download a swf from archive automatically, b

[2021-11-13 05:42] d10sfan commented on #557
@rea987

I was unable to get that to work with those two games to use hl2 instead of the source sdk 2013. This is most likely because your test is about getting them to run as sourcemods, when the scripts are trying to launch them from a steam game.

The scripts for each game are here: https://github.com/luxtorpeda-dev/packages/tree/master/engines/source-sdk-2013/assets

If you're able to make cha

[2021-11-13 05:42] #557 closed

[2021-11-13 06:32] d10sfan commented on #563
@HenrikHolst I've added 0.54 for now, which works fine with the cups in steam runtime. https://github.com/luxtorpeda-dev/packages/commit/1f34faebc68502925e3693dc7add818c2f5bc2b8

let me know if you run into any issues.

[2021-11-13 06:32] #563 closed

[2021-11-13 08:38] JoshuaFern commented on #571
I did some testing on my games. As you mentioned, most of the games in that list are actually running Adobe Air, which Ruffle doesn't support. However, even the games that are pure Flash need to be written in ActionScript 1 or 2. AS3 games just show an error followed by a black screen.

Here's a few games that I found to be at least somewhat working:

[Restricted-RPS - Hope Annihilation Arc](https

[2021-11-13 09:13] ToughGuyKunio commented on #571
@d10sfan Nice work and thank you! As for Samarost 2 the swf I extracted with exe2swf mostly works in Ruffle, the one in luxtorpeda extracted with JPEX doesn't seem to want to load past the menu. Maybe there's a difference in the extraction or is there something else going on?

@JoshuaFern @d10sfan I'll be doing some testing of the games I have [in this google docs spreadsheet](https://docs.google.

[2021-11-13 13:32] d10sfan commented on #571
@ToughGuyKunio That probably means there's an issue with how jpex extracts it or how I'm running it. If you're able to find a working one with jpex, let me know and what the command would be.

[2021-11-13 23:11] JoshuaFern commented on #571
What if instead of packaging Wine you just used Proton that Steam already has? I'm pretty sure it can be launched externally to Steam.

[2021-11-14 03:15] d10sfan commented on #571
@JoshuaFern @ToughGuyKunio

True, that could be doable. What is the command that you all have used with exe2swf that works to extract from the exe and run?

[2021-11-14 10:46] ToughGuyKunio commented on #571
@d10sfan I found the issue for Samarost 2, there's nothing wrong with jpex, the swf needed to be in the Samarost 2 orginal subfolder, I submitted a pull request but I'm not sure I did it right because I wasn't sure how to test it in Steam and I've never done a pull request before :sweat_smile:

[2021-11-15 02:48] d10sfan commented on #571
@ToughGuyKunio

I merged your change so let me know how that goes.

@JoshuaFern From discord, I changed the path it uses to the path instead of the file. Let me know how that goes.

Closing for now, but feel free to let me know if there's any additional improvements that can be made.

[2021-11-15 02:48] #571 closed

[2021-11-15 12:20] ToughGuyKunio commented on #571
@d10sfan everything seems to work okay on my end. Is it possible to call the EGUI from the run script? I'm thinking about making a selection menu for The Basement Collection

[2021-11-15 17:18] d10sfan commented on #571
@ToughGuyKunio I think for that one, it'd make the most sense to have a entry in the packagesruntime.json file to show the choices, and then either with the same ruffle script or a new one just for this game, react to different command arguments sent by the choices and load the correct swf. If you can, create a pull request for that as i don't believe I own that game. Let me know if you have any q

[2021-11-16 14:35] NerosTie opened #574 ""The Force Engine" for Dark Forces and Outlaws"
### Project Link

https://github.com/luciusDXL/TheForceEngine

### Project License

GPL 2.0

### Steam App Ids

- https://steamdb.info/app/32400/
- https://steamdb.info/app/559620/

### Additional Context

_No response_

[2021-11-16 16:45] d10sfan commented on #574
From my understanding this one does not have Linux support yet: https://github.com/luciusDXL/TheForceEngine/issues/89

Has that changed? Would be interested in adding it and I'm subscribed to that ticket but there's nothing I can do unless there's Linux support available.

[2021-11-16 23:52] #574 closed

[2021-11-17 12:12] ToughGuyKunio commented on #563
@HenrikHolst did you find any other games that worked with this? I'm compiling a list of working games

[2021-11-17 12:22] HenrikHolst commented on #563
Haven't had time to build and test yet, but there should be tons of RPG Maker MV games out there.

[2021-11-17 20:38] rea987 opened #576 "OpenJKDF2 for Jedi Knight: Dark Forces II"
### Project Link

https://github.com/shinyquagsire23/OpenJKDF2

### Project License

Unknown

### Steam App Ids

https://steamdb.info/app/32380/

### Additional Context

https://github.com/shinyquagsire23/OpenJKDF2/blob/master/BUILDING.md
https://github.com/shinyquagsire23/OpenJKDF2#platforms
https://github.com/shinyquagsire23/OpenJKDF2#linux-partial-compilation-mmap-blobs

[2021-11-17 21:13] d10sfan commented on #576
Looks like this one is still in progress on Linux. a known license would be needed to implement this. Can you do some research or ask about the licensing for this project?

[2021-11-18 20:20] d10sfan commented on #576
@rea987

Since it looks like this is a reverse engineering project with an unclear license, I won't be implementing this. This is mainly due to the legal confusion around projects like this.

[2021-11-18 20:20] #576 closed

[2021-11-18 20:24] d10sfan commented on #574
Also, this one looks like it's got reverse engineering in it, which has some legal confusion around it: https://github.com/luciusDXL/TheForceEngine#copyright

Because of that, not sure if this one would be a good candidate for supporting.

[2021-11-19 06:26] rea987 commented on #576
License has been added:

https://github.com/shinyquagsire23/OpenJKDF2/blob/master/LICENSE.md
https://github.com/shinyquagsire23/OpenJKDF2/issues/10#issuecomment-973226957

[2021-11-19 23:13] HenrikHolst commented on #563
Just tested it and it worked flawless! Huge thanks for this.

[2021-11-20 08:59] ToughGuyKunio commented on #529
The Switch Pro Controller works as expected with Steam input disabled. When it's enabled the d-pad jumps two rows at a time and it also sometimes brings up the on-screen keyboard.

Nintendo Switch Pro Controller with "Switch Pro configuration support" and "Use Nintendo button layout" enabled:
- First test - https://gist.github.com/ToughGuyKunio/50023783d85ecae51a459703d2957dde
- Second test - http

[2021-11-21 23:54] d10sfan commented on #529
@ToughGuyKunio

Moved your comment here for progress: https://github.com/luxtorpeda-dev/luxtorpeda/pull/122

[2021-11-22 16:41] d10sfan commented on #545
Engine currently only detects in ~/.steam. Once that has been updated to support multiple libraries, I'll come back to this.

[2021-11-23 06:42] d10sfan commented on #283
Added in https://github.com/luxtorpeda-dev/packages/commit/bc094a3e80605dad00124947e699b3f357a2de0a

[2021-11-23 06:42] #283 closed

[2021-11-24 05:17] rea987 opened #578 "ScummVM for Sanitarium"
### Project Link

https://github.com/scummvm/scummvm

### Project License

GPLv2

### Steam App Ids

https://steamdb.info/app/284050/

### Additional Context

https://www.scummvm.org/news/20211118

[2021-11-24 13:15] d10sfan commented on #578
@rea987 This should be supported by default when the next version of scummvm is out. Once they create a new version, I'll work on updating to it.

[2021-11-24 13:15] #578 closed

[2021-11-29 06:25] ToughGuyKunio opened #581 "Open-IG for Imperium Galactica"
### Project Link

https://github.com/akarnokd/open-ig

### Project License

 LGPL-3.0

### Steam App Ids

- https://steamdb.info/app/573790/

### Additional Context

_No response_

[2021-11-30 04:59] d10sfan commented on #581
Added in https://github.com/luxtorpeda-dev/packages/commit/112e3108eadea50281c240ffa1b051180010fe19

[2021-11-30 04:59] #581 closed

[2021-12-01 10:30] jesperjackson opened #582 "Soldat"
### Project Link

https://github.com/Soldat/soldat/

### Project License

MIT

### Steam App Ids

- https://steamdb.info/app/638490/

### Additional Context
Official engine source code. Links to additional information:

- https://steamcommunity.com/games/638490/announcements/detail/2192636057421436703 - contains information on differences from Steam version.
- https://github.com/Soldat/soldat/wiki

[2021-12-01 10:42] ToughGuyKunio opened #583 "Ingnomia"
### Project Link

https://github.com/rschurade/Ingnomia

### Project License

AGPL-3.0

### Steam App Ids

- https://steamdb.info/app/709240/

### Additional Context

Official engine source code

[2021-12-01 10:51] ToughGuyKunio opened #584 "Little Big Adventure 1 & 2"
### Project Link

- https://github.com/2point21/lba1-classic-community
- https://github.com/2point21/lba2-classic-community

### Project License

GPLv2

### Steam App Ids

- https://steamdb.info/app/397330/
- https://steamdb.info/app/398000/

### Additional Context

Official engine source code. The games have two code repositories, one for the orginal developers and one dedicated to the community

[2021-12-01 10:59] ToughGuyKunio opened #585 "One Hour One Life"
### Project Link

https://github.com/jasonrohrer/OneLife

### Project License

Public Domain

### Steam App Ids

- https://steamdb.info/app/595690/

### Additional Context

_No response_

[2021-12-01 11:20] ToughGuyKunio opened #586 "SNKRX"
### Project Link

https://github.com/a327ex/SNKRX

### Project License

MIT

### Steam App Ids

- https://steamdb.info/app/915310/

### Additional Context
- Official engine source code.
- https://github.com/a327ex/SNKRX/pull/6

[2021-12-01 11:34] ToughGuyKunio opened #587 "Zero-K"
### Project Link

https://github.com/ZeroK-RTS

### Project License

GPLv2

### Steam App Ids

- https://steamdb.info/app/334920/ (steamdb says Linux but it's just a empty depot, Steam store page confirms it's only for Windows)

### Additional Context

- Official engine source code.
- https://zerok.itch.io/zero-k - contains info on needed dependencies for Linux.

[2021-12-01 11:43] #587 closed

[2021-12-01 11:44] ToughGuyKunio commented on #587
Steam store page says it's Windows only but it's apparently Linux native

[2021-12-01 13:14] JoshuaFern commented on #427
I sometimes wonder why use Retroarch on Steam instead of just the standalone version, here's some of my thoughts:

Cons:
* No built in core downloader.

Pros:
* Ability to use Remote Play Together
* Steam Cloud Features: Saves, Screenshots, Game-Time Tracking
* Officially supported: I think the only other officially supported version is the flatpak version.
* And maybe, in the future, the ability

[2021-12-01 16:10] d10sfan commented on #586
@ToughGuyKunio I don't think this one will be possible as it requires the libsteam so which I can't distribute.

Let me know if there's a alternative way to do this.

[2021-12-01 16:10] #586 closed

[2021-12-01 16:11] #583 closed

[2021-12-01 16:18] d10sfan commented on #584
@ToughGuyKunio I don't see anything in regards to compile for Linux. Do you have any further information on that?

[2021-12-01 16:23] d10sfan commented on #585
@ToughGuyKunio it looks like this one requires an email address and key from the windows version being run. Not sure if theres a way around that to find this. https://github.com/jasonrohrer/OneLife/issues/164

Do you have any further information?

[2021-12-01 16:42] ToughGuyKunio commented on #584
There's a PR working on a compile guide here: https://github.com/2point21/lba-classic-doc/pull/1/files

[2021-12-01 16:45] ToughGuyKunio commented on #584
I'll ask on their Discord if there's any other options

[2021-12-01 16:59] ToughGuyKunio commented on #585
Not sure about the email address, but user could be prompted for the key. The user needs to right click on the game > select manage > select CD Keys

[2021-12-01 17:03] ToughGuyKunio commented on #585
The email should be <steamid>@steamgames.com
So the user could be prompted to enter their Steam ID and CD Keys, with instructions on how to get them.

[2021-12-01 17:30] ToughGuyKunio commented on #584
There was talk on discord about testing to compile with https://github.com/JWasm/JWasm on Linux but I'm not sure if anyone has tested it yet and there is no guide. Otherwise I guess we have to wait until there's an easier way to compile or there's a more modern port.

[2021-12-01 17:32] ToughGuyKunio commented on #584
There's also this project for LBA2: https://github.com/agrande/lba2remake but it's not in a playable state yet.

[2021-12-01 17:39] d10sfan commented on #584
Ok I'll close this for now. Feel free to comment here if things change

[2021-12-01 17:39] #584 closed

[2021-12-10 19:02] JoshuaFern opened #589 "Use #!/usr/bin/env bash instead of #!/bin/bash"
`#!/usr/bin/env bash` searches the `$PATH` to find the `bash` binary.

The `#!/bin/bash` shebang assumes that bash is always located in `/bin` which can cause issues. Specifically this improves compatibility with operating systems where `bash` is not located in `/bin`. e.g. NixOS, GNU Guix(?)

[2021-12-10 19:25] d10sfan commented on #589
Since everything is running inside the steam runtime now, is there a case where this is an issue?

[2021-12-10 20:52] JoshuaFern commented on #589
It was never a serious issue, as Nix itself runs Steam in a sort of runtime. However I'm suggesting this change as best practices for the future. Maybe just change the shebang on new scripts, or old scripts if you happen to be editing them anyways.

[2021-12-11 21:19] ToughGuyKunio opened #591 "Shadowgrounds and Shadowgrounds Survivor"
### Project Link

https://github.com/vayerx/shadowgrounds

### Project License

Custom non-commercial

### Steam App Ids

- https://steamdb.info/app/2500/
- https://steamdb.info/app/11200/
- https://steamdb.info/app/2510/ (demo)
- https://steamdb.info/app/11220/ (demo)

### Additional Context

I've tried to compile this myself but I couldn't get it to work, but it should be doable.

Compile instru

[2021-12-11 21:35] d10sfan commented on #591
From what I remember this does not work with the steam assets. There should be some dicussion about that in some older issues here.

[2021-12-11 22:00] ToughGuyKunio commented on #591
Ah okay I missed that

[2021-12-11 22:00] #591 closed

[2021-12-12 05:58] lucascoelho07 opened #592 "Not able to set soundfont with prboom-plus"
### Game

Ultimate Doom

### Engine

prboom-plus

### Linux Distribution

Arch

### Luxtorpeda Version

48

### Bug description

Soundfont option not working

### Steps To Reproduce

1. Set the MIDI player to fluidsynth
2. Get a soundfont
3. Set the path to the soundfont in the engine's config file
4. Open the game and see that nothing has canged

### Expected Behavior

The chosen soundfont will b

[2021-12-12 20:56] d10sfan commented on #592
@lucascoelho07 What path is the soundfont in? All of the games are running under the steam runtime, so it has to be a path that is accessible. The library files are installed every launch. Fluid synth is 2.1.3, so fairly recent.

[2021-12-12 20:59] d10sfan commented on #589
Ok, I'll take this into consideration for future engines. Since we run into the steam runtime all the time, there shouldn't ever be environment changes, but good to think about.

[2021-12-12 20:59] #589 closed

[2021-12-12 22:22] lucascoelho07 commented on #592
The soundfont is in .prboom-plus (same folder as prboom-plus.cfg)
I set it like this `snd_soundfont    "roland.sf2"` and it works fine with the normal version, but not with luxtorpeda

[2021-12-13 04:43] d10sfan commented on #592
@lucascoelho07 Ok, can you describe a bit further what you are attempting to do?

1. Where did the soundfont come from and if possible could you provide it?
2. What version are you using for the "normal" version, both of prboom and fluidsynth?
3. What behavior inside prboom-plus are you expecting?
4. Can you provide logs showing the difference between the two attempts, as in using lux and using th

[2021-12-13 04:49] d10sfan commented on #427
@JoshuaFern

Ok, it sounds like what you're saying is leave the RetroArch application as is, and then for games where there are retroarch cores for, create scripts for launching the games through the native RetroArch from the store? And then either point people in the right direction to download the cores, or use the ones provided by steam where possible?

I think that sounds pretty doable. Would

[2021-12-13 05:00] d10sfan commented on #582
@ToughGuyKunio

There's a few possible issues here:

* Steam integration wouldn't be possible to build here, since I don't have access to the steam libraries. The default is to not build with steam, and it does look like non-steam players can still play on servers, so that shouldn't pose an issue.
* Since the versions themselves are different, they might cause some server issues, such as people pl

[2021-12-13 05:35] d10sfan commented on #585
Tracking progress in https://github.com/luxtorpeda-dev/packages/pull/593

[2021-12-13 05:35] #585 closed

[2021-12-13 09:43] ToughGuyKunio commented on #427
If we make scripts, they should, if possible, be universal so that games on Steam that contain ROMs could work with RetroArch and other emulators such as 3dSen.

- 3dSen: https://steamdb.info/app/1147940/
- 3dSen VR: https://steamdb.info/app/954280/

[2021-12-13 09:58] ToughGuyKunio commented on #582
I don't know, would need to investigate.

I feel this might be a bit out of my level for now. I have some other engines that I'm thinking about building, after I'm done with them and gathered some more experience I might be able to look into this. So we could always put this on hold for a while.

[2021-12-14 16:16] JoshuaFern commented on #427
Yeah absolutely, just use the app detection concept that source engine already uses to detect RetroArch itself. Then launch the core or show an error if the core's file is missing.

Yes, although those cores are not in the Steam version of Retroarch yet. Here's a list of games I made and the cores they should work with: https://steamcommunity.com/sharedfiles/filedetails/?id=2678538760

[2021-12-15 16:45] ToughGuyKunio opened #596 "Change Ren'Py to default"
### Feature Request

There seems to be [at least 348 Ren'Py games](https://steamdb.info/instantsearch/?refinementList%5Boslist%5D%5B0%5D=-Linux&refinementList%5Btechnologies%5D%5B0%5D=Engine.RenPy) on Steam that are not Linux native.

### Solution

Maybe Ren'Py could be changed to a default engine to support all Ren'Py games?

### Additional Context

btw, wasn't sure where to put this, engine bug

[2021-12-15 18:53] ToughGuyKunio opened #595 "CivCTP2 has switched repo"
The old repo is deprecated, new versions are here: https://github.com/civctp2/civctp2

confirmed here on orginal (used in lux) repo: https://github.com/ptitSeb/ctp2

[2021-12-16 00:05] d10sfan commented on #596
Currently, Ren'Py isn't being built, so that'd end up being a new engine. Would you be interested in implementation?

[2021-12-16 00:06] d10sfan commented on #595
@ToughGuyKunio Yes, the reason why is because I've been unable to build the latest one, similar to this issue: https://github.com/civctp2/civctp2/issues/352

Let me know if you're able to find a workaround.

[2021-12-16 00:06] #595 closed

[2021-12-16 05:49] ToughGuyKunio commented on #596
Sure I'll take a look at it

[2021-12-18 20:17] #596 closed

[2021-12-21 04:08] d10sfan commented on #592
Feel free to comment if you continue to need help.

[2021-12-21 12:20] JoshuaFern commented on #592
Try adding yourself to the `audio` group.

[2021-12-21 21:37] d10sfan commented on #545
Closing for now, will re-open once this has changed.

[2021-12-21 21:37] #545 closed

[2021-12-23 06:32] eukara opened #598 "Redneck Rampage Rides Again doesn't start"
### Game

Redneck Rampage Rides Again

### Engine

rednukem, raze

### Linux Distribution

OpenSUSE Tumbleweed

### Luxtorpeda Version

Version 48

### Bug description

The expansion/sequel to Redneck Rampage doesn't run, whereas the main game does.
The launch script keeps getting its permission reset as not executable.

### Steps To Reproduce

1. Try to run the game with either raze of rednukem.

[2021-12-24 04:17] d10sfan commented on #598
@eukara This should be fixed with this https://github.com/luxtorpeda-dev/packages/commit/fe6f749ee28d3d9661b3338ae3aa03ff39154bc3

The permissions on the file weren't setup correctly. Next time you launch it should be good to go.

[2021-12-24 04:17] #598 closed

[2021-12-28 00:15] TCHORGO opened #599 "OpenRCT2 doesn't load game data correctly"
### Game

RollerCoaster Tycoon 2

### Engine

OpenRCT2

### Linux Distribution

Linux Mint 20.2

### Luxtorpeda Version

48

### Bug description

When the game is started only the menus, background music and the logo appears, the background park appears as just a grey empty screen. Any attempt to start a scenario will result in a message informing that specific sprites are missing.

### Steps To R

[2021-12-29 22:08] rea987 opened #600 "Prospekt"
### Project Link

https://github.com/ValveSoftware/source-sdk-2013

### Project License

Source SDK Copyright(c) Valve Corp.

### Steam App Ids

https://steamdb.info/app/399120/

### Additional Context

That is a standalone HL2 mod that works fine with Source SDK 2013 natively. Steps:

- Install **Prospekt**
- Switch `upcoming` branch of **Source SDK Base 2013 Singleplayer** and install it
- Copy

[2022-01-01 13:31] jesperjackson opened #601 "BuildGDX v1.16 update"
New BuildGDX release is out with command-line support, World Tour is now working on Linux and Blood: Fresh supply Cryptic Passage addon is supported.

Some suggestions:
- Add direct game start: -path "gamepath", -silent (starts the game without showing launcher frame)
- Add https://steamdb.info/app/434050/

[2022-01-02 20:29] d10sfan commented on #599
@TCHORGO Thanks for the report. It should be fixed the next time you launch.

https://github.com/luxtorpeda-dev/packages/pull/603

[2022-01-02 20:29] #599 closed

[2022-01-02 21:03] TCHORGO commented on #599
It's working just fine now. Thanks.

[2022-01-08 17:11] d10sfan commented on #601
Implemented in https://github.com/luxtorpeda-dev/packages/commit/5799bc32b22c256c503c853ccf23808539525db3

I tried the blood fresh cryptic passage but it just crashes, but looks to be a game issue.

[2022-01-08 17:11] #601 closed

[2022-01-08 17:41] d10sfan commented on #600
Add https://github.com/luxtorpeda-dev/packages/commit/f2beba092019824646761b91663b8c5297d99ccd

[2022-01-08 17:41] #600 closed

[2022-01-10 22:53] JoshuaFern opened #608 "Creatures Docking Station"
### Project Link

https://archive.org/download/lgp-demos/creatures/

### Project License

Proprietary

### Steam App Ids

https://store.steampowered.com/app/1659050/Creatures_Docking_Station/

### Additional Context

Currently not working out of the box in Proton because the game requires 16bit color.

There's also an open source engine, though it looks unfinished.
https://openc2e.github.io/

Othe

[2022-01-11 01:02] bluestang2006 opened #609 "Update Quake3e to Latest Release"
### Project Link

https://github.com/ec-/Quake3e/

### Project License

https://github.com/ec-/Quake3e/blob/master/COPYING.txt

### Steam App Ids

https://steamdb.info/app/2200/

### Additional Context

Quake3e had some recent PRs that fixed the video output using SDL2 >= v2.0.18 under its wayland driver.

This is the commit for the latest release - https://github.com/ec-/Quake3e/commit/2baea18753

[2022-01-11 03:08] d10sfan commented on #609
https://github.com/luxtorpeda-dev/packages/commit/42985f3591018945a1d63cc733cade77d604d4d2

Normally, I wait for the official release to come out, but I've gone ahead and updated to the latest. It should be available soon

[2022-01-11 03:08] #609 closed

[2022-01-11 03:10] d10sfan commented on #608
It looks like from the title that the closed source one is some sort of demo, so that wouldn't probably work, unless I misunderstood.

I could look at implementing openc2e but doesn't look like it's in a good playable state yet.

[2022-01-11 05:26] JoshuaFern commented on #608
It's not a demo, Docking Station has always been a free standalone game - although one could see it as a "demo" for Creatures 3.

There's also this download for Creatures "Internet Edition" which is just Creatures 3 + Docking Station for Linux
https://archive.org/details/linuxcie

And some additional downloads for Docking Station from fan sites:
http://www.computerpetz.com/creatures/dockingstation

[2022-01-11 08:50] rea987 commented on #600
@d10sfan Prospekt is a retail, standalone game that doesn't require Half-Life 2 to run. Source SDK Base 2013 Singleplayer and its client.so, server.so libraries would be sufficient. Would it be possible to remove Half-Life 2: Episode 2 from requirements? Thank you!

https://store.steampowered.com/app/399120/Prospekt/

[2022-01-12 16:15] d10sfan commented on #600
@rea987 Ok, I've changed that: https://github.com/luxtorpeda-dev/packages/commit/43defa05d9baf2367712796a7d278cd502ef6055

[2022-01-13 17:44] JoshuaFern commented on #608
I believe whoever is re-releasing this might not have access to the source code, instead the game is being patched using typical modding techniques.

Like `Steam/steamapps/common/Creatures Docking Station/Docking Station/Bootstrap/010 Docking Station Patches/login_disabler.cos` is a simple script designed to disable the online functionality in-game as the servers are down.

The good news is that w

[2022-01-21 15:37] rea987 opened #610 "Fast Detect"
### Project Link

https://github.com/ValveSoftware/source-sdk-2013

### Project License

Source SDK Copyright(c) Valve Corp.

### Steam App Ids

https://steamdb.info/app/353220/

### Additional Context

That is a free HL2 mod that works fine with Source SDK 2013 natively. Steps:

- Install **Fast Detect**
- Switch `upcoming` branch of **Source SDK Base 2013 Singleplayer** and install it
- Copy `~/

[2022-01-27 14:25] d10sfan commented on #608
@JoshuaFern Do you have any steps that you were able to use to get the installer to work from archive (the first link)?

So far, it looks like it needs some manual work, as it asks for a license agreement as part of the install script. Preferably, there would be a way to automate the extraction and all, similar to the prey or quake 4 engines.

[2022-01-27 14:27] d10sfan commented on #582
Going to close this for now, as it has issues with the steam integration, launcher, etc, along with being 32-bit only has its own issues.

Will be open to re-looking if there's additional interest.

[2022-01-27 14:27] #582 closed

[2022-01-29 00:56] lucascoelho07 commented on #592
Sorry for taking so long to answer

I don't remember where I got it, but it's the Roland SC-55 by EmperorGrieferus

For prboom-plus I've tested the version from the AUR and for libfluidsynth I'm using version 3.0.4 that comes with the fluidsynth package from the Extra repository on Arch

I expect it to use the soundfont I set in prboom-plus.cfg

Could you give me information on where to grab the l

[2022-01-29 03:49] d10sfan commented on #592
@lucascoelho07

By behavior, I was mainly wondering is it that the sound isn't working at all, or that it's not playing against the soundfont you expect?

For logs, the best way is running steam in terminal. Then you can copy and paste it into a file and upload it here.

Do other settings seem to be working between the prboom-plus you are using and the luxtorpeda one, like controls and graphics?

[2022-01-29 03:55] d10sfan commented on #592
@lucascoelho07

Also just to see if it helps, I did an upgrade PR where you can download the new version and see if it helps: https://github.com/luxtorpeda-dev/packages/suites/5105111019/artifacts/152802430

You can use this by going to ~/.cache/luxtorpeda/appid and replacing the latest .tar.xz file with the one inside the zip file given.

[2022-01-29 23:57] lucascoelho07 commented on #592
Everything seems to be working perfectly with the exception of music that plays but not as intended.
I tried this new version, but the game won't start (I renamed it to prboom-plus-common-6.tar.xz, is that right?)
[prboom-plus log](https://github.com/luxtorpeda-dev/packages/files/7965017/prboom-plus.log)
[steam log](https://github.com/luxtorpeda-dev/packages/files/7965018/steam.log)

[2022-01-31 03:36] JoshuaFern commented on #608
I don't really understand what a 'run' file is made up of, how to extract it, or even how it works. I've only encountered such files a handful of times but I imagine there's some standard way to extract the data from it.

[2022-01-31 14:04] d10sfan commented on #608
@JoshuaFern Normally you can do a command line switch to disable the script and have it just extract whatever it has, which I've done for some other engines. Although in this case, the extracted result had an additional script needed to extract from multiple archives the file has.

There is a dstation-install script that it uses to show the license agreement and then extract the libraries, about 2

[2022-02-01 14:14] rea987 opened #613 "ETQW OSS and potential SDL issue"
### Game

Enemy Territory: Quake Wars

### Engine

id Tech 4

### Linux Distribution

Ubuntu Mate 21.04

### Luxtorpeda Version

49

### Bug description

Luxtorpeda allows users to play retail version of ETQW as Enemy Territory: QUAKE Wars Demo 2.0 on Steam. As of late I am unable to receive OSS sound from ETQW retail via osspd. However, when I launch ETQW without Steam separately, I can get OSS s

[2022-02-05 15:36] d10sfan commented on #613
@rea987 What is the issue with using pulse? The reason why oss does not work most likely is because the game is running in the steam runtime, which does not have access to anything that you are installing on your host system.

The launch script is here: https://github.com/luxtorpeda-dev/packages/blob/master/engines/etqw/assets/run-retail.sh

You'll notice it copies the sdl file into the right spot

[2022-02-06 19:46] rea987 commented on #613
@d10sfan

ETQW is such an old game with outdated libraries that its both ALSA and OSS implementations are problematic on current distros. I need to use OSS to be able to use VoIP in the game. On current Ubuntu based systems there is no 32 bit padsp package, it's 64 bit only. Back in the day when padsp was available for 32 bit, I find it delayed comparing to osspd for ETQW.

Can't there be way to l

[2022-02-06 22:24] d10sfan commented on #613
@rea987 From my understanding, osspd requires a service running on the host system, so it's not something that could be included as part of the package.

There might be a way to link your host osspd to the steam runtime, although I'm not sure how that would be done.

There wouldn't be a way to not run inside steam runtime. You could try running the older non-runtime luxtorpeda if you want, althoug

[2022-02-06 22:44] rea987 commented on #613
Is v39 the latest release that allows non-runtime?

[2022-02-06 22:58] d10sfan commented on #613
Yes that's correct

[2022-02-06 23:13] rea987 commented on #613
Switching to v39 did the trick. However, as you pointed out, it doesn't support the game that are added after v39.

Is there a way to have multiple Luxtorpeda installed just like Steam allows multiple Proton releases? As of now, even if I rename v39's folder as luxtorpeda39 and latest one luxtorpeda49; it looks like the latter release interferes even with clean ~/.cache and ~/.config.

[2022-02-07 05:38] d10sfan commented on #613
@rea987 In the folder, you would want to change the compatibilitytool.vdf file and change the internal name and display name (so you could rename the old one to luxtorpeda-39) and keep the current one alone.

Note that the config file will be re-downloaded whenever you switch back and forth, but that should not cause any issues.

[2022-02-07 05:38] #613 closed

[2022-02-07 09:55] rea987 commented on #613
@d10sfan

Yes, that worked! Thanks!

[2022-02-10 21:06] d10sfan commented on #592
@lucascoelho07

Could you try downloading the latest and trying again? I believe I've gotten it fixed, if  you put the filename to a soundfont and then drop the soundfont in the "steamapps/common/Ultimate Doom/prboom-plus/" directory, it should see it.

I was able to put a soundfont and then use fluidsynth and the music played as expected.

If you still have issues, let me know and please provide

[2022-02-10 21:06] #592 closed

[2022-02-10 21:17] d10sfan commented on #610
Added in https://github.com/luxtorpeda-dev/packages/commit/fe61bf5e7e6673c4c61c1819d0574a1ffeed713e

Thanks for the suggestion.

[2022-02-10 21:17] #610 closed

[2022-02-11 01:44] lucascoelho07 commented on #592
IT WORKS!!!!!!!
THANK YOU SO MUCH
it also works on ~/ and ~/.prboom-plus

[2022-02-11 17:47] rea987 opened #615 "NXEngine-evo for Cave Story"
### Project Link

https://github.com/nxengine/nxengine-evo

### Project License

GPL-3.0

### Steam App Ids

https://steamdb.info/app/200900/

### Additional Context

**Dōkutsu Monogatari** is freeware platformer from 2004; it arrived to Steam with an enhanced edition named **Cave Story+** in 2011. Cave Story+ offered remastered as well as original textures and music; 2 additionally difficulty mod

[2022-02-17 15:56] vaibhavrmahadevan opened #616 "Doom Retro"
### Project Link

https://github.com/bradharding/doomretro

### Project License

GNU General Public License v3+

### Steam App Ids

https://steamdb.info/app/2280/
https://steamdb.info/app/2290/
https://steamdb.info/app/2300/
https://steamdb.info/app/9160/

### Additional Context

_No response_

[2022-02-24 16:40] d10sfan commented on #616
Thanks for the suggestion, I'm tracking additional work here: https://github.com/luxtorpeda-dev/packages/pull/618

[2022-02-24 16:40] #616 closed

[2022-02-25 13:02] vaibhavrmahadevan commented on #616
Thank you so much! 💗

[2022-03-01 05:36] d10sfan commented on #529
I've added a cloud icon with this commit: https://github.com/luxtorpeda-dev/packages/commit/352c7a1f5ede7d97ba562e54dd66a526eb3608f3

So far, this only shows if a game supports cloud saves in general or not. Eventually, this will also be added to for the games that do support cloud saves, whether or not the engines provided can interface with that in some way.

I'll be looking at controller suppor

[2022-03-06 06:16] bruno-fs commented on #184
@d10sfan Is there a way to maintain a user modified `metadata/packages.json` with local changes not being overridden on luxtorpeda updates?

[2022-03-06 13:56] d10sfan commented on #184
@bruno-fs Yes, this can be done with user-packages, you can see an example here: https://github.com/luxtorpeda-dev/luxtorpeda/issues/65#issuecomment-808634850

[2022-03-07 03:41] d10sfan commented on #616
Implemented in the PR linked above

[2022-03-08 15:01] rea987 opened #625 "[Suggestion] Switching to sdl12-compat from SDLCL"
[SDLCL](https://github.com/MrAlert/sdlcl) hasn't been updated since 2018. Although it does its job pretty well most of the times, it has a crucial black screen [bug](https://github.com/MrAlert/sdlcl/issues/14#issuecomment-388630899) with ETQW that has never been fixed.

On the other hand, [sdl12-compat](https://github.com/libsdl-org/sdl12-compat) has recently been reached a milestone [release](htt

[2022-03-08 15:28] d10sfan commented on #625
@rea987 Good suggestion.

I've started working on that. So far, ut2004 is done with this: https://github.com/luxtorpeda-dev/packages/pull/626

[2022-03-08 15:47] d10sfan commented on #625
Prey done here: https://github.com/luxtorpeda-dev/packages/commit/fa7af26b350dd4a78c8d5921d59f84e64a8f781e

[2022-03-08 16:01] d10sfan commented on #625
Quake 4 done here: https://github.com/luxtorpeda-dev/packages/pull/628

[2022-03-08 16:01] rea987 commented on #625
By checking [packages list](https://luxtorpeda-dev.github.io/packages.html), I noticed that some games have their Steam Overlay disabled. I theorize that some might be related with SDL incompability.

- [ctp2](https://github.com/ptitSeb/ctp2) for [Call to Power II](https://store.steampowered.com/app/572050/Call_to_Power_II/) seems to be quite an old port which uses SDL1. Using sdl12-compat might h

[2022-03-08 16:02] d10sfan commented on #625
@rea987

That is already done: https://github.com/luxtorpeda-dev/packages/blob/master/engines/ctp2/env.sh

SDL 1 isn't available in the new steam runtime, so I needed to use sdl12-compat in those cases, like for that and avp. I'm not sure why the steam overlay does not work for that one.

[2022-03-08 16:08] d10sfan commented on #625
Unreal gold here: https://github.com/luxtorpeda-dev/packages/pull/629

[2022-03-08 16:12] d10sfan commented on #625
ETQW is here: https://github.com/luxtorpeda-dev/packages/commit/0de77e900a83fbe2459b0441d689c426ab22f6a6

I think that should be all of them. sdlcl is now no longer used at all, replaced by sdl12-compat. Let me know if you run into any issues.

[2022-03-08 16:12] #625 closed

[2022-03-08 16:25] d10sfan commented on #615
It looks like this engine does not support Cave Story+, unless I'm misunderstanding: https://github.com/nxengine/nxengine-evo/issues/254

[2022-03-08 16:25] #615 closed

[2022-03-08 16:44] d10sfan commented on #625
@rea987 Thanks for the notice, looks like there was a bug in the build script. It's fixed here, should be live in a few minutes: https://github.com/luxtorpeda-dev/packages/commit/62d004e46c6b6e26efb39ba404e3da7a16324370

[2022-03-10 17:02] rea987 opened #630 "NetDuke32 for Duke Nukem 3D"
### Project Link

https://voidpoint.io/StrikerTheHedgefox/eduke32-csrefactor/-/releases/

### Project License

GPLv2

### Steam App Ids

- https://steamdb.info/app/434050/
- https://steamdb.info/app/225140/
- https://steamdb.info/app/359850/

### Additional Context

https://forums.duke4.net/topic/11826-netduke32-enhanced-duke3d-netplay/

Also, I noticed that original DN3D release on Steam isn't su

[2022-03-10 17:25] d10sfan commented on #630
@rea987

The original release isn't on the store anymore, so I would have no way to test it. Do you have that one?

I'll look into this engine though, thanks

[2022-03-10 17:49] rea987 commented on #630
Unfortunately I don't have that one. By the looks of depots, it utilizes DOSBox on Linux, Windows and macOS.

[2022-03-14 14:38] d10sfan commented on #630
@rea987

I added this for megaton edition here: https://github.com/luxtorpeda-dev/packages/pull/632

eduke32 does not seem to work with World Tour, at least the version that this project is using.

[2022-03-14 14:38] #630 closed

[2022-03-18 23:51] tlneondo opened #633 "Launcher Request - DoomRunner for GZDOOM & Other Doom Source Ports"
### Project Link

https://github.com/Youda008/DoomRunner

### Project License

GPL-3.0 License

### Steam App Ids

https://steamdb.info/app/2280/
https://steamdb.info/app/2300/
https://steamdb.info/app/2360/
https://steamdb.info/app/2390/

### Additional Context

This would just make it easier to launch Doom Mods on the Steam Deck, as editing launch arguments would be a pain.

This is how it looks

[2022-03-19 05:02] d10sfan commented on #633
@tlneondo Thanks for the request on this! I was able to get it working, and test it with Brutal Doom. I tested with Ultimate Doom.

The way it works is that it'll pre-fill the relative location to where gzdoom and the iwads are, and then you can pick which wad to use and what mods to use.

It's live now, so you should be good to go to try it out.

[2022-03-19 05:02] #633 closed

[2022-03-19 13:42] rea987 commented on #630
@d10sfan It looks like NetDuke32 has been added for Megaton Edition but not for World Tour. As Megaton is no longer on sale, would it be possible to add NetDuke32 fpr World Tour? Thank you!

[2022-03-19 13:45] d10sfan commented on #630
@rea987 As I mentioned above, it does not seem like this supports world tour. If you find out if there's any fixes for that, please let me know.

When I tried to run it, it came up with errors that it did not understand the con files.

[2022-03-19 14:05] rea987 commented on #630
Yeah, it looks like those who wish to play that port and happened to not own Megaton should go for Atomic Edition in Zoom Platform. Thanks for the explanation.

https://www.zoom-platform.com/product/duke-nukem-3d-atomic-edition

[2022-03-19 16:30] vaibhavrmahadevan opened #635 "Launcher Request - ZDL"
### Project Link

https://github.com/lcferrum/qzdl

### Project License

GPL-3.0 License

### Steam App Ids

https://steamdb.info/app/2280/
https://steamdb.info/app/2290/
https://steamdb.info/app/2300/
https://steamdb.info/app/9160/
https://steamdb.info/app/2360/
https://steamdb.info/app/2390/

### Additional Context

Hi d10sfan!

I was happy to find out that DoomRunner was now available and would

[2022-03-19 21:21] d10sfan commented on #635
@vaibhavrmahadevan Thanks for the suggestion, I've added it here: https://github.com/luxtorpeda-dev/packages/pull/636

I ended up using https://github.com/qbasicer/qzdl as it looks like it was updated more recently and this one compiled easier. Was able to test it with Ultimate Doom, but should work for the ones listed in https://luxtorpeda-dev.github.io/

It should be live in about an hour from t

[2022-03-19 21:21] #635 closed

[2022-04-03 11:54] vaibhavrmahadevan commented on #635
Hi @d10sfan!

In the past few days, I have noticed that qzdl does not launch for Final DOOM but the application does run when opened outside of steam :(

[2022-04-03 12:46] d10sfan commented on #635
@vaibhavrmahadevan

Can you run steam in Terminal and send the output of that attempt of running qzdl here?

Did you move Final DOOM between tries? As well, do other engines like running gzdoom directly work?

[2022-04-03 13:13] vaibhavrmahadevan commented on #635
[Final DOOM.txt](https://github.com/luxtorpeda-dev/packages/files/8404552/Final.DOOM.txt)

Tried to move it to the home directory and the ext4 partition (where Ultimate DOOM and DOOM II are installed) between tries but got the same result :(

Other engines and Doom Runner work perfectly though

[2022-04-05 14:01] d10sfan commented on #635
@vaibhavrmahadevan I believe that should be fixed by this change: https://github.com/luxtorpeda-dev/packages/commit/e9e9febe4f67f6ec5ca09acd7d26a38811145202

It should be live in a few hours, if  you can try it out then.

[2022-04-05 15:04] d10sfan commented on #635
@vaibhavrmahadevan The new build is now live.

[2022-04-09 02:00] d10sfan commented on #427
@JoshuaFern @Jpxe

I added retroarch support in this commit: https://github.com/luxtorpeda-dev/packages/commit/8bba438eb715d42cf3f64f5720d7689cd5fe98b3

I tested it with Super 3-D Noah's Ark, and Viper. Thanks for sponsors for providing funds for the games.

The way it works is there are default options for snes9x, PCSX ReARMed, and "Other". The first two will try to automatically load the game us

[2022-04-09 02:00] #427 closed

[2022-04-10 00:23] tlneondo opened #639 "The Apogee Throwback Pack Support - Blake Stone & Rise of the Triad"
### Project Link

rottexpr & bstone

### Project License

GPLv2 & GPLv3

### Steam App Ids

https://steamdb.info/app/238050/

### Additional Context

This is a bundle of games that Luxtorpeda already supports.

[2022-04-10 00:26] #639 closed

[2022-04-10 00:26] tlneondo commented on #639
Oh god I didn't even notice you beat me to it

[2022-04-13 15:18] vaibhavrmahadevan opened #640 "DoomRunner and QZDL for Master Levels for DOOM II"
### Project Link

https://github.com/qbasicer/qzdl

### Project License

GPL-3.0 License

### Steam App Ids

https://steamdb.info/app/9160/

### Additional Context

Hi d10sfan!

Really appreciated the inclusion of wadsmoosh and thought it would be really helpful to have both launchers as it would make launching GZDoom with other wads and midi-packs such as [Vanilla Essence](https://forum.zdoom.org

[2022-04-13 18:59] d10sfan commented on #640
@vaibhavrmahadevan Thanks for the suggestion.

doom-runner has been added here: https://github.com/luxtorpeda-dev/packages/commit/071370548d8d2d41e93056bb2fdb6cb6185cbd6a

And qzdl here: https://github.com/luxtorpeda-dev/packages/commit/75e867ed85356f2046ddf2a4a2cb3758a6846a1c

They should be live about an hour after this comment.

[2022-04-13 18:59] #640 closed

[2022-04-13 19:51] vaibhavrmahadevan commented on #640
yay!

Sadly though both qzdl and doom-runner both seem not be launching as earlier seen in Final Doom

[2022-04-13 19:52] vaibhavrmahadevan commented on #640
yay!

Sadly though both qzdl and doom-runner both seem to be not launching as earlier seen in Final Doom :(

[2022-04-13 19:55] vaibhavrmahadevan commented on #640
@d10sfan yay!

Sadly though both qzdl and doom-runner both seem to be not launching as earlier seen in Final Doom :(

[2022-04-13 19:55] d10sfan commented on #640
@vaibhavrmahadevan The actions to build it are still running, hopefully will be done soon.

[2022-04-13 20:01] d10sfan commented on #640
@vaibhavrmahadevan It should be live now. Github actions look longer than normal for whatever reason

[2022-04-14 04:47] vaibhavrmahadevan commented on #640
@d10sfan Thank you so much! 💗

[2022-04-17 10:46] rea987 opened #641 "Raze for Shadow Warrior Classic (1997)"
### Project Link

https://github.com/coelckers/Raze

### Project License

Various Licenses

### Steam App Ids

https://steamdb.info/app/238070/

### Additional Context

As I have tried, free to play Shadow Warrior Classic (1997) works fine with Raze. Extracting Raze .zip into `gameroot` folder of the game and running `raze` binary is enough.

[2022-04-18 02:21] d10sfan commented on #641
Thanks for the ticket, added in https://github.com/luxtorpeda-dev/packages/commit/fc71ad81c880b8cc73c2372cb02d7a18a46243d1

[2022-04-18 02:21] #641 closed

[2022-04-20 22:10] d10sfan commented on #529
@Jpxe Thanks for the help with the controller support investigation.

I've added metadata for controller support and the web UI (https://luxtorpeda-dev.github.io/) now reflects it. The icon is based on the default controller support for the game and the engine's support. Clicking on a different engine will change the icon. There's the following states for controller support (hovering over the icon

[2022-04-21 02:58] d10sfan commented on #529
Improvements for the Quake engines:

https://github.com/luxtorpeda-dev/packages/commit/2706bc5d6fa51a04bf681e173ef7175cc57c26cc
https://github.com/luxtorpeda-dev/packages/commit/21c160cdcc52eb3441c8607cd281801097aab4e6
https://github.com/luxtorpeda-dev/packages/commit/889277c0c7ba62a9a30442488866afdb8d22abd7

[2022-04-21 03:38] d10sfan commented on #529
yquake2 - https://github.com/luxtorpeda-dev/packages/commit/3c0f11a0ea986fe579533db91a1ffe7ccb4132c9

[2022-04-24 12:50] d10sfan opened #645 "Steam Cloud Support"
- [x] investigate support for games that store in windows dirs - https://github.com/ValveSoftware/Proton/blob/proton_8.0/proton#L1640 - cloudIssue stored for those
- [x] Investigate what needs to be done for multi-engine games and their saves

Games with Steam Cloud Save Support

- [x] An Elder Scrolls Legend: Battlespire
- [x] Anodyne
- [x] Command & Conquer™ Remastered Collection
- [x] Commander

[2022-04-24 12:50] d10sfan opened #646 "Steam Deck Config Defaults"
config - default to full screen 1280x800

- [x] openmw
- [x] warzone2100
- [x] openxcom
- [x] openxcom-oxce
- [x] jedi knight & academy
- [x] ecwolf
- [x] RealRTCW
- [x] Good-Robot
- [x] dhewm3
- [x] OpenLoco
- [x] iortcw
- [x] ut99

automatic resolution

- [x] Quake
- [x] Quake II
- [x] Quake III
- [x] ET Legacy
- [x] gzdoom
- [x] dosbox-staging
- [x] RetroArch
- [x] Arx Libertatis
- [x] scummvm

[2022-04-25 15:23] d10sfan commented on #529
Additional improvements for yquake2 - https://github.com/luxtorpeda-dev/packages/commit/516288298400872f5a2c695d68d3b3415c777f2c

gzdoom:
https://github.com/luxtorpeda-dev/packages/commit/0023b9e1942d2e19fd954a552f57429a0556f4f2
https://github.com/luxtorpeda-dev/packages/commit/24a4add8132035dd83a31330113a8b3044ee3a54
https://github.com/luxtorpeda-dev/packages/commit/bbc358f55caf51d2fb0a7e2542c998

[2022-04-25 15:23] #529 closed

[2022-04-26 15:53] tommis opened #649 "falltergeist"
### Project Link

https://github.com/falltergeist/falltergeist

### Project License

 GPL-3.0 License

### Steam App Ids

38400 fallout 1
38410 fallout 2

### Additional Context

https://falltergeist.org

[2022-04-26 15:58] tommis opened #650 "Commander-Genius for commander keen"
### Project Link

https://gitlab.com/Dringgstein/Commander-Genius/

### Project License

GPL-2.0

### Steam App Ids

9180

### Additional Context

https://clonekeenplus.sourceforge.io/index.php

[2022-04-26 22:29] rea987 opened #653 "ET: Legacy"
### Project Link

https://github.com/etlegacy/etlegacy

### Project License

GPLv3

### Steam App Ids

https://steamdb.info/app/1873030/depots/

### Additional Context

_No response_

[2022-04-26 22:43] d10sfan commented on #653
This is already implemented, but will look into adding the 64 bit version

[2022-04-27 00:28] Aftonstjarna opened #654 "Engine Request: Daggerfall Unity Engine Remake"
### Project Link

https://github.com/Interkarma/daggerfall-unity/

### Project License

MIT License

### Steam App Ids

https://steamdb.info/app/1812390/

### Additional Context

Daggerfall is now available on Steam
The Unity version has a good Linux build
This is the best way to experience TESII + all the mods made for it
Has controller support

[2022-04-27 02:04] d10sfan commented on #654
Thanks for the ticket. This is being worked ok, but on hold for the moment while waiting for a bug to be resolved. You can see this PR for more information and feel free to comment there if you'd like: https://github.com/luxtorpeda-dev/packages/pull/651

[2022-04-27 02:04] #654 closed

[2022-04-27 02:54] d10sfan commented on #653
Added 64-bit in this commit: https://github.com/luxtorpeda-dev/packages/commit/5cb43d61d4a2addf27e920f9709e47364a4e9d72

[2022-04-27 02:54] #653 closed

[2022-04-27 14:35] #649 closed

[2022-04-27 17:31] neuromancer opened #655 "Add more supported scummvm games (using stable and unstable releases)"
### Project Link

https://www.scummvm.org/

### Project License

https://github.com/scummvm/scummvm/blob/master/COPYING

### Steam App Ids

The list is too long, but it can fetched from here:

https://store.steampowered.com/curator/35667778-Powered-by-ScummVM/

Additionally, there are more games which are not listed here, such as Sanitarium or Crusader no remorse, which run in an recent nightly bu

[2022-04-27 17:40] d10sfan commented on #655
@neuromancer Is there any need for special treatment for all of the supported games, when the default scummvm option can be used? If that works the majority of the time, it probably isn't needed to add support for each individual title and ones could be added for any title that has unique needs.

For unstable versions, it may make sense to have a untested version of scummvm available as another de

[2022-04-27 17:49] neuromancer commented on #655
I believe most of the games should work out of box, however, in some cases, games using dosbox are distributed with iso images that should be mounted in order to detect the game data. These are not going to work out of the box (all the needed files for each game are detailed in the scummvm wiki. For instance: https://wiki.scummvm.org/index.php?title=Bud_Tucker_in_Double_Trouble )

Yes, let me get

[2022-04-27 18:10] d10sfan commented on #655
@neuromancer  Interesting, I may be able to do another generic scummvm option for iso support, where it tries to mount or extract the files that are required. I've used xorriso with OpenLara in the past to extract an iso, so something similar could work here.

Do you have an example of a steam game with an iso like that?

[2022-04-27 18:36] neuromancer commented on #655
Uhm, I cannot find a good example from the stable release (I know a few from GOG, but nothing that I own on Steam). However, I know that [Wetlands](https://store.steampowered.com/app/1367160/Wetlands/) requires to mount the ISO to detect it using scummvm (it's the [hypno engine](https://wiki.scummvm.org/index.php?title=Hypno)). This engine is not finished yet, but it will be in testing phase very

[2022-04-29 13:19] Arkaium opened #656 "Support for delisted versions of Duke 3D, Shadow Warrior?"
### Feature Request

Hi friend,

I LOVE this compatibility plugin btw, it’s amazing how seamlessly it works with Steam
Deck.

I’ve noted that my versions of Duke Nukem 3D and Shadow Warrior, classic/legacy versions that may have been delisted, are not detected correctly by Luxtorpeda. I assume if it gave me Raze as one of the default options on the “I don’t recognize this game” generic list, it wo

[2022-04-29 13:23] d10sfan commented on #656
@Arkaium

Thanks!

Do you have steam ids for the ones you are referring to? I could try adding the ones you're referring to, but I would have no way of testing them, so if you'd be willing to test, that'd be great.

[2022-04-29 16:36] d10sfan commented on #655
@neuromancer Could you update this ticket when Wetlands is ready for testing?

[2022-04-29 16:36] Arkaium commented on #656
Omg, you’re amazingly fast, they weren’t kidding on Reddit when they said you were. Thank you!

I’m not sure where to find that anymore but under updates in desktop mode:

Duke Nukem 3D
App ID: 359850
Build ID: 621777

Shadow Warrior Classic
App ID: 358400
Build ID: 613173

I didn’t create a new one for it since the other github I saw you comment on had it there, but Daggerfall Unity for the newly

[2022-04-29 16:39] d10sfan commented on #656
@Arkaium Thanks I'll take a look at that and see if I can make it work. For daggerfall unity, I'm waiting for an upstream fix before implementing it. You can see when it's available if you follow this: https://github.com/luxtorpeda-dev/packages/pull/651

[2022-04-29 17:32] Arkaium commented on #656
This app and the amount of work you’ve put into it is crazy impressive. I was almost getting frustrated you weren’t getting more chatter, and that folks didn’t seem to understand what Luxtorpeda was vs Lutris. Thank you!

Getting OpenMW running was so smooth and easy compared to trying to get the dedicated flatpak, then adding as a custom non-steam app, etc.

Looking forward to your continued prog

[2022-04-29 18:37] d10sfan commented on #656
@Arkaium Thanks I appreciate that!

I created an untested change that I believe will make the games work: https://github.com/luxtorpeda-dev/packages/commit/7bd17db211b3e0bf9e55a3329eb0c3a74264e176

Next time you launch them if you pick Luxtorpeda, it should launch those with raze. Let me know how it goes for you.

[2022-04-29 19:13] Arkaium commented on #656
Omg, wow. How are you so fast??

I have to download a new version of Luxtorpeda from ProtonQT-Up, or… it will just work? That’s fucking MAGIC if it just works. I’m not really savvy on compiling builds but I can figure it out if it needs to be a Linux terminal thing.

Sent from my iPhone

[2022-04-29 19:24] d10sfan commented on #656
For this, the package information is downloaded automatically, so it does not need to update Luxtorpeda itself. I'm hoping it works, but I don't own the games to try it myself. But it should be some straightforward debugging if needed.

[2022-04-29 19:27] Arkaium commented on #656
THEY BOTH WORK!! Holy shit man, amazing. I’m going to start telling everyone who gets a Deck to install Luxtorpeda, it’s a MUST.

Sent from my iPhone

[2022-04-29 19:30] d10sfan commented on #656
@Arkaium Great! I'll go ahead and close this then. Thanks for the new game suggestion.

[2022-04-29 19:30] #656 closed

[2022-04-30 07:32] neuromancer commented on #655
Sure, this should be out for testing in a week or two.

[2022-05-06 19:05] wof8317 opened #659 "Classic-RBDoom3BFG for Doom 3: Bethesda.net Edition"
### Project Link

https://github.com/MadDeCoDeR/Classic-RBDOOM-3-BFG

### Project License

GPL-3.0

### Steam App Ids

https://steamdb.info/app/1898710/

### Additional Context

For context: Doom 3: Bethesda.net Edition was a discounted version of Doom 3 BFG Edition that originally released in 2019 for then-current-gen consoles and exclusively on the Bethesda.net Client for PC. Since the retiremen

[2022-05-06 19:16] d10sfan commented on #659
@wof8317

Do you own this game? It does not look like there's a way to get a license at this point, so I wouldn't have any way of testing.

If you own it and are willing, I can push something up to try it and would need some further help debugging if there's any issues.

[2022-05-06 19:17] wof8317 commented on #659
Yes, I do own it myself, and am willing to help out with testing if needed.

[2022-05-06 22:48] neuromancer commented on #655
Wetlands is officially in [testing](https://www.scummvm.org/news/20220506/). I can test the luxtorpeda package when it is available to see if it detects the game properly in steam.

[2022-05-07 06:46] neuromancer opened #660 "scummvm engine will read the global/home configuration if it was also installed outside steam"
### Game

Any scummvm game

### Engine

scummvm

### Linux Distribution

ArchLinux

### Luxtorpeda Version

eb07b6ed5dd6e35d703d1b962742e0a6910da254

### Bug description

When luxtorpeda starts scummvm, it reads from the global/home config. So if you have scummvm installed, you can change your local configuration.

### Steps To Reproduce

1. Install scummvm in your OS and change the configuration

[2022-05-07 15:03] d10sfan commented on #660
@neuromancer

That mainly depends on if scummvm has a way to set where the configuration should be. Some engines like gzdoom provide a -config parameter that allows it to be changed. Do you know if scummvm has something similar?

It looks like this may work: https://docs.scummvm.org/en/latest/advanced_topics/command_line.html

Have you used --config before?

[2022-05-07 15:17] neuromancer commented on #660
I haven't use it, but it should work. In fact, it was used [in roberta](https://github.com/dreamer/roberta/blob/master/run-vm#L62) (if it fails for some reason, I will be happy to open an issue in the scummvm issue tracker). The suggested workflow should be:

1. Start with a unique (empty or non-existent) config file per game.
2. Detect any game in the directory where the game is downloaded (usual

[2022-05-07 16:26] d10sfan commented on #659
@wof8317

I've added it in this commit: https://github.com/luxtorpeda-dev/packages/commit/ed023bc55db7b74e5b276657b88d813c1f4eddf3

It should be live now. Could you test it and let me know if it works? If it does not, please describe the errors and run steam ina  terminal window and copy the log into a file and attach it here.

[2022-05-07 16:26] #659 closed

[2022-05-07 16:37] d10sfan commented on #660
@neuromancer

You can see the launch script here if you're interested: https://github.com/luxtorpeda-dev/packages/blob/master/engines/scummvm/assets/run-scummvm.sh

There's a few places it looks to grab paths, and then all of them for the --add step use the recursive flag.

I've added the change that sets the config file to a local one, it will go into ./scum/scummvm.ini:

https://github.com/luxto

[2022-05-07 16:37] #660 closed

[2022-05-07 20:14] neuromancer commented on #660
I just tested it and this seems to work fine. I will prefer a unique file for every game, but this is fine since it allows to use scummvm without having to worry to change the global config. Thanks!

[2022-05-07 20:34] neuromancer commented on #660
Oh, my mistake. This is actually implemented per game, creating a file inside the corresponding folder. That's great!

[2022-05-07 21:05] d10sfan commented on #660
Great, glad it worked for you! And yeah it writes it to every game folder, so each game will have their own unique config file.

[2022-05-09 04:21] d10sfan commented on #655
@neuromancer

I've added the logic for iso support, so it'll extract it if it finds it, and then adds the path to scummvm. This is implemented for the "scummvm" option, which is the one that changes based on official scummvm releases. You can see that logic here: https://github.com/luxtorpeda-dev/packages/blob/master/engines/scummvm/assets/run-scummvm.sh

I've added a scummvm-latest, which uses th

[2022-05-09 04:21] #655 closed

[2022-05-09 06:28] neuromancer commented on #655
A few comments:

* Extracting the iso works fine, as the game is detected later, but there is no indication on screen, which can be confusing for users (it takes around 20 seconds here?)
* Scummvm latest starts (well, sometimes), but always crashes when running the game. This was confirmed with Wetlands and Sanitarium. For instance:
[code]

Running the game directly outside steam, using the `bin/s

[2022-05-09 07:00] neuromancer commented on #655
Forcing the game to run with the sdl output fixes this crash. I think this mode is recommended, since the opengl one has known issues with dpi (fonts can be very small and the mouse pointers are not scaled properly)

[2022-05-09 13:42] d10sfan commented on #655
@neuromancer

I've made a change, just for scummvm-latest for now, that sets sdlsurface as the default, if the scummvm.ini file does not exist: https://github.com/luxtorpeda-dev/packages/commit/6ab6df6815fe644632566884758246146cc3ff21

That should be live in about half an hour from this message. I wasn't able to replicate a crash with the normal default, but that may be due to different resolution

[2022-05-11 14:47] holmraven opened #664 "Daggerfall Unity"
### Project Link

https://github.com/Interkarma/daggerfall-unity

### Project License

MIT License

### Steam App Ids

https://steamdb.info/app/1812390/

### Additional Context

_No response_

[2022-05-11 15:04] d10sfan commented on #664
@holmraven

Thanks for the interest. I'm already working on the engine, but it's currently on hold due to an issue with it running inside the Steam environment. Once that is fixed, I'll be able to implement it pretty quickly.

You can watch progress here: https://github.com/luxtorpeda-dev/packages/pull/651

[2022-05-11 15:04] #664 closed

[2022-05-15 16:45] daemonspudguy opened #665 "Serious Sam TFE Crashes"
### Game

Serious Sam Classic: The First Encounter

### Engine

Serious Engine

### Linux Distribution

Arch Linux

### Luxtorpeda Version

53

### Bug description

When launching Serious Sam TFE, the game crashes with the error code "Illegal Instruction" being outputted in Terminal.

### Steps To Reproduce

1. Launch Serious Sam TFE
2. It crashes

### Expected Behavior

The game launches

### Add

[2022-05-15 21:50] neuromancer commented on #660
Uhm, it seems that this lines `LD_LIBRARY_PATH="lib:$LD_LIBRARY_PATH" ./bin/scummvm -c scummvm.ini --fullscreen --gfx-mode=opengl --themepath=./share/scummvm` produces an override in the gfx-mode, and causes any game to crash during start, even if the game itself is configured using sdlsurface. Removing the `--gfx-mode` option fixes the issue.

[2022-05-16 01:33] d10sfan commented on #660
@neuromancer Ah good catch, I've removed that line as well: https://github.com/luxtorpeda-dev/packages/commit/f647180dec39957a39fc4d2bb4f51bef1aecaf3b

[2022-05-16 01:40] d10sfan commented on #665
@daemonspudguy

I just tried it on Arch (Endeavor) Linux and it worked ok.

Could you provide a larger log from the starting point of starting the game? That'll show what the luxtorpeda client was attempting to do at the time.

Also, do you see a popup message about reporting issues? mainly curious if it gets to that point (that's from the engine, not the luxtorpeda client).

[2022-05-16 15:32] daemonspudguy commented on #665
No, it doesn't get to that point. And that is legitimately the log output when running the binary.

[2022-05-16 16:00] d10sfan commented on #665
Can you try running steam in terminal and then launching the game? The sending a file with the terminal output

[2022-05-16 19:11] daemonspudguy commented on #665
`steam.sh[233376]: Running Steam on arch rolling 64-bit
steam.sh[233376]: STEAM_RUNTIME is enabled automatically
setup.sh[233450]: Steam runtime environment up-to-date!
steam.sh[233376]: Steam client's requirements are satisfied
[2022-05-16 15:10:08] Startup - updater built May 14 2022 00:02:57
Installing breakpad exception handler for appid(steam)/version(1652488014)
Looks like steam didn't shutd

[2022-05-16 19:13] daemonspudguy commented on #665
[steam log.txt](https://github.com/luxtorpeda-dev/packages/files/8702810/steam.log.txt)

[2022-05-16 19:25] d10sfan commented on #665
@daemonspudguy Can you also send over what steam outputs for the system information? Are you able to play other opengl games and other luxtorpeda games?

[2022-05-16 19:25] daemonspudguy commented on #665
How do I get system info from steam?

[2022-05-16 19:45] daemonspudguy commented on #665
[steam system log.txt](https://github.com/luxtorpeda-dev/packages/files/8702992/steam.system.log.txt)

[2022-05-16 19:49] daemonspudguy commented on #665
I'm able to play Doom 3 with the dhewm3 engine.

[2022-05-16 20:12] d10sfan commented on #665
The vram seems a bit low, but other than that seems pretty normal.

You may want to create a ticket on the Serious-Engine repo (https://github.com/ptitSeb/Serious-Engine), as it looks to be some sort of issue with the engine itself.

You may also want to try building it yourself as well, for reference this is what I'm using to build it: https://github.com/luxtorpeda-dev/packages/blob/master/engine

[2022-05-16 20:12] #665 closed

[2022-05-16 20:23] daemonspudguy commented on #665
Running the binary with GDB outputs this:
Using host libthread_db library "/usr/lib/libthread_db.so.1".

Program received signal SIGILL, Illegal instruction.
_GLOBAL__sub_I_DepthCheck.cpp(void) () at /__w/packages/packages/engines/serious-engine/source/Sources/Engine/Graphics/DepthCheck.cpp:293
293	in /__w/packages/packages/engines/serious-engine/source/Sources/Engine/Graphics/DepthCheck.cpp

[2022-05-23 21:19] daemonspudguy commented on #665
@d10sfan just an update, I tried a compiled version with your script and it segfaults. Seems to be a known issue upstream. Shame the developer seems to have fallen of the face of the planet.

[2022-05-23 21:34] d10sfan commented on #665
@daemonspudguy Ah ok, if anyone fixes it or if you find a fork that works better, feel free to ping me here.

[2022-05-23 21:38] daemonspudguy commented on #665
I did at least get the game running with Proton. What you have to do to get the textures to not be fucked on an AMD GPU is bring down the console and run the following: gap_iDepthBits=24

ApplyVideoMode()

[2022-05-26 01:37] d10sfan opened #667 "RetroArch"

[2022-05-26 03:24] #646 closed

[2022-05-26 03:25] d10sfan commented on #646
I've added default configs for games to help with resolution that I tested that needed it where possible. Feel free to comment here if there's any other games that could use some additional work.

[2022-05-26 04:35] d10sfan opened #669 "iortcw - Fix steam deck resolution"

[2022-05-26 15:51] #669 closed

[2022-05-27 15:14] tlneondo opened #670 "TES3: Morrowind - OpenMW Nightly With Zesterer's PBR Shaders"
### Project Link

https://github.com/zesterer/openmw-shaders.git

### Project License

NA

### Steam App Ids

https://steamdb.info/app/22320/

### Additional Context

No license is available for the shaders, but OpenMW spends a LONG TIME between releases, and the post processing backend has just been merged. It would be very helpful to have a functioning more up to date build, even if the shaders

[2022-05-27 21:19] d10sfan commented on #670
I asked about the license for the shaders. Once I have some more information there, I'll look over this again.

[2022-05-29 16:26] TheGreatestJannet opened #674 "Unreal Tournament 2004 don't add foxWSFix"
### Linux Distribution

Steam Flatpak

### Luxtorpeda Version

54

### Bug description

Luxtorpeda is adding the mod https://github.com/alexstrout/foxWSFix-UT2k4 to the game. This is causing issues when playing multiplayer as anticheat on servers check the game files and kick you if it detects the mod.

### Steps To Reproduce

1. Install the game with Luxtorpeda
2. Start the game
3. Join a server

[2022-05-29 19:32] d10sfan commented on #670
Further progress tracked here: https://github.com/luxtorpeda-dev/packages/pull/671

[2022-05-29 19:32] #670 closed

[2022-05-29 19:37] d10sfan commented on #674
@TheGreatestJannet Thanks for the issue.

The foxWSFix mod is added by doing the following

[code]

If you reverse that in the User.ini file (meaning that you set inputclass back to Engine.PlayerInput and remove the inputclass new line), is that enough to make that server work again?

[2022-05-29 19:40] TheGreatestJannet commented on #674
Yes I removed the mod by reverting the changes in User.ini and deleting the mod files and the server stopped kicking me.

[2022-05-29 19:41] d10sfan commented on #674
@TheGreatestJannet Did you need to delete the mod files, or was just changing the User.ini file enough?

[2022-05-29 19:42] TheGreatestJannet commented on #674
I reverted the changes in User.ini but I was still getting kicked. Completely deleting the files stopped that. I'm not sure why as changing User.ini apparently should be enough to stop it loading.

[2022-05-29 19:44] d10sfan commented on #674
@TheGreatestJannet Ah ok, thanks for the information. I'll see what I may be able to do to have options for it.

[2022-05-29 21:37] JoshuaFern commented on #674
Unreal Tournament 99 also has a similar third party anti-cheat technology used by servers and might have a similar issue with compatibility depending on what tweaks Luxtorpeda adds to the game.

Might be something to look into.

[2022-05-29 22:10] d10sfan commented on #674
Ut99 does not have any tweaks added onto it, other than using the latest 469 patch so it should not be affected but thanks for the reminder.

[2022-05-30 02:44] d10sfan commented on #674
I added this in https://github.com/luxtorpeda-dev/packages/commit/126d0a5c79f22f7131786df8d9c15f6e41d82b77

Now when you launch the game, it'll use the engine chooser for with or without foxWSFix. This creates a linuxdata-standard folder for the one without the mod. When launching between each one, it will change the user.ini file in the user directory, to make sure the mod is either enabled or di

[2022-05-30 02:44] #674 closed

[2022-05-30 10:41] TheGreatestJannet commented on #674
Thanks for adding this so quickly!

[2022-05-31 16:53] Fancy2209 opened #675 "OpenMW fails to extract"
### Game

The Elder Scrolls 3: Morrowind

### Engine

OpenMW

### Linux Distribution

Pop!_OS 22.04

### Luxtorpeda Version

v55

### Bug description

After selecting either OpenMW or OpenMW-Launcher, I get this error:
 ``Error unpacking openmw-22320-14.tar.xz: failed to unpack 'dist/include/QTLinuxAccessibilitySupport/5.12.11/QTLinuxAccessibilitySupport/private/atspiadaptor_p' into 'include/QTLin

[2022-05-31 17:00] Fancy2209 opened #676 "Package Request: doukutsu-rs"
### Project Link

https://github.com/doukutsu-rs/doukutsu-rs

### Project License

Modified MIT License

### Steam App Ids

https://store.steampowered.com/app/200900/Cave_Story

### Additional Context

While it comes packaged with game data, it is possible to run it with Cave Story+ data by having only the doukutsu-rs executable on the Cave Story+ Folder.
While Cave Story+ has a native linux versi

[2022-05-31 18:06] d10sfan commented on #675
@Fancy2209 What file system are you using?

Also, if you can follow the log instructions in this section - https://github.com/luxtorpeda-dev/luxtorpeda#configuration

And attach the file here, that would be helpful as well.

[2022-05-31 18:57] d10sfan commented on #676
Thanks for the request and the information. I've added it in https://github.com/luxtorpeda-dev/packages/commit/bc876b7bf6e5126c0b84c91c176beb32619146bd

[2022-05-31 18:57] #676 closed

[2022-05-31 19:21] Fancy2209 commented on #675
ext4, steam is running out of a external NTFS Drive
Manually extracting with 7z didn't seem to fail, but luxtorpeda will ignore anything it didn't extract.

Here's the log
[luxtorpeda.log](https://github.com/luxtorpeda-dev/packages/files/8808713/luxtorpeda.log)

[2022-05-31 19:23] d10sfan commented on #675
@Fancy2209 Ok, this may be related to the steam game folders being used on an NTFS drive, the paths that are needed by qt may be an issue.

I'd recommend trying to install morrowind on an ext4 drive and seeing if it still happens.

[2022-05-31 19:47] d10sfan commented on #675
@Fancy2209 Ah ok, I don't think there's anything I can do about that, and you may run into other issues trying to run linux applications on an ntfs drive (like permissions and the like). You could try re-partitioning part of the drive to be ext4, if you have enough space. If you have any further issues or suggestions, please let me know.

[2022-05-31 19:47] #675 closed

[2022-05-31 20:14] Fancy2209 commented on #675
Ok!
Thanks for all the help

[2022-06-01 12:40] Fancy2209 opened #678 "Package Request: Sonic CD 11 Decompilation"
### Project Link

https://github.com/Rubberduckycooly/Sonic-CD-11-Decompilation

### Project License

Custom: https://github.com/Rubberduckycooly/Sonic-CD-11-Decompilation/blob/master/LICENSE.md

### Steam App Ids

https://steamdb.info/app/200940/

### Additional Context

To install mods the folder scripts from [here](https://github.com/Rubberduckycooly/Sonic-CD-2011-Script-Decompilation) needs to

[2022-06-01 12:47] Fancy2209 commented on #678
Since this is a won't fix I will close the issue, but mind explaining why?

[2022-06-01 12:47] d10sfan commented on #678
@Fancy2209

Thanks for the request. I've looked at sonic cd before, and because of the issues with re3 in the past, I prefer to avoid decompilation projects due to the unclear licensing. You can see https://github.com/luxtorpeda-dev/packages/issues/184#issuecomment-961869210 for a bit more information. You can also use user-packages if you have it installed and want an easy way to launch the game.

[2022-06-01 12:47] #678 closed

[2022-06-01 12:48] Fancy2209 commented on #678
Ok, thanks for the heads up

[2022-06-02 18:30] ensiform opened #679 "ETe for Wolfenstein: Enemy Territory"
### Project Link

https://github.com/etfdevs/ETe

### Project License

GPLv3+

### Steam App Ids

https://steamdb.info/app/1873030/

### Additional Context

This game was recently released on Steam when Bethesda Launcher was decomissioned. My engine fork is similar to the [Quake3e Project](https://github.com/ec-/Quake3e) but for W:ET which already has an entry for Q3A (https://github.com/luxtorped

[2022-06-02 18:48] d10sfan commented on #679
@ensiform

Thanks for the package suggestion and the engine! I've got et:legacy available as an option and I can add this one as well.

I had a few questions to make sure I understand building it and the usage:

- It looks like it is expected to be built in 32-bit mode correct? From reading https://github.com/etfdevs/ETe/blob/master/src/linux_build.sh#L45
- For building in 64-bit mode, is it as si

[2022-06-02 19:03] ensiform commented on #679
linux_build.sh can be used but it is outdated and was created for personal use by another developer. The github workflow does all of the work for latest releases without using that script. It also does the copying and generating of [ete-etmain-mod-replacement-allplatform.zip](https://github.com/etfdevs/ETe/releases/download/latest/ete-etmain-mod-replacement-allplatform.zip)

At the moment I am not

[2022-06-02 19:52] d10sfan commented on #679
@ensiform

Thanks for the information! I created a starting point for it, let me know what you think: https://github.com/luxtorpeda-dev/packages/pull/680

This builds just 32-bit for now, let me know if it makes sense to also do 64-bit. I also added the etmain mod building, to provide the cgame, qagame, and ui. Let me know if that makes sense for this case, or if there's something else I should do

[2022-06-02 19:54] d10sfan commented on #679
[dist.zip](https://github.com/luxtorpeda-dev/packages/files/8827463/dist.zip)

Also, if you'd like to look at the built result, I've attached it above.

[2022-06-02 20:17] Aciz opened #681 "ETLegacy 64-bit path issue"
### Game

 Wolfenstein: Enemy Territory

### Engine

ETLegacy 64-bit

### Linux Distribution

Arch Linux

### Luxtorpeda Version

55

### Bug description

Installing ***only*** 64-bit ETLegacy does not work without manual intervention. It installs into a subfolder `etlegacy-64` inside the Wolfenstein: Enemy Territory folder, and launches with the working directory being set to the `steamapps/commo

[2022-06-02 20:27] d10sfan commented on #681
@Aciz Thanks for the report. I'll look into this soon.

[2022-06-02 20:44] ensiform commented on #679
The steam release does provide the 32-bit linux versions of the client and ui modules (inside etmain/mp_bin.pk3 and will be extracted to homepath when launched) but you are correct, the qagame (server side) is missing. If its possible to pull the qagame.mp.i386.so from that zip easily I guess that would work too. Just so players don't mistake that something changed in the game itself without knowi

[2022-06-02 20:52] d10sfan commented on #679
@ensiform

I've run into the steam overlay issue in the past with long running processes, especially related to logging from what I remember, and it made a difference. For this, it probably isn't needed, but it's good to keep it the same as the rest.

What I could do for the linux version is extract the entire thing into a directory on the person's computer and then copy that one file. I wouldn't

[2022-06-02 21:00] ensiform commented on #679
Found it on etlegacy's mirror hosting by itself: https://mirror.etlegacy.com/etmain/qagame.mp.i386.so

[2022-06-02 21:01] d10sfan commented on #679
@ensiform

Ah ok thanks, I'll try that.

[2022-06-02 21:39] d10sfan commented on #681
@Aciz

This should be fixed now in https://github.com/luxtorpeda-dev/packages/commit/565352cdc60f33d766b897113f93e4b3ccc7e7bd. There was also another fix for a missing library that seemed to have happened fairly recently: https://github.com/luxtorpeda-dev/packages/commit/d6aca9cd3f2c67ed2cb2d811a6c2b96afb3212a2

I tried it with both the 64 and 32 bit and it worked well on my end. Let me know how i

[2022-06-02 21:39] #681 closed

[2022-06-02 22:28] Aciz commented on #681
@d10sfan seems to work perfectly, thank you for the quick fix!

[2022-06-02 22:33] Aciz commented on #681
Side note: that library preloading is afaik only required for a specific ET mod called silent, it also does not support 64-bit linux at all, so preloading it on x64 is not necessarily required. We've documented this over at ET: Legacy wiki as well https://github.com/etlegacy/etlegacy/wiki/Compatible-Mods#linux

[2022-06-02 23:32] d10sfan commented on #681
@Aciz thanks for the heads up! Do you know of any downsides to having it all the time for 32 bit? I could remove it from 64 bit if needed. Thankfully with the steam runtime that library is included from what I can see so it should be available all the time.

[2022-06-02 23:35] Aciz commented on #681
I doubt it's of any harm to preload it all the time. I'll be playing with this luxtorpeda setup for now, I'll report if I encounter any issues with the preloaded library on other mods. If it doesn't cause issues, it's a good idea to leave it on for at least on 32-bit, so that it works across all mods without tinkering on user side.

[2022-06-03 02:11] d10sfan commented on #681
@Aciz Ok, thanks for the assistance, I appreciate that. Let me know if you run into any issues, and I'll take a look.

[2022-06-03 02:53] d10sfan commented on #679
@ensiform Thanks for the help on this! I've made the change to use that library and I've merged the PR and it's now available. I was able to join a server and play for a bit. Let me know if you run into any issues or have any further suggestions.

Here's the commit if you're interested: https://github.com/luxtorpeda-dev/packages/commit/f46b8d04582f1d0b7e6268c07b4b8f6b3a6f772b

[2022-06-03 02:53] #679 closed

[2022-06-03 04:36] ensiform commented on #679
Was there a reason why the etlegacy repo is checked out for build stage?

[2022-06-03 04:38] d10sfan commented on #679
@ensiform Since we are using their mirror/library, I wanted to add the license file from that project in additon to the ete license.

[2022-06-03 04:39] ensiform commented on #679
It's just a mirror of the file which comes from the 2.60 Linux vET install however. But I guess that's fine.

[2022-06-04 20:52] witheredwojak opened #683 "OpenMW (Latest) no crosshair & 3rd person doesn't work"
### Game

The Elder Scrolls III: Morrowind

### Engine

OpenMW (Latest)

### Linux Distribution

Linux Mint 20.3 Cinnamon

### Luxtorpeda Version

54

### Bug description

There is no crosshair and 3rd person look in game.

### Steps To Reproduce

I installed OpenMW (Latest) after playing on OpenMW Stable 0.47 version, so I have OpenMW 0.47 inside `Morrowind` dir and OpenMW 0.48 (Latest) inside `M

[2022-06-04 21:31] witheredwojak commented on #683
Tried deleting all related to openmw (configs from ~./config/openmw, saves from ~./local/share/openmw, 0.47 version from Morrowind dir, etc) and fresh installing openmw-latest but still no crosshair & 3rd person

[2022-06-04 21:33] witheredwojak commented on #683
(sorry, accidentally closed the issue)

[2022-06-04 21:59] d10sfan commented on #683
@witheredwojak Thanks for the report, I'll take a look.

You shouldn't need to mess with the user directory saves and  config directories, as latest is trying to use a local to the directory path.

[2022-06-05 02:57] d10sfan commented on #683
Looks like the main issue is that (like mentioned in the discord) that this line is missing from the config:

[code]

Once I add that, it seems to work as expected, if launched directly without the launcher. I asked in that discord for some assistance regarding it seems like that line is removed if you launch from the launcher.

I created this PR for the progress so far: https://github.com/luxtorp

[2022-06-05 15:01] witheredwojak commented on #683
In which openmw.cfg did you add this line? Because I already have `content=builtin.omwscripts` in global openmw.cfg (`openmw-latest/etc/openmw`) but crosshair/3rd person doesn't work.
Also, are there any temporary ways to fix the problem? Because I'm afraid to continue my 0.47 savegame on this version. Maybe my savegame will break because of this problem? Do I need to go back to openmw 0.47?

[2022-06-05 16:23] d10sfan commented on #683
With the recent changes they use the local one only from what I can tell, so it'd be the openmw.cfg file in the openmw-latest directory. The issue currently though is the launcher seems to remove it. If I don't get any response or figure it out soon I'll update so that the game launches directly without the launcher for now, just for latest.

[2022-06-05 22:39] d10sfan commented on #683
@witheredwojak

I've made these changes - https://github.com/luxtorpeda-dev/packages/commit/55993cca31bdc352b52ba82ae0c48e29cbd4cc28 that should fix the issue

The openmw.cfg and settings.cfg are expected to be in ./openmw-latest/config/openmw, provided that you start in the Morrowind game directory. I've created soft links from that directory to ./openmw/openmw.cfg, but you shouldn't need to worr

[2022-06-05 22:39] #683 closed

[2022-06-05 22:56] d10sfan opened #685 "doom-retro Issues"
- Save crashes (not pathing issue), and does not work outside steam
- Build sdl image 2.0.5 (maybe needed for client-beta soldier and re-test)

[2022-06-06 03:45] #685 closed

[2022-06-06 06:36] witheredwojak commented on #683
Well, game doesn't start at all now. A luxtorpeda's window for choosing what to run appears, and when I select OpenMW (Latest) the game immediately stops.

[2022-06-06 06:45] witheredwojak commented on #683
Here is steam console log:
https://pastebin.com/UakHKcuT

[2022-06-06 13:11] d10sfan commented on #683
@witheredwojak There should be more logs after that, it looks like something is missing. I don't see any logs from luxtorpeda in there, which should normally be there.

Could you try running steam in terminal again and seeing what the output has?

Also, you can try the logging instructions at https://github.com/luxtorpeda-dev/luxtorpeda#configuration

[2022-06-06 13:55] d10sfan commented on #683
@witheredwojak Great, good to hear!

[2022-06-12 13:27] neuromancer commented on #655
Can you please update the unstable release to use the latest commit in master or at least the 2.6.0 RC branch? There are some number of Wetlands fixes there (as well as other games, of course). Also, what is the most effective way to ask for rebuilding this code?

[2022-06-12 22:24] GameEnder opened #688 "OpenMW Lancher for Other builds."
### Feature Request

OpenMW Add Launcher Options for tes3mp and Nightly builds.

### Solution

Add launcher options for the other builds of OpenMW that available for use. Would be useful to configure options and mods for those builds.

### Additional Context

_No response_

[2022-06-13 02:14] d10sfan commented on #688
@GameEnder Thanks for the issue.

openmw-tes3mp already launches using the launcher, using the "openmw-tes3mp" option for it. You use the launcher to pick your options and mods and then the server browser is launched when you click play.

The openmw latest option does not have the launcher option because from testing the line to import the lua scripts gets removed when using the launcher. I have b

[2022-06-13 02:14] #688 closed

[2022-06-13 02:40] d10sfan commented on #655
@neuromancer

I've updated scummvm-latest to use the latest from branch-2-6 on github. It's done in this: https://github.com/luxtorpeda-dev/packages/pull/689

For future updates, the best option would be to comment in this issue if it's related to scummvm, or if there's some other engine that could use updates, feel free to create an issue about it.

[2022-06-14 02:30] d10sfan opened #690 "mkxp-z"
### Project Link

https://gitlab.com/mkxp-z/mkxp-z

### Project License

https://gitlab.com/mkxp-z/mkxp-z/-/blob/release/COPYING

### Steam App Ids

https://steamdb.info/instantsearch/?refinementList%5Btechnologies%5D%5B0%5D=Engine.RPGMaker

Possibly https://store.steampowered.com/app/1454010/Diary_of_Lucie/?curator_clanid=4777282&utm_source=SteamDB (try demo first)

### Additional Context

Create

[2022-06-14 03:13] d10sfan commented on #683
@witheredwojak

I've added back support for the launcher (https://github.com/luxtorpeda-dev/packages/commit/6e59574dd0c27e1946183d54d53534f0bacab02e). This changes the config structure a bit, but it should be usable without having to change anything manually. Config is in ./openmw-latest/local-cfg and soft links are created for existing files.

Let me know if you run into any issues on the new bui

[2022-06-14 03:13] d10sfan commented on #688
@GameEnder

I've added back support for the launcher (https://github.com/luxtorpeda-dev/packages/commit/6e59574dd0c27e1946183d54d53534f0bacab02e). This changes the config structure a bit, but it should be usable without having to change anything manually. Config is in ./openmw-latest/local-cfg and soft links are created for existing files.

Let me know if you run into any issues on the new build.

[2022-06-23 10:25] dragon99919 opened #695 "Serious Sam Classic titles not working"
### Game

Serious Sam Classic: The First Encounter/Serious Sam Classic: The Second Encounter

### Engine

serious-engine

### Linux Distribution

SteamOS on SteamDeck (Desktop Mode)

### Luxtorpeda Version

55

### Bug description

Engine downloads after starting game but then crashes without any error. Trying to launch game again makes it crash again.

### Steps To Reproduce

1. Download Serious

[2022-06-23 17:57] d10sfan commented on #695
@dragon99919

I've switched the project used with a different one that's vulkan based, that is more up to date. That should fix the crashing as well (https://github.com/luxtorpeda-dev/packages/commit/479e7f10883abb9cd66b53d178bb5fd695b00266).

Let me know if you still have issues. It should be live about 10-15 minutes after this comment.

[2022-06-23 17:57] #695 closed

[2022-06-23 20:07] dragon99919 commented on #695
Both games work like a charm now, thanks a lot! : )

[2022-06-29 17:44] cyberconan opened #698 "Eduke32 for Duke Nukem 3D: 20th Anniversary World Tour"
### Project Link

https://voidpoint.io/terminx/eduke32

### Project License

https://voidpoint.io/terminx/eduke32/-/blob/master/source/duke3d/gpl-2.0.txt

### Steam App Ids

https://store.steampowered.com/app/434050/Duke_Nukem_3D_20th_Anniversary_World_Tour/

### Additional Context

Hello d10sfan!
Duke Nukem 3D: Megaton Edition is no longer available for purchase on Steam. Instead, I have the 20th

[2022-06-30 01:10] d10sfan commented on #698
@cyberconan Thanks for the issue, I've added it in https://github.com/luxtorpeda-dev/packages/commit/6e0a45bf98fbf81eb244e75418ba216b362f4889

Let me know if you run into any issues.

[2022-07-01 14:49] cyberconan commented on #698
Hi d10sfan, the eduke32 version than use luxtorpeda is from 2019, is almost compatible with 20th edition but have some issues and chapters can't be selected, only individual maps.
![Screenshot_20220701_164718](https://user-images.githubusercontent.com/1497109/176917537-3c3fc4b7-12f9-4900-949c-033c6f226552.png)

Latest Eduke32 versions works perfect. Thanks!!

[2022-07-01 14:51] d10sfan commented on #698
@cyberconan The commit that is in use is from 7 months ago. Are you saying that the most recent master branch (https://voidpoint.io/terminx/eduke32) works better?

[2022-07-01 16:20] d10sfan commented on #698
@cyberconan I updated eduke32 to the latest master, is it working for you now?

[2022-07-02 00:23] cyberconan commented on #698
I have found the problem. Eduke32 don't need GAME.CON and USER.CON files and those files generate the issue.
https://wiki.eduke32.com/wiki/Installation_and_configuration
A dirty trick is rename those files and now Eduke32 runs well and shows the Duke Nukem chapters.
Regards!!

[2022-07-03 17:57] rea987 opened #701 "Homeworld SDL for Homeworld Classic"
### Project Link

https://github.com/HomeworldSDL/HomeworldSDL

### Project License

Relic EULA

### Steam App Ids

https://steamdb.info/app/244160/

### Additional Context

License:
https://github.com/HomeworldSDL/HomeworldSDL/blob/master/LICENSE.txt

Additional info:
https://www.reddit.com/r/homeworld/comments/1u3w1r/homeworld_open_source_projects_and_free/

Homeworld Remastered Collection conta

[2022-07-03 23:02] JoshuaFern opened #702 "Witchaven 1/2 + BuildGDX Crash on Exit"
### Game

Witchaven 1/2

### Engine

BuildGDX

### Linux Distribution

NixOS + Flatpak

### Luxtorpeda Version

53

### Bug description

When exiting the game it crashes and leaves behind a broken window.

### Steps To Reproduce

Exit the game using the in-game menu.

### Expected Behavior

The game should exit cleanly.

### Additional Context

After the window hangs, the game can be forced closed

[2022-07-05 03:13] d10sfan commented on #701
@rea987

It looks like this project is not compatible with the steam version of the assets. I created an issue here to see if there's a resolution: https://github.com/HomeworldSDL/HomeworldSDL/issues/11

My progress so far on the building of the project: https://github.com/luxtorpeda-dev/packages/pull/704

[2022-07-05 03:31] d10sfan commented on #701
I found a different project (https://github.com/GardensOfKadesh/Homeworld) that has support for the remaster. Working on supporting it instead.

[2022-07-05 04:18] d10sfan commented on #701
@rea987 Added in https://github.com/luxtorpeda-dev/packages/commit/e06e322d2f5a1617c77cef7157970b9fdf765a8d

[2022-07-05 04:18] #701 closed

[2022-07-05 07:58] vasdfj opened #705 "Save file is created for Witchaven 1 & 2, but can't be accessed from in-game load menu"
### Game

Witchaven 1 & 2

### Engine

BuildGDX

### Linux Distribution

KDE neon User - 5.25 x86_64

### Luxtorpeda Version

55

### Bug description

When attempting to save a file in either Witchaven 1 or 2, the .sav file is created, and exists along with the .ini file, which is itself read correctly at startup. When saving, and then accessing the load screen, the save file is actually displayed

[2022-07-05 19:55] d10sfan commented on #702
I am able to replicate this. This appears to be an issue with the upstream engine as this is just using the built version from the BuildGDX project. I'm not sure as to a resolution as this time.

[2022-07-05 19:55] d10sfan commented on #705
I am able to replicate this. This appears to be an issue with the upstream engine as this is just using the built version from the BuildGDX project. I'm not sure as to a resolution as this time.

[2022-07-06 02:41] d10sfan commented on #698
@cyberconan Thanks for the help! I've fixed this in https://github.com/luxtorpeda-dev/packages/commit/1bc1623f96d77288d6653902f969f32f908801fe

It should work next time you launch the game. Let me know if that works for you as well.

[2022-07-06 02:41] #698 closed

[2022-07-06 05:22] rea987 commented on #701
@d10sfan Gardens of Kadesh utilizes Homeworld Classic, right? Also, I am unable to make the game fullscreen with `F11` or `Alt+Enter`; which button(s) switch to fullscreen?

[2022-07-06 13:43] d10sfan commented on #701
@rea987 Yes, this uses homeworld classic. it does not look like there's a way to go fullscreen, I'm able with kde to remove the window decoration. I tried setting the ~/.homeworld config file to say fullscreen but that does not do anything either. That would have to be something to be added by the upstream project.

[2022-07-08 02:56] d10sfan commented on #705
@vasdfj

I attempted to get some help from upstream and have done some stuff myself as well, to no avail. For now, I've removed BuildGDX as an engine, but will add it back if this gets resolved. In the meantime, Witchaven games are now supported by dosbox-staging. If  BuildGDX works again, I'll have both as engine choices for those games.

[2022-07-08 02:56] #705 closed

[2022-07-08 02:56] d10sfan commented on #702
@JoshuaFern

I attempted to get some help from upstream and have done some stuff myself as well, to no avail. For now, I've removed BuildGDX as an engine, but will add it back if this gets resolved. In the meantime, Witchaven games are now supported by dosbox-staging. If  BuildGDX works again, I'll have both as engine choices for those games.

[2022-07-08 02:56] #702 closed

[2022-07-15 14:31] jorgicio commented on #407
Hello. Do you remember this issue? Well, finally I found the cause, so I sent a PR to the maintainer in order to fix the variable settings.

In the meantime, you could add the related patch with that PR.
https://github.com/MadDeCoDeR/Classic-RBDOOM-3-BFG/commit/e90b31dcc2901f4d8390f8089a8bd43f88c575ea.patch

[2022-07-23 04:44] d10sfan commented on #407
@jorgicio

I've added that change here: https://github.com/luxtorpeda-dev/packages/pull/706

Next time you launch once it finishes compiling (about half an hour from this comment), it should be there. Let me know how it goes.

[2022-07-23 05:23] jorgicio commented on #407
@d10sfan Thank you very much! I just tested the latest version you uploaded and now it works flawlessly by now. I can see all the Spanish text and it works as it should. BTW, the PR was accepted upstream, so I hope there will be a future version of BFA soon.

Anyways, thanks again!

Greetings.

[2022-07-23 15:28] jm2 commented on #353
Could this be tweaked so owners of the full version can use the Linux engine as well? The full version uses AppID 10000 so it's currently not picked up by the commits for the demo here.

[2022-07-23 16:21] d10sfan commented on #353
@jm2 Do you own the full version to help test?

[2022-07-24 05:18] jm2 commented on #353
@d10sfan yes I do and happy to test.

[2022-07-27 18:41] d10sfan commented on #353
@jm2 I'll take a look at this when I have a chance and get back to you once there's something ready to test. I don't own it, so it may take a few tries.

[2022-07-29 08:52] rea987 commented on #353
Liflg's etqw 1.5 installer's data has been uploaded to GitHub while ago;

https://github.com/liflg/etqw_1.5-multilingual_x86

[2022-07-29 12:16] NerosTie opened #707 "RVGL for Re-Volt"
### Project Link

https://gitlab.com/re-volt/rvgl-base

### Project License

Unknown

### Steam App Ids

- https://steamdb.info/app/287310/

### Additional Context

Official websites:
- https://rvgl.org/
- https://re-volt.io/downloads/game

[2022-07-30 16:21] d10sfan commented on #707
@NerosTie Thanks for the request, I've implemented this and it should also work on the steam deck.

[2022-07-30 16:21] #707 closed

[2022-07-31 01:38] d10sfan commented on #353
@rea987 It looks like that will not be useful because of the way github's downloading works (it does not provide a download size), so there'll need to be some manual steps involved, but will update once I have a solution for that.

[2022-08-05 02:43] agibson2 opened #711 "Update dxx-rebirth to newest build"
### Feature Request

The current version of Descent 2 that people are using on the Descent and Descent Rangers Discord seem to be version 0.61.0 and that matches luxtorpeda but the multiplayer protocol mismatches.  They are just downloading the windows exe from the dxx-rebirth website.  They seem to have protocol 14 and what is included with luxtorpeda is 12.  Likely it needs to be rebuilt for the